---
permalink: /routes.json
eleventyExcludeFromCollections: true
---
{
  "routes": [
    {
      "route": "/pdf",
      "serve": "https://covid19pdfs.azureedge.net/pdf",
      "statusCode": 301
    }

  ],
  "platformErrorOverrides": [
    {
      "errorType": "NotFound",
      "serve": "/404/"
    },
    {
      "errorType": "Unauthenticated",
      "serve": "/404/"
    }
  ]
}