---
permalink: /routes.json
eleventyExcludeFromCollections: true
---
{
  "routes": [
    {
      "route": "/specials-test-redirect",
      "serve": "/search/?q=closed",
      "statusCode": 301
    }
  ],
  "platformErrorOverrides": [
    {
      "errorType": "NotFound",
      "serve": "/404/"
    },
    {
      "errorType": "Unauthenticated",
      "serve": "/404/"
    }
  ]
}