---
layout: "page.njk"
title: "Getting health care from home through telehealth"
meta: "During this coronavirus outbreak, the safest way to get medical care is over the phone or online."
author: "State of California"
publishdate: "2020-05-01T11:56:23Z"
tags: ["Online", "phone", "medical", "care"]
addtositemap: true
permalink: /telehealth/index.html
---

{% include "../wordpress-posts/online-and-phone-medical-care-options-telehealth.html" %}

<div class="row">
  <div class="col-md-12">
    <cwds-lookup data-search-api="https://api.alpha.ca.gov/CaZipCityCountyTypeAhead?citymode=false&countymode=true&q=" />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="js-telehealth-providers" aria-live="polite">
      <ul class="card-set"></ul>
    </div>
  </div>
</div>