---
permalink: /web.config
eleventyExcludeFromCollections: true
---
{%- set JSONraw %}{%- include "../wordpress-posts/page-redirect-table.json" -%}{%- endset -%}
{%- set JSON = JSONraw | jsonparse -%}
{%- set redirects = JSON.Table1 | selectattr("original_url")  -%}
<?xml version="1.0" encoding="utf-8"?>
{%- if redirects | groupby("original_url") | length !== redirects | length %}
{# duplicate "original_url" in data, throw error #}
{{ error_web_config_duplicate_original_url() }}
{% endif -%}
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="410Removals" defaultValue="">
          {%- for item in redirects | rejectattr("replacement_url") %}
          <add key="{{item.original_url}}" value="foo" />
          {%- endfor %}
        </rewriteMap>
        <rewriteMap name="StaticRewrites" defaultValue="">
          {%- for item in redirects | selectattr("replacement_url") %}
          <add key="{{item.original_url}}" value="{{item.replacement_url}}" />
          {%- endfor %}
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="FolderRemoval1" stopProcessing="true">
          <match url="wordpress-posts/(.*)" />
          <action type="Redirect" url="/{R:1}" />
        </rule>
        <rule name="AddTrailingSlash BeforeStaticRewrites" stopProcessing="true">
          <match url="(^[^.]*[^/]$)" />
          <action type="Redirect" url="{UrlEncode:{R:1}}/" />
        </rule>
        <rule name="Static Rewrite Rule" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{StaticRewrites:{URL}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" />
        </rule>
        <rule name="RedirectWwwToNonWww" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="https://{C:2}{REQUEST_URI}" />
        </rule>
        <rule name="410response" stopProcessing="true">
          <conditions>
            <add input="{410Removals:{URL}}" pattern=".+" />
          </conditions>
          <action type="CustomResponse" statusCode="410" statusReason="Gone" statusDescription="Gone. The requested resource is no longer available." />
        </rule>
        <rule name="RemoveQuerystringFromPdf" stopProcessing="true">
          <match url="(.*\.pdf$)" />
          <conditions>
            <add input="{QUERY_STRING}" pattern=".+" />
          </conditions>
          <action type="Redirect" url="{R:1}" appendQueryString="false" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS">
          <!-- Preload HSTS here ... https://hstspreload.org/ -->
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom" defaultResponseMode="File" >
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="404\index.html" />
      <error statusCode="500" path="500\index.html" />
    </httpErrors>
  </system.webServer>
  <location path="img">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="fonts">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
