cagov-chart-dashboard-sparkline.chart {
    div.svg-holder {
        // width:200px;
        // height:100px;
        margin-left:10%;
        margin-right:10%;
    }
    .svg-holder {
      g.fg-bars {
        fill: #00183f;
      }
      g.fg-line path {
        fill: none;
        stroke: #92c5de;
        stroke-width: 2px;
      }
      g.fg-region path {
        fill: #00183f;
        stroke: none;
        opacity:0.5;
      }
      g.fg-line.second-line path {
        opacity: 0.5;
      }
   }
}
  
div.sparkline-prev-div {
  width:440px;
  background-color: #003d9d;
  margin-bottom:2rem;
}

