.chart {
  // .bar-label .tick text {
  //   text-transform: capitalize;
  // }
  // .bar-label {
  //   font-weight: bold;
  //   font-size: 0.75rem;
  // }
  // .bar-cat {
  //   font-weight: bold;
  //   font-size: 0.95rem;
  // }
  // .legend-caption {
  //   font-weight: 300;
  //   font-size: 0.75rem;
  // }
  .svg-holder {
    g.fg-bars {
      fill: #deeaf6;
    }
    g.fg-line path {
      fill: none;
      stroke: black;
      stroke-width: 2px;
    }
    g.fg-line.second-line path {
      opacity: 0.5;
    }
    g.pending-block {
      rect {
        fill: black;
        opacity: 0.05;
      }
      text {
        font-weight: 300;
        font-size: 0.8rem;
        fill: black;
      }
      text {
        text-anchor: end;
        dominant-baseline: auto;
      }
    }
    g.date-axis {
      line {
        stroke-width: 0.5px;
        stroke: black;
      }
      text {
        font-weight: 300;
        font-size: 0.75rem;
        fill: black;
      }
      text {
        text-anchor: middle;
        dominant-baseline: hanging;
      }
      text.x-axis-legend {
        font-weight: 300;
        text-anchor: end;
        dominant-baseline: middle;
      }
    }
    g.county-legend {
      rect {
        fill: black;
      }
      text {
        font-weight: 300;
        font-size: 0.75rem;
        fill: black;
      }
      text {
        text-anchor: left;
        dominant-baseline: middle;
      }
    }
    g.state-legend {
      rect {
        fill: gray;
      }
      text {
        font-weight: 300;
        font-size: 0.75rem;
        fill: black;
      }
      text {
        text-anchor: left;
        dominant-baseline: middle;
      }
    }
    g.left-y-axis {
      line {
        stroke-width: 0.5px;
        stroke: black;
        opacity: 0.15;
      }
      text {
        font-weight: 400;
        font-size: 0.75rem;
        fill: black;
      }
      text {
        text-anchor: end;
        dominant-baseline: middle;
      }
      text.left-y-axis-legend {
        font-weight: 700;
        font-size: 0.75rem;
        text-anchor: start;
        dominant-baseline: hanging;
      }
    }
    g.right-y-axis {
      line {
        stroke-width: 0.5px;
        stroke: #608cbd;
      }
      text {
        font-weight: 400;
        font-size: 0.75rem;
        fill: #1f2574;
      }
      text {
        text-anchor: start;
        dominant-baseline: middle;
      }
      text.right-y-axis-legend {
        font-weight: 700;
        font-size: 0.75rem;
        text-anchor: end;
        dominant-baseline: hanging;
      }
    }
    text.line-legend {
      text {
        font-weight: 300;
        font-size: 1rem;
        fill: black;
        text-anchor: middle;
        dominant-baseline: auto;
      }
    }
    g.tt-marker {
      fill: black;
      opacity: 0.5;
    }
    g.line-legend {
      text {
        font-weight: 400;
        font-size: 0.8rem;
        text-anchor: middle;
        dominant-baseline: auto;
      }
      line {
        stroke-width: 0.25px;
        stroke: black;
      }
    }
  }
  .chart-title {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0px;
  }
  .chart-header {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 0.95rem;
  }
  .chart-header .header-line1 {
    font-weight: 700;
    font-size: 0.95rem;
  }
  .chart-header .big-num {
    font-weight: 700;
    font-size: 1.2rem;
    color: #1f2574;
  }
  .chart-header .med-num {
    font-weight: 400;
    font-size: 1rem;
    color: #1f2574;
  }
  div.tooltip-container {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 2;
    color: black;
    text-align: center;
  }
  // table.tooltip-content {
  //     font-weight: 400;
  //     font-size: 0.75rem;
  //     color:black;
  //     tr td:first-child + td {
  //         font-weight: 400;
  //     }
  //     tr td:first-child {
  //         font-weight: 300;
  //         width:70%;
  //     }
  // }
  .tooltip-container {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background: #fff;
    width: 280px;
  }

  .tooltip-container {
    pointer-events: none;
    /* padding: 10px; */
    padding: 1rem 2rem;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
    /* box-shadow: -12px 11px 5px -4px rgba(0, 0, 0, 0.4); */
    border: none;
  }
  .pending-caveat {
    font-style:italic;
  }

  a.dlbutton {
    border-radius: 3px;
    background-color: aqua;
    color: blue;
    font-weight: 300;
    font-size: 0.5rem;
  }
}

.d-hide {
  display: none;
}

cagov-chart-filter-select {
  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: no-repeat right 10px top 50% url(/img/arrow-orange.svg);
    border-color: black;
    border-radius: 0;
    color: #1f2574;
    font-size: 15.2px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 30px 10px 10px;
    text-decoration: underline;
    &:focus-visible {
      border: 2px solid #ffcf44;
      outline: none;
    }
  }
}
