---
layout: "page.njk"
title: "Compromiso de California con la equidad en la salud"
meta: " Todos los californianos, independientemente de su lugar de residencia, su entorno laboral, sus apoyos sociales o la manera como se identifican, merecen una vida saludable. La COVID-19 ha destacado las inequidades existentes en la salud. Muchas de estas desigualdades son el resultado del racismo estructural. Comprometido con una California para Todos, el estado está identificando las comunidades más afectadas y dirigiendo recursos para atender la COVID-19 […]"
author: "State of California"
publishdate: "2020-11-24T00:19:40Z"
tags: ["do-not-crawl","translate"]
addtositemap: false
---

<!--{% set data = {
 "cases_per_100k_statewide":1871.4,
 "death_rate_per_100k_statewide":45.5,
 "cases_per_100k_latino":2879.1,
 "cases_per_100k_pacific_islanders": 4024,
 "case_rate_vs_statewide_percent_latino":54,
 "case_rate_vs_statewide_percent_pacific_islanders":115,
 "case_rate_vs_statewide_percent_low_income":36,
 "death_rate_vs_statewide_percent_black":24,
 "death_rate_per_100k_black":56.2
 } %}-->    <p>Todos los californianos, independientemente de su lugar de residencia, su entorno laboral, sus apoyos sociales o la manera como se identifican, merecen una vida saludable.</p>



<p>La COVID-19 ha destacado las inequidades existentes en la salud. Muchas de estas desigualdades son el resultado del racismo estructural. Comprometido con una California para todos, el estado está identificando las comunidades más afectadas y dirigiendo recursos para abordar las desigualdades en la salud con la COVID-19. Reducir el riesgo de la COVID-19 en todas las comunidades es bueno para todos y California se compromete a hacerlo parte de nuestro plan de reapertura.</p>



<p>Los líderes estatales de salud pública no pueden abordar solos las inequidades en salud ante la COVID-19. Una California saludable para todos requiere una asociación con el sector privado, el gobierno local y los socios comunitarios en todos los niveles.</p>



<div class="mt-5"></div>



<div class="bg-lightblue py-5 full-bleed">
    <div class="container py-2">
        
        
        <div class="row pb-4">
            <div class="col-lg-10 mx-auto">
            <h2 class="text-center color-purple">Las disparidades en nuestras diversas comunidades son graves</h2>
                <p>La COVID-19 afecta de manera desproporcionada a los trabajadores de bajos ingresos, latinos, negros, isleños del Pacífico y a los trabajadores esenciales de California, como quienes trabajan en los sectores de atención médica, comestibles y servicios de limpieza.</p>
            </div>
        </div><!--END row-->               <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="container">
    
                    <div class="row d-flex row-eq-height justify-content-md-center pb-4">
                        <div class="col-md-3 bg-purple bd-20 py-3 text-center text-white d-flex flex-column">                      <!--{% set value = data.case_rate_vs_statewide_percent_latino %}--> <!--{% if value > 0 %}-->  <div class="eq-text mb-3">   La tasa de casos para personas latinas es un <span class="eq-data">{{value}} % más alta</span> que a nivel estatal. </div>  <!--{% elif value < 0 %}-->  <div class="eq-text mb-3">   La tasa de casos para personas latinas es un <span class="eq-data">{{value|abs}} % más baja</span> que a nivel estatal. </div>  <!--{% else %}-->  <div class="eq-text mb-3">   La tasa de casos para personas latinas es la misma que el promedio estatal. </div>  <!--{% endif %}-->                                                              <div class="eq-cases">
                                <p class="text-xs">Casos por cada 100 mil personas:</p> 
                                <p class="text-xs mb-0"><strong>{{data.cases_per_100k_latino|formatNumber(tags)}}</strong> latinos <br> <strong>{{data.cases_per_100k_statewide|formatNumber(tags)}}</strong> a nivel estatal</p>
                            </div>
                    
                        </div>
                    
                        <div class="col-md-3 bg-purple bd-20 py-3 text-center text-white d-flex flex-column"> <!--{% set value = data.case_rate_vs_statewide_percent_pacific_islanders %}--> <!--{% if value > 0 %}-->  <div class="eq-text mb-3">   La tasa de casos para los isleños del Pacífico es un <span class="eq-data">{{value}} % más alta</span> que a nivel estatal. </div>  <!--{% elif value < 0 %}-->  <div class="eq-text mb-3">   La tasa de casos para los isleños del Pacífico es un <span class="eq-data">{{value|abs}} % más baja</span> que a nivel estatal. </div>  <!--{% else %}-->  <div class="eq-text mb-3">   La tasa de casos para los isleños del Pacífico es la misma que el promedio estatal. </div>  <!--{% endif %}-->                             <div class="eq-cases">
                                <p class="text-xs">Casos por cada 100 mil personas:</p> 
                                <p class="text-xs mb-0"><strong>{{data.cases_per_100k_pacific_islanders|formatNumber(tags)}}</strong> nativos de Hawái y otros isleños del Pacífico (Native Hawaiian and Other Pacific Islander, NHPI)<br> <strong>{{data.cases_per_100k_statewide|formatNumber(tags)}}</strong> a nivel estatal</p>
                            </div>
                    
                        </div>
                    
                        <div class="col-md-3 bg-purple bd-20 py-3 text-center text-white d-flex flex-column">  <!--{% set value = data.death_rate_vs_statewide_percent_black %}--> <!--{% if value > 0 %}-->  <div class="eq-text mb-3">   La tasa de mortalidad para personas afroamericanas es un <span class="eq-data">{{value}} % más alta</span> que a nivel estatal. </div>  <!--{% elif value < 0 %}-->  <div class="eq-text mb-3">   La tasa de mortalidad para personas afroamericanas es un <span class="eq-data">{{value|abs}} % más baja</span> que a nivel estatal. </div>  <!--{% else %}-->  <div class="eq-text mb-3">   La tasa de mortalidad para personas afroamericanas es la misma que el promedio estatal. </div>  <!--{% endif %}-->                                 <div class="eq-cases">
                                    <p class="text-xs">Decesos por cada 100 mil personas:</p> 
                                    <p class="text-xs mb-0"><strong>{{data.death_rate_per_100k_black}}</strong> afroamericanos <br> <strong>{{data.death_rate_per_100k_statewide}}</strong> a nivel estatal</p>
                                </div>
                        </div>
                    
                        <div class="col-md-3 bg-purple bd-20 py-3 text-center text-white  d-flex flex-column"> <!--{% set value = data.case_rate_vs_statewide_percent_low_income %}--> <!--{% if value > 0 %}-->  <div class="eq-text mb-3">   La tasa de casos para hogares con ingresos medios menores de $40 mil es <span class="eq-data">{{value}} % más alta</span> que a nivel estatal. </div>  <!--{% elif value < 0 %}-->  <div class="eq-text mb-3">   La tasa de casos para hogares con ingresos medios menores de $40 mil es <span class="eq-data">{{value|abs}} % más baja</span> que a nivel estatal. </div>  <!--{% else %}-->  <div class="eq-text mb-3">   La tasa de casos para hogares con ingresos medios menores de $40 mil es la misma que el promedio estatal. </div>  <!--{% endif %}--> <!--
 <div class="eq-cases">
 <p class="text-xs">Cases per 100K people:</p>
 <p class="text-xs mb-0"><strong>2,432</strong> Latino<br><strong>2,195</strong> statewide</p> 
 </div>
 -->                         </div>
                    </div>
    
    
                </div><!--END cont-->             </div><!--END col-10-->         </div><!--END row-->                                    <div class="row pb-4">
            <div class="col-lg-10 mx-auto">
                <p class="chart-data-label">Nota: La tasa de casos se define como los casos acumulados de COVID-19 por cada 100 mil habitantes. La tasa de mortalidad se define como las muertes acumuladas por COVID-19 por cada 100 mil habitantes.</p>
            </div>
        </div><!--END row-->        </div><!--END container--> </div><!--END LIGHT BLUE BG-->    <div class="bg-darkblue py-5 full-bleed">
  <div class="container py-2">
      <div class="row pb-4">
          <div class="col-lg-10 mx-auto color-white">
            <h2 class="text-center color-orange">Reapertura equitativa</h2>
            <h3 class="color-white">Lo que hemos hecho</h3>
            <p>California ha tomado medidas para comenzar a abordar la equidad en la salud. En Central Valley, implementamos varios programas para ayudar a los más afectados. Estos esfuerzos incluyeron:</p>
            <ul class="bullet-orange">
              <li>creación de viviendas para la cosecha para ayudar a los trabajadores agrícolas a aislarse</li>
              <li>aumento de la capacidad de pruebas móviles</li>
              <li>traducción de recursos a nuevos idiomas para llegar a los indígenas estadounidenses</li>
              <li>sensibilización sobre los recursos disponibles para los trabajadores agrícolas</li>
            </ul>
            <h3 class="color-white">Qué necesitamos hacer</h3>
            <p>Para asegurarnos de construir una California para Todos, los condados deben abordar las inequidades en la salud ante la COVID-19 en sus planes de reapertura económica. Cada semana, los funcionarios estatales trabajan con los departamentos de salud locales para medir las tasas generales de casos y las tasas de positividad de los condado, así como las tasas de positividad en los vecindarios de los condados afectados de manera más desproporcionada (<a href="https://covid19.ca.gov/equity/#learn-more">indicador de equidad en la salud</a>).</p>
            <p>Como parte de este amplio esfuerzo, los condados deben:</p>
            <ul class="bullet-orange">
              <li>definir sus poblaciones afectadas de manera desproporcionada y medir los indicadores de la COVID-19 y la respuesta ante ella (rastreo de contactos, apoyo al aislamiento, protección de los trabajadores) en estas poblaciones</li>
              <li>mostrar cómo utilizarán los fondos estatales para apoyar a las comunidades afectadas de manera desproporcionada</li>
              <li>demostrar que el indicador de equidad en salud no se retrasa significativamente con respecto a su tasa general de positividad del condado</li>
            </ul>
<div class="mt-3 text-center">  <a href="https://covid19.ca.gov/equity/#learn-more" class="link-arrow-white">             <div class="link-arrow-label">Obtenga más información SOBRE QUÉ PUEDE HACER USTED</div><cagov-arrow> </a> </div>
          </div>
      </div>

  </div><!--END container--> </div><!--END DARK BLUE BG-->    <h2 class="mt-5">Consulte cómo se ven afectadas las comunidades en su condado</h2>



<h3 class="text-center">Impacto de la COVID-19 por raza y etnia</h3>



<p>Las comunidades latinas, afroamericanas y de las islas del Pacífico se han visto afectadas de manera desproporcionada por la COVID-19. Hemos logrado algunos avances para abordar las disparidades dentro de estas comunidades, pero debemos hacerlo mejor.</p>    <cagov-county-search></cagov-county-search> <cagov-county-toggle-buttons></cagov-county-toggle-buttons> <!--SMALL TABS--> <cagov-chart-filter-buttons class="js-re-smalls">   <div class="d-flex justify-content-center">     <button class="small-tab active" data-key="cases">Casos</button> <button class="small-tab" data-key="deaths">Decesos</button> <button class="small-tab" data-key="tests">Pruebas de detección</button>   </div> </cagov-chart-filter-buttons>  <div class="container">
  <div class="row">
    <div class="col">       <cagov-chart-re-pop class="d-none">         <ul>
          <li data-label="chartTitle--cases">Casos en relación con el porcentaje de población en placeholderForDynamicLocation</li>
          <li data-label="chartTitl--deaths">Muertes en relación con el porcentaje de población en placeholderForDynamicLocation</li>
          <li data-label="chartTitle--testing">Pruebas en relación con el porcentaje de población en placeholderForDynamicLocation</li>
          <li data-label="chartDescription--cases">Compare el porcentaje de la proporción de casos a nivel estatal de cada raza y etnia con su porcentaje de placeholderForDynamicLocation.</li>
          <li data-label="chartDescription--deaths">Compare el porcentaje de la proporción de mortalidad a nivel estatal de cada raza y etnia con su porcentaje de placeholderForDynamicLocation.</li>
          <li data-label="chartDescription--testing">Compare el porcentaje de la proporción de pruebas a nivel estatal de cada raza y etnia con su porcentaje de placeholderForDynamicLocation.</li>
          <li data-label="chartLineDiff">cambio desde el mes anterior</li>
        </ul></cagov-chart-re-pop>     </div>
    <div class="col">       <cagov-chart-re-100k class="d-none">  <ul>
          <li data-label="chartTitle--cases">Tasa de casos por cada 100 mil por raza y grupo étnico en placeholderForDynamicLocation</li>
          <li data-label="chartTitle--deaths">Tasa de mortalidad por cada 100 mil por raza y grupo étnico en placeholderForDynamicLocation</li>
          <li data-label="chartTitle--testing">Tasa de pruebas por cada 100 mil por raza y grupo étnico en placeholderForDynamicLocation</li>
          <li data-label="chartDescription--cases">Compare los casos ajustados por tamaño de la población en cada raza y etnia.</li>
          <li data-label="chartDescription--deaths">Compare los decesos ajustados por tamaño de la población en cada raza y etnia.</li>
          <li data-label="chartDescription--testing">Compare las pruebas ajustadas por tamaño de la población en cada raza y etnia.</li>
          <li data-label="chartLineDiff">cambio desde el mes anterior</li>
        </ul></cagov-chart-re-100k>     </div>
  </div>
</div>



<p class="chart-data-label">Nota: Los datos que se muestran son acumulativos desde enero de 2020 y se actualizan diariamente. Las estimaciones de población no incluyen las categorías de raza y etnia “otra” o “desconocida”; por lo tanto, no está disponible su porcentaje de población estatal. Para ver los datos de raza y etnia desglosados por grupos de edad, consulte los <a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Race-Ethnicity.aspx" target="_blank" rel="noopener noreferrer">datos de raza y etnia</a> de la COVID-19 del Departamento de Salud Pública de California. Los números entre 1 y 11 se muestran como “< 11” para proteger la privacidad de los pacientes.</p>



<h3 class="text-center mt-5">Indicador de equidad en salud de la COVID-19</h3>



<p>El indicador de equidad en salud mide la tasa de positividad en las comunidades afectadas de manera más desproporcionada. Estas comunidades se identifican en el <a href="https://covid19.ca.gov/equity/#learn-more">índice de lugares saludables</a> como secciones censales que tienen condiciones comunitarias menos saludables, como ingresos medios bajos, educación completa y acceso a la atención médica. El <a href="https://covid19.ca.gov/equity/#learn-more">Plan para una economía más segura</a> garantiza que los condados aborden la COVID-19 en todas las comunidades. Para abrir más, el indicador de equidad en salud no puede estar significativamente por detrás de las tasas generales de positividad del condado.</p>    <cagov-county-toggle-buttons></cagov-county-toggle-buttons>    <div class="col-lg-10 mx-auto"> <cagov-chart-d3-lines><svg><g class="tick"><line></line></g><text></text></svg></cagov-chart-d3-lines> </div>



<p class="chart-data-label">Nota: Promedio de 7 días de tasa de positividad con un retraso de 7 días, para los segmentos del cuartil de equidad en salud del índice de lugares saludables (Healthy Places Index, HPI). La positividad del cuartil de equidad en salud se define como la tasa de positividad del 25 % más bajo de las secciones censales del índice de lugares saludables del condado.</p>



<h3 class="text-center mt-5">La integridad de los datos es fundamental para abordar la inequidad</h3>



<p>Sabemos mucho sobre el impacto de la COVID-19 en ciertas comunidades, pero podemos invertir mejor nuestros recursos aumentando la recopilación de datos sobre raza, etnia, orientación sexual e identidad de género. Esta recopilación de datos requiere una estrecha cooperación con socios del sector privado, laboratorios, y funcionarios estatales y del condado. <a href="https://covid19.ca.gov/equity/#learn-more">Consulte los recursos sobre cómo mejorar los informes</a>.</p>    <cagov-county-toggle-buttons></cagov-county-toggle-buttons> <cagov-chart-filter-buttons class="js-missingness-smalls">   <div class="d-flex justify-content-center">     <button class="small-tab active" data-key="race_ethnicity">Raza y etnia</button> <button class="small-tab" data-key="sexual_orientation">Orientación sexual</button> <button class="small-tab" data-key="gender_identity">Identidad de género</button>   </div> </cagov-chart-filter-buttons> <cagov-chart-equity-missingness class="d-none">   <ul>
    <div>
      <ul>
        <li data-label="title">Informes por raza y etnia en California</li>
        <li data-label="special-note">Los informes de datos siguen mejorando. Desde enero, los informes sobre edad y género se están completando. Se puede hacer lo mismo con estos datos.</li>
        <li data-label="footnote">Nota: Los datos que se muestran son acumulativos de los últimos 30 días y se actualizan diariamente.</li>
        <li data-label="tab-label">Reportes por <span data-replace="metric-filter"></span> en <span data-replace="location"></span></li>
        <li data-label="data-missing">Datos faltantes</li>
        <li data-label="data-reported">Datos reportados</li>
        <li data-label="reported">reportados</li>
        <li data-label="missing">faltantes</li>
        <li data-label="empty-tooltip">una descripción emergente vacía</li>
        <li data-label="percent-change-previous-month">cambio en los casos desde el mes anterior</li>
        <li data-label="chart-tooltip-complete">
          <div>           En <span data-replace="location">California</span>, <span data-replace="data-type">los datos de raza y etnia</span> para las <span data-replace="metric">pruebas</span> están<span class="highlight-data"> <span data-replace="highlight-data"></span> </span> completos. </div>
        </li>
        <li data-label="chart-tooltip-missing">
          <div>           En <span data-replace="location">California</span>, <span data-replace="data-type">los datos de raza y etnia</span> para las <span data-replace="metric">pruebas</span> están<span class="highlight-data"> <span data-replace="highlight-data"></span> </span> en blanco. </div>
        </li>
      </ul>
      <ul data-group="displayOrder">
        <li data-item="tests">Pruebas</li>
        <li data-item="cases">Casos</li>
        <li data-item="deaths">Muertes</li>
      </ul>
    </div>
  </ul> </cagov-chart-equity-missingness>    <div class="mb-2 mt-2"></div>    <cagov-chart-d3-bar class="d-none"><ul>
    <li data-label="sectionTitle">Factores que aumentan el riesgo de infección y enfermedad grave</li>
    <li data-label="sectionDescription">Los californianos que se encuentran en viviendas o transporte abarrotados, y con menos acceso a licencias pagadas y otras protecciones para los trabajadores tienen un mayor riesgo de infección por COVID-19. Los determinantes sociales de la salud, como la inseguridad alimentaria, la falta de seguro médico y la inestabilidad de la vivienda pueden aumentar el riesgo de malos resultados. Estos determinantes sociales de la salud son a menudo el resultado del racismo estructural.</li>
    <li data-label="chartTitleIncome">Tasa de casos por segmento medio de ingresos familiares anuales</li>
    <li data-label="chartTitleHousing">Tasa de casos por hacinamiento de viviendas</li>
    <li data-label="chartTitleHealthcare">Tasa de casos por acceso a la atención médica</li>
    <li data-label="chartButtonIncome">Ingresos</li>
    <li data-label="chartButtonHousing">Hacinamiento</li>
    <li data-label="chartButtonHealthcare">Accesos a seguro de salud</li>
    <li data-label="footnote">Nota: Los datos provienen de la Encuesta sobre la comunidad estadounidense y son de todo el estado. No refleja los condados individualmente. Los datos que se muestran son acumulativos de los últimos 7 días y se actualizan diariamente.</li>
  </ul></cagov-chart-d3-bar>    <div class="bg-lightblue full-bleed py-4">
<div class="container">
  <h3 class="text-center">Condiciones subyacentes de salud</h3>
  <p>Los problemas de salud existentes pueden aumentar la gravedad de la COVID-19. Los ejemplos incluyen enfermedades cardiacas, obesidad, enfermedades renales y diabetes, todas las cuales son más comunes en las comunidades de color.</p>
  <p>Un historial de experiencias adversas en la infancia (Adverse Childhood Experiences, ACE) aumenta el riesgo de afecciones médicas crónicas que incluyen enfermedades cardiacas, obesidad, enfermedad renal y diabetes, y puede aumentar el riesgo de enfermedad grave por COVID-19.</p>

  <ul>
    <li>Las ACE son experiencias de abuso, negligencia y desafíos domésticos que ocurren antes de los 18 años y están asociadas con un riesgo a largo plazo de una peor salud física, mental y conductual.</li>
    <li><a href="https://covid19.ca.gov/equity/#learn-more">La exposición a ACE prolongadas</a>, cuando se experimenta sin factores de amortiguación protectores, puede conducir a cambios en la respuesta biológica al estrés que pueden afectar el funcionamiento inmunológico (la respuesta al estrés tóxico).</li>
    <li>Las personas con antecedentes de ACE también pueden ser más sensibles a los efectos de nuevos factores estresantes, como los presentados por la pandemia de COVID-19. <a href="https://covid19.ca.gov/equity/#learn-more">Consulte cómo manejar el estrés para la salud</a>.</li>
  </ul>
</div>
</div>    <a name="learn-more"></a> <!--THIS IS LEARN MORE SECTION--> <div class="full-bleed">
  <div class="container py-2"> <learn-more-section> <h3 class="text-center color-purple font-size-2em my-4">Más información</h3>
<div class="faq-twitter-wrap pb-5">
<div class="faq trigger">
<article class="faq-item trigger">     <a class="faq-item-link cwdsarrow-parent" href="#"> <h4 class="faq-item-headline">Manual para los condados para abordar la desigualdad ante la COVID-19</h4> <cwds-arrow data-class-prefix="faq" data-class-list="cwdsarrow-size-sm cwdsarrow-idle-orange cwdsarrow-hover-darkblue cwdsarrow-focus-darkblue"></cwds-arrow> </a>  </article>
<article class="faq-item trigger">     <a class="faq-item-link cwdsarrow-parent" href="https://covid19.ca.gov/safer-economy/"> <h4 class="faq-item-headline">Plan de reapertura que incluye el indicador de equidad en salud</h4> <cwds-arrow data-class-prefix="faq" data-class-list="cwdsarrow-size-sm cwdsarrow-idle-orange cwdsarrow-hover-darkblue cwdsarrow-focus-darkblue"></cwds-arrow> </a> </article>


<article class="faq-item trigger">     <a class="faq-item-link cwdsarrow-parent" href=" https://www.lgbtqiahealtheducation.org/what-we-offer/technical-assistance/"> <h4 class="faq-item-headline">Mejorar la integridad de los informes de la COVID-19</h4> <cwds-arrow data-class-prefix="faq" data-class-list="cwdsarrow-size-sm cwdsarrow-idle-orange cwdsarrow-hover-darkblue cwdsarrow-focus-darkblue"></cwds-arrow> </a> </article>

<article class="faq-item trigger">     <a class="faq-item-link cwdsarrow-parent" href="https://covid19.ca.gov/discrimination/"> <h4 class="faq-item-headline">Luche contra la discriminación y la estigmatización</h4> <cwds-arrow data-class-prefix="faq" data-class-list="cwdsarrow-size-sm cwdsarrow-idle-orange cwdsarrow-hover-darkblue cwdsarrow-focus-darkblue"></cwds-arrow> </a> </article>
</div>

<div class="faq trigger">
<article class="faq-item trigger">     <a class="faq-item-link cwdsarrow-parent" href="https://files.covid19.ca.gov/pdf/employer-playbook-for-safe-reopening--en.pdf"> <h4 class="faq-item-headline">Guías comerciales para proteger a los empleados de la COVID-19</h4> <cwds-arrow data-class-prefix="faq" data-class-list="cwdsarrow-size-sm cwdsarrow-idle-orange cwdsarrow-hover-darkblue cwdsarrow-focus-darkblue"></cwds-arrow> </a> </article>

<article class="faq-item trigger">     <a class="faq-item-link cwdsarrow-parent" href="https://map.healthyplacesindex.org/"> <h4 class="faq-item-headline">Mapa de segmentos censales del índice de lugares saludables</h4> <cwds-arrow data-class-prefix="faq" data-class-list="cwdsarrow-size-sm cwdsarrow-idle-orange cwdsarrow-hover-darkblue cwdsarrow-focus-darkblue"></cwds-arrow> </a> </article>

<article class="faq-item trigger">     <a class="faq-item-link cwdsarrow-parent" href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-with-medical-conditions.html"> <h4 class="faq-item-headline">Vínculo de las afecciones subyacentes con la gravedad de la COVID-19</h4> <cwds-arrow data-class-prefix="faq" data-class-list="cwdsarrow-size-sm cwdsarrow-idle-orange cwdsarrow-hover-darkblue cwdsarrow-focus-darkblue"></cwds-arrow> </a> </article>
<article class="faq-item trigger">     <a class="faq-item-link cwdsarrow-parent" href="https://covid19.ca.gov/manage-stress-for-health/"> <h4 class="faq-item-headline">Maneje el estrés durante la COVID-19</h4> <cwds-arrow data-class-prefix="faq" data-class-list="cwdsarrow-size-sm cwdsarrow-idle-orange cwdsarrow-hover-darkblue cwdsarrow-focus-darkblue"></cwds-arrow> </a> </article>
</div>
</div> </learn-more-section> </div>
</div>
