<?xml version="1.0" encoding="utf-8"?><configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="410Removals" defaultValue="">
          <add key="/telehealth-care" value="foo" />
          <add key="/impuestos/" value="foo" />
          <add key="/encuesta-de-reactivacion-en-california/" value="foo" />
          <add key="/care-in-senior-facilities/" value="foo" />
          <add key="/es/care-in-senior-facilities/" value="foo" />
          <add key="/tl/care-in-senior-facilities/" value="foo" />
          <add key="/ar/care-in-senior-facilities/" value="foo" />
          <add key="/ko/care-in-senior-facilities/" value="foo" />
          <add key="/vi/care-in-senior-facilities/" value="foo" />
          <add key="/zh-hans/care-in-senior-facilities/" value="foo" />
          <add key="/zh-hant/care-in-senior-facilities/" value="foo" />
          <add key="/recovery-input/" value="foo" />
          <add key="/es/recovery-input/" value="foo" />
          <add key="/tl/recovery-input/" value="foo" />
          <add key="/ar/recovery-input/" value="foo" />
          <add key="/ko/recovery-input/" value="foo" />
          <add key="/vi/recovery-input/" value="foo" />
          <add key="/zh-hans/recovery-input/" value="foo" />
          <add key="/zh-hant/recovery-input/" value="foo" />
          <add key="/plasma/" value="foo" />
          <add key="/es/plasma/" value="foo" />
          <add key="/tl/plasma/" value="foo" />
          <add key="/ar/plasma/" value="foo" />
          <add key="/ko/plasma/" value="foo" />
          <add key="/vi/plasma/" value="foo" />
          <add key="/zh-hans/plasma/" value="foo" />
          <add key="/zh-hant/plasma/" value="foo" />
          <add key="/request-ppe/" value="foo" />
          <add key="/es/request-ppe/" value="foo" />
          <add key="/tl/request-ppe/" value="foo" />
          <add key="/ar/request-ppe/" value="foo" />
          <add key="/ko/request-ppe/" value="foo" />
          <add key="/vi/request-ppe/" value="foo" />
          <add key="/zh-hans/request-ppe/" value="foo" />
          <add key="/zh-hant/request-ppe/" value="foo" />
          <add key="/agency-response/" value="foo" />
          <add key="/es/agency-response/" value="foo" />
          <add key="/tl/agency-response/" value="foo" />
          <add key="/ar/agency-response/" value="foo" />
          <add key="/ko/agency-response/" value="foo" />
          <add key="/vi/agency-response/" value="foo" />
          <add key="/zh-hans/agency-response/" value="foo" />
          <add key="/zh-hant/agency-response/" value="foo" />
          <add key="/healthcare/" value="foo" />
          <add key="/es/healthcare/" value="foo" />
          <add key="/tl/healthcare/" value="foo" />
          <add key="/ar/healthcare/" value="foo" />
          <add key="/ko/healthcare/" value="foo" />
          <add key="/vi/healthcare/" value="foo" />
          <add key="/zh-hans/healthcare/" value="foo" />
          <add key="/zh-hant/healthcare/" value="foo" />
          <add key="/treatment-for-covid-19/" value="foo" />
          <add key="/es/treatment-for-covid-19/" value="foo" />
          <add key="/tl/treatment-for-covid-19/" value="foo" />
          <add key="/ar/treatment-for-covid-19/" value="foo" />
          <add key="/ko/treatment-for-covid-19/" value="foo" />
          <add key="/vi/treatment-for-covid-19/" value="foo" />
          <add key="/zh-hans/treatment-for-covid-19/" value="foo" />
          <add key="/zh-hant/treatment-for-covid-19/" value="foo" />
          <add key="/telehealth/" value="foo" />
          <add key="/es/telehealth/" value="foo" />
          <add key="/tl/telehealth/" value="foo" />
          <add key="/ar/telehealth/" value="foo" />
          <add key="/ko/telehealth/" value="foo" />
          <add key="/vi/telehealth/" value="foo" />
          <add key="/zh-hant/telehealth/" value="foo" />
          <add key="/zh-hans/telehealth/" value="foo" />
          <add key="/taxes/" value="foo" />
          <add key="/es/taxes/" value="foo" />
          <add key="/tl/taxes/" value="foo" />
          <add key="/ar/taxes/" value="foo" />
          <add key="/ko/taxes/" value="foo" />
          <add key="/vi/taxes/" value="foo" />
          <add key="/zh-hans/taxes/" value="foo" />
          <add key="/zh-hant/taxes/" value="foo" />
          <add key="/more-ways-to-help/" value="foo" />
          <add key="/es/more-ways-to-help/" value="foo" />
          <add key="/tl/more-ways-to-help/" value="foo" />
          <add key="/ar/more-ways-to-help/" value="foo" />
          <add key="/ko/more-ways-to-help/" value="foo" />
          <add key="/vi/more-ways-to-help/" value="foo" />
          <add key="/zh-hans/more-ways-to-help/" value="foo" />
          <add key="/zh-hant/more-ways-to-help/" value="foo" />
          <add key="/countystatus.json" value="foo" />
        </rewriteMap>
        <rewriteMap name="StaticRewrites" defaultValue="">
          <add key="/sandbox/" value="/" />
          <add key="/v5-state-dashboard/" value="/state-dashboard/" />
          <add key="/v4-state-dashboard/" value="/state-dashboard/" />
          <add key="/v1-homepage/" value="/" />
          <add key="/v1-state-dashboard/" value="/state-dashboard/" />
          <add key="/v2-state-dashboard/" value="/state-dashboard/" />
          <add key="/v3-state-dashboard/" value="/state-dashboard/" />
          <add key="/charts-sandbox/" value="/" />
          <add key="/what-you-can-do/" value="/safely-reopening/" />
          <add key="/health-corps/" value="/healthcorps/" />
          <add key="/employment/" value="/workers-and-businesses/" />
          <add key="/toolkit/" value="https://toolkit.covid19.ca.gov/" />
          <add key="/img/wp/caregivers-and-kids_california-surgeon-general_stress-busting-playbook_draft-v2_clean_ada_04072020.pdf" value="/pdf/caregivers_and_kids_california_surgeon_general_stress_busting_playbook_draft_v2_clean_ada_04072020v2.pdf" />
          <add key="/img/wp/california_surgeon-general_stress-busting-playbook_draft-v2clean_ada.pdf" value="/pdf/caregivers_and_kids_california_surgeon_general_stress_busting_playbook_draft_v2_clean_ada_04072020v2.pdf" />
          <add key="/img/wp/essential-workforce-document-spanish-03222020.pdf" value="/img/wp/essential-workforce_espanol_final.pdf" />
          <add key="/img/wp/covid-19-immigrant-guidance-accessible-gov7sp23150.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/img/wp/covid-19-immigrant-guidance-accessible-1.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/pdf/wp/covid-19-immigrant-guidance-accessible-1.pdf" value="/pdf/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/img/wp/covid-19-immigrant-guidance-final-accessible-1.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/img/wp/covid-19-immigrant-guidance-accessible-1-2.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/img/wp/spanish-covid-19-immigrant-guidance-accessible-1.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_es_daf.pdf" />
          <add key="/img/wp/spanish-covid-19-immigrant-guidance-accessible-1-2.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_es_daf.pdf" />
          <add key="/img/wp/spanish-covid-19-immigrant-guide-accessible.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_es_daf.pdf" />
          <add key="/wp-content/uploads/2020/04/LISTOS_COVID_19_immigrant_guidance_EN_dAf.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_es_daf.pdf" />
          <add key="/safety-in-public-places/" value="/safely-reopening/" />
          <add key="/safety-in-public-places-ar/" value="/ar/safely-reopening/" />
          <add key="/safety-in-public-places-es/" value="/es/safely-reopening/" />
          <add key="/safety-in-public-places-ko/" value="/ko/safely-reopening/" />
          <add key="/safety-in-public-places-tl/" value="/tl/safely-reopening/" />
          <add key="/safety-in-public-places-vi/" value="/vi/safely-reopening/" />
          <add key="/safety-in-public-places-zh-hans/" value="/zh-hans/safely-reopening/" />
          <add key="/safety-in-public-places-zh-hant/" value="/zh-hant/safely-reopening/" />
          <add key="/stats-zh-hant/" value="/zh-hant/state-dashboard/" />
          <add key="/stats/" value="/state-dashboard/" />
          <add key="/الأماكن-العامة/" value="/ar/safely-reopening/" />
          <add key="/guide-immigrant-californians-tl-2/" value="https://immigrantguide.ca.gov/fil/covid19/" />
          <add key="/guia-californianos-inmigrantes/" value="https://immigrantguide.ca.gov/es/covid19/" />
          <add key="/encuentre-opciones-de-cuidado-infantil-cerca-de-usted/" value="https://mychildcare.ca.gov/#/home" />
          <add key="/empresas-y-empleadores/" value="/es/workers-and-businesses/" />
          <add key="/lucha-contra-la-discriminacion/" value="/es/discrimination/" />
          <add key="/la-educacion/" value="/es/education/" />
          <add key="/conseguir-comida/" value="/es/food-resources/" />
          <add key="/getting-food-zh-hans/" value="/zh-hans/food-resources/" />
          <add key="/getting-food-zh-hant/" value="/zh-hant/food-resources/" />
          <add key="/obtener-ayuda-financiera/" value="/es/get-financial-help/" />
          <add key="/el-cuidado-de-la-salud/" value="/es/healthcare/" />
          <add key="/cuerpo-de-salud-de-california/" value="/es/healthcorps/" />
          <add key="/lugares-publicos/" value="/es/safely-reopening/" />
          <add key="/pruebas-y-tratamiento/" value="/es/get-tested/" />
          <add key="/linea-de-atencion-de-covid-19/" value="/es/get-local-information/" />
          <add key="/testing-and-treatment-zh-hant-2/" value="/zh-hant/get-tested/" />
          <add key="/los-sintomas-y-los-riesgos/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/quedese-en-casa-excepto-por-necesidades-esenciales/" value="/es/safely-reopening/" />
          <add key="/entregas-a-domicilio-para-personas-de-la-tercera-edad/" value="/es/food-resources/#older-adults" />
          <add key="/recursos-para-el-apoyo-emocional-y-el-bienestar/" value="/es/resources-for-emotional-support-and-well-being/" />
          <add key="/trabajadores/" value="/es/workers-and-businesses/" />
          <add key="/manejar-el-estres-para-la-salud/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/la-vivienda-y-las-personas-sin-hogar/" value="/es/get-financial-help/" />
          <add key="/state-local-resources/" value="/get-local-information/" />
          <add key="/state-local-resources-ar/" value="/ar/get-local-information/" />
          <add key="/state-local-resources-es/" value="/es/get-local-information/" />
          <add key="/state-local-resources-ko/" value="/ko/get-local-information/" />
          <add key="/state-local-resources-tl/" value="/tl/get-local-information/" />
          <add key="/state-local-resources-vi/" value="/vi/get-local-information/" />
          <add key="/state-local-resources-zh-hans/" value="/zh-hans/get-local-information/" />
          <add key="/state-local-resources-zh-hant/" value="/zh-hant/get-local-information/" />
          <add key="/obtenga-informacion-local/" value="/es/get-local-information/" />
          <add key="/pdf/guidance-wineries-bars.pdf" value="/pdf/guidance-wineries--en.pdf" />
          <add key="/pdf/guidance-hotels-tourism.pdf" value="/pdf/guidance-hotels-lodging-rentals--en.pdf" />
          <add key="/img/wp/great-plates-delivered-participants-faqs.pdf" value="/pdf/great-plates-delivered-participants-faqs.pdf" />
          <add key="/pdf/guidance-personal-care-services.pdf" value="/pdf/guidance-expanded-personal-care-services--en.pdf" />
          <add key="/pdf/guidance-childcare.pdf" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Child-Care-Guidance.aspx" />
          <add key="/calicounties/" value="/safely-reopening/" />
          <add key="/recovery-roadmap/" value="/safely-reopening/" />
          <add key="/recovery/" value="/safely-reopening/" />
          <add key="/roadmap-dev/" value="/safely-reopening/" />
          <add key="/roadmap/" value="/safely-reopening/" />
          <add key="/roadmap-counties/" value="/safely-reopening/" />
          <add key="/es/roadmap/" value="/es/safely-reopening/" />
          <add key="/es/roadmap-counties/" value="/es/safely-reopening/" />
          <add key="/ko/roadmap/" value="/ko/safely-reopening/" />
          <add key="/ko/roadmap-counties/" value="/ko/safely-reopening/" />
          <add key="/ar/roadmap/" value="/ar/safely-reopening/" />
          <add key="/ar/roadmap-counties/" value="/ar/safely-reopening/" />
          <add key="/vi/roadmap/" value="/vi/safely-reopening/" />
          <add key="/vi/roadmap-counties/" value="/vi/safely-reopening/" />
          <add key="/tl/roadmap/" value="/tl/safely-reopening/" />
          <add key="/tl/roadmap-counties/" value="/tl/safely-reopening/" />
          <add key="/zh-hans/roadmap/" value="/zh-hans/safely-reopening/" />
          <add key="/zh-hans/roadmap-counties/" value="/zh-hans/safely-reopening/" />
          <add key="/zh-hant/roadmap/" value="/zh-hant/safely-reopening/" />
          <add key="/zh-hant/roadmap-counties/" value="/zh-hant/safely-reopening/" />
          <add key="/testing-and-treatment/" value="/get-tested/" />
          <add key="/es/testing-and-treatment/" value="/es/get-tested/" />
          <add key="/tl/testing-and-treatment/" value="/tl/get-tested/" />
          <add key="/ar/testing-and-treatment/" value="/ar/get-tested/" />
          <add key="/ko/testing-and-treatment/" value="/ko/get-tested/" />
          <add key="/vi/testing-and-treatment/" value="/vi/get-tested/" />
          <add key="/zh-hans/testing-and-treatment/" value="/zh-hans/get-tested/" />
          <add key="/zh-hant//testing-and-treatment/" value="/zh-hant/get-tested/" />
          <add key="/notify/" value="https://canotify.ca.gov/" />
          <add key="/schools/" value="https://schools.covid19.ca.gov/" />
          <add key="/public-recreation/" value="/safely-reopening/" />
          <add key="/es/public-recreation/" value="/es/safely-reopening/" />
          <add key="/tl/public-recreation/" value="/tl/safely-reopening/" />
          <add key="/ar/public-recreation/" value="/ar/safely-reopening/" />
          <add key="/ko/public-recreation/" value="/ko/safely-reopening/" />
          <add key="/vi/public-recreation/" value="/vi/safely-reopening/" />
          <add key="/zh-hans/public-recreation/" value="/zh-hans/safely-reopening/" />
          <add key="/zh-hant/public-recreation/" value="/zh-hant/safely-reopening/" />
          <add key="/restaurants-deliver-home-meals-for-seniors/" value="/food-resources/#older-adults" />
          <add key="/es/restaurants-deliver-home-meals-for-seniors/" value="/es/food-resources/#older-adults" />
          <add key="/tl/restaurants-deliver-home-meals-for-seniors/" value="/tl/food-resources/#older-adults" />
          <add key="/ar/restaurants-deliver-home-meals-for-seniors/" value="/ar/food-resources/#older-adults" />
          <add key="/ko/restaurants-deliver-home-meals-for-seniors/" value="/ko/food-resources/#older-adults" />
          <add key="/vi/restaurants-deliver-home-meals-for-seniors/" value="/vi/food-resources/#older-adults" />
          <add key="/zh-hans/restaurants-deliver-home-meals-for-seniors/" value="/zh-hans/food-resources/#older-adults" />
          <add key="/zh-hant/restaurants-deliver-home-meals-for-seniors/" value="/zh-hant/food-resources/#older-adults" />
          <add key="/vaccines/:" value="/vaccines/" />
          <add key="/vaccines/:Beginning" value="/vaccines/" />
          <add key="/healthcorps/" value="https://emsa.ca.gov/disaster-medical-response-programs/" />
          <add key="/es/healthcorps/" value="https://emsa.ca.gov/disaster-medical-response-programs/" />
          <add key="/tl/healthcorps/" value="https://emsa.ca.gov/disaster-medical-response-programs/" />
          <add key="/ar/healthcorps/" value="https://emsa.ca.gov/disaster-medical-response-programs/" />
          <add key="/ko/healthcorps/" value="https://emsa.ca.gov/disaster-medical-response-programs/" />
          <add key="/vi/healthcorps/" value="https://emsa.ca.gov/disaster-medical-response-programs/" />
          <add key="/zh-hans/healthcorps/" value="https://emsa.ca.gov/disaster-medical-response-programs/" />
          <add key="/zh-hant/healthcorps/" value="https://emsa.ca.gov/disaster-medical-response-programs/" />
          <add key="/manage-stress-for-health/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/es/manage-stress-for-health/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/tl/manage-stress-for-health/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/ar/manage-stress-for-health/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/ko/manage-stress-for-health/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/vi/manage-stress-for-health/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/zh-hans/manage-stress-for-health/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/zh-hant/manage-stress-for-health/" value="https://osg.ca.gov/additional-information-and-links-for-support/" />
          <add key="/childcare/" value="https://covid19.ca.gov/education/#childcare" />
          <add key="/es/childcare/" value="https://covid19.ca.gov/es/education/#childcare" />
          <add key="/tl/childcare/" value="https://covid19.ca.gov/tl/education/#childcare" />
          <add key="/ar/childcare/" value="https://covid19.ca.gov/ar/education/#childcare" />
          <add key="/ko/childcare/" value="https://covid19.ca.gov/ko/education/#childcare" />
          <add key="/vi/childcare/" value="https://covid19.ca.gov/vi/education/#childcare" />
          <add key="/zh-hans/childcare/" value="https://covid19.ca.gov/zh-hans/education/#childcare" />
          <add key="/zh-hant/childcare/" value="https://covid19.ca.gov/zh-hant/education/#childcare" />
          <add key="/safer-economy/" value="/safely-reopening/" />
          <add key="/stay-home-except-for-essential-needs/" value="/safely-reopening/" />
          <add key="/industry-guidance/" value="/safely-reopening/" />
          <add key="/news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/ar/news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/es/news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/ko/news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/tl/news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/vi/news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/zh-hans/news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/zh-hant/news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/guidance-languages/" value="/safely-reopening/" />
          <add key="/ar/guidance-languages/" value="/ar/safely-reopening/" />
          <add key="/es/guidance-languages/" value="/es/safely-reopening/" />
          <add key="/ko/guidance-languages/" value="/ko/safely-reopening/" />
          <add key="/tl/guidance-languages/" value="/tl/safely-reopening/" />
          <add key="/vi/guidance-languages/" value="/vi/safely-reopening/" />
          <add key="/zh-hans/guidance-languages/" value="/zh-hans/safely-reopening/" />
          <add key="/zh-hant/guidance-languages/" value="/zh-hant/safely-reopening/" />
          <add key="/symptoms-and-risks/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/ar/symptoms-and-risks/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/es/symptoms-and-risks/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/ko/symptoms-and-risks/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/tl/symptoms-and-risks/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/vi/symptoms-and-risks/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/zh-hans/symptoms-and-risks/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/zh-hant/symptoms-and-risks/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Symptoms-Risks.aspx" />
          <add key="/ar/industry-guidance/" value="/ar/safely-reopening/" />
          <add key="/es/industry-guidance/" value="/es/safely-reopening/" />
          <add key="/ko/industry-guidance/" value="/ko/safely-reopening/" />
          <add key="/tl/industry-guidance/" value="/tl/safely-reopening/" />
          <add key="/vi/industry-guidance/" value="/vi/safely-reopening/" />
          <add key="/zh-hant/industry-guidance/" value="/zh-hant/safely-reopening/" />
          <add key="/zh-hans/industry-guidance/" value="/zh-hans/safely-reopening/" />
          <add key="/ar/safer-economy/" value="/ar/safely-reopening/" />
          <add key="/es/safer-economy/" value="/es/safely-reopening/" />
          <add key="/ko/safer-economy/" value="/ko/safely-reopening/" />
          <add key="/tl/safer-economy/" value="/tl/safely-reopening/" />
          <add key="/vi/safer-economy/" value="/vi/safely-reopening/" />
          <add key="/zh-hant/safer-economy/" value="/zh-hant/safely-reopening/" />
          <add key="/zh-hans/safer-economy/" value="/zh-hans/safely-reopening/" />
          <add key="/ar/stay-home-except-for-essential-needs/" value="/ar/safely-reopening/" />
          <add key="/es/stay-home-except-for-essential-needs/" value="/es/safely-reopening/" />
          <add key="/tl/stay-home-except-for-essential-needs/" value="/tl/safely-reopening/" />
          <add key="/vi/stay-home-except-for-essential-needs/" value="/vi/safely-reopening/" />
          <add key="/ko/stay-home-except-for-essential-needs/" value="/ko/safely-reopening/" />
          <add key="/zh-hant/stay-home-except-for-essential-needs/" value="/zh-hant/safely-reopening/" />
          <add key="/zh-hans/stay-home-except-for-essential-needs/" value="/zh-hans/safely-reopening/" />
          <add key="/hotel-rooms-for-california-healthcare-workers/" value="https://www.dgs.ca.gov/OFAM/Travel/Resources/Page-Content/Resources-List-Folder/COVID-19-Obligations-of-Health-Care-Workers" />
          <add key="/ar/hotel-rooms-for-california-healthcare-workers/" value="https://www.dgs.ca.gov/OFAM/Travel/Resources/Page-Content/Resources-List-Folder/COVID-19-Obligations-of-Health-Care-Workers" />
          <add key="/es/hotel-rooms-for-california-healthcare-workers/" value="https://www.dgs.ca.gov/OFAM/Travel/Resources/Page-Content/Resources-List-Folder/COVID-19-Obligations-of-Health-Care-Workers" />
          <add key="/ko/hotel-rooms-for-california-healthcare-workers/" value="https://www.dgs.ca.gov/OFAM/Travel/Resources/Page-Content/Resources-List-Folder/COVID-19-Obligations-of-Health-Care-Workers" />
          <add key="/tl/hotel-rooms-for-california-healthcare-workers/" value="https://www.dgs.ca.gov/OFAM/Travel/Resources/Page-Content/Resources-List-Folder/COVID-19-Obligations-of-Health-Care-Workers" />
          <add key="/vi/hotel-rooms-for-california-healthcare-workers/" value="https://www.dgs.ca.gov/OFAM/Travel/Resources/Page-Content/Resources-List-Folder/COVID-19-Obligations-of-Health-Care-Workers" />
          <add key="/zh-hant/hotel-rooms-for-california-healthcare-workers/" value="https://www.dgs.ca.gov/OFAM/Travel/Resources/Page-Content/Resources-List-Folder/COVID-19-Obligations-of-Health-Care-Workers" />
          <add key="/zh-hans/hotel-rooms-for-california-healthcare-workers/" value="https://www.dgs.ca.gov/OFAM/Travel/Resources/Page-Content/Resources-List-Folder/COVID-19-Obligations-of-Health-Care-Workers" />
          <add key="/latest-news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/es/latest-news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/ar/latest-news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/ko/latest-news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/tl/latest-news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/vi/latest-news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/zh-hant/latest-news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/zh-hans/latest-news/" value="https://www.gov.ca.gov/newsroom/" />
          <add key="/distance-learning/" value="https://www.caeducatorstogether.org/collections/ca-governor-s-taskforce-distance-learning-resources" />
          <add key="/es/distance-learning/" value="https://www.caeducatorstogether.org/collections/ca-governor-s-taskforce-distance-learning-resources" />
          <add key="/tl/distance-learning/" value="https://www.caeducatorstogether.org/collections/ca-governor-s-taskforce-distance-learning-resources" />
          <add key="/ar/distance-learning/" value="https://www.caeducatorstogether.org/collections/ca-governor-s-taskforce-distance-learning-resources" />
          <add key="/ko/distance-learning/" value="https://www.caeducatorstogether.org/collections/ca-governor-s-taskforce-distance-learning-resources" />
          <add key="/vi/distance-learning/" value="https://www.caeducatorstogether.org/collections/ca-governor-s-taskforce-distance-learning-resources" />
          <add key="/zh-hant/distance-learning/" value="https://www.caeducatorstogether.org/collections/ca-governor-s-taskforce-distance-learning-resources" />
          <add key="/zh-hans/distance-learning/" value="https://www.caeducatorstogether.org/collections/ca-governor-s-taskforce-distance-learning-resources" />
          <add key="/help-for-seniors/" value="/food-resources/#older-adults" />
          <add key="/es/help-for-seniors/" value="/es/food-resources/#older-adults" />
          <add key="/tl/help-for-seniors/" value="/tl/food-resources/#older-adults" />
          <add key="/ar/help-for-seniors/" value="/ar/food-resources/#older-adults" />
          <add key="/ko/help-for-seniors/" value="/ko/food-resources/#older-adults" />
          <add key="/vi/help-for-seniors/" value="/vi/food-resources/#older-adults" />
          <add key="/zh-hant/help-for-seniors/" value="/zh-hant/food-resources/#older-adults" />
          <add key="/zh-hans/help-for-seniors/" value="/zh-hans/food-resources/#older-adults" />
          <add key="/workers/" value="/workers-and-businesses/" />
          <add key="/es/workers/" value="/es/workers-and-businesses/" />
          <add key="/ar/workers/" value="/ar/workers-and-businesses/" />
          <add key="/ko/workers/" value="/ko/workers-and-businesses/" />
          <add key="/vi/workers/" value="/vi/workers-and-businesses/" />
          <add key="/tl/workers/" value="/tl/workers-and-businesses/" />
          <add key="/zh-hans/workers/" value="/zh-hans/workers-and-businesses/" />
          <add key="/zh-hant/workers/" value="/zh-hant/workers-and-businesses/" />
          <add key="/contact-tracing/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx" />
          <add key="/es/contact-tracing/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx" />
          <add key="/ar/contact-tracing/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx" />
          <add key="/ko/contact-tracing/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx" />
          <add key="/vi/contact-tracing/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx" />
          <add key="/tl/contact-tracing/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx" />
          <add key="/zh-hans/contact-tracing/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx" />
          <add key="/zh-hant/contact-tracing/" value="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19-Contact-Tracing.aspx" />
          <add key="/notify-privacy/" value="https://canotify.ca.gov/privacy/" />
          <add key="/es/notify-privacy/" value="https://canotify.ca.gov/es/privacy/" />
          <add key="/ar/notify-privacy/" value="https://canotify.ca.gov/ar/privacy/" />
          <add key="/ko/notify-privacy/" value="https://canotify.ca.gov/ko/privacy/" />
          <add key="/vi/notify-privacy/" value="https://canotify.ca.gov/vi/privacy/" />
          <add key="/tl/notify-privacy/" value="https://canotify.ca.gov/tl/privacy/" />
          <add key="/zh-hans/notify-privacy/" value="https://canotify.ca.gov/zh-hans/privacy/" />
          <add key="/zh-hant/notify-privacy/" value="https://canotify.ca.gov/zh-hans/privacy/" />
          <add key="/hotline/" value="/get-local-information/" />
          <add key="/es/hotline/" value="/es/get-local-information/" />
          <add key="/ar/hotline/" value="/ar/get-local-information/" />
          <add key="/ko/hotline/" value="/ko/get-local-information/" />
          <add key="/vi/hotline/" value="/vi/get-local-information/" />
          <add key="/tl/hotline/" value="/tl/get-local-information/" />
          <add key="/zh-hans/hotline/" value="/zh-hans/get-local-information/" />
          <add key="/zh-hant/hotline/" value="/zh-hant/get-local-information/" />
          <add key="/hotlines/" value="/get-local-information/" />
          <add key="/es/hotlines/" value="/es/get-local-information/" />
          <add key="/ar/hotlines/" value="/ar/get-local-information/" />
          <add key="/ko/hotlines/" value="/ko/get-local-information/" />
          <add key="/vi/hotlines/" value="/vi/get-local-information/" />
          <add key="/tl/hotlines/" value="/tl/get-local-information/" />
          <add key="/zh-hans/hotlines/" value="/zh-hans/get-local-information/" />
          <add key="/zh-hant/hotlines/" value="/zh-hant/get-local-information/" />
          <add key="/guide-immigrant-californians/" value="https://immigrantguide.ca.gov/en/covid19/" />
          <add key="/es/guide-immigrant-californians/" value="https://immigrantguide.ca.gov/es/covid19/" />
          <add key="/ar/guide-immigrant-californians/" value="https://immigrantguide.ca.gov/ar/covid19/" />
          <add key="/ko/guide-immigrant-californians/" value="https://immigrantguide.ca.gov/ko/covid19/" />
          <add key="/vi/guide-immigrant-californians/" value="https://immigrantguide.ca.gov/vi/covid19/" />
          <add key="/tl/guide-immigrant-californians/" value="https://immigrantguide.ca.gov/fil/covid19/" />
          <add key="/zh-hans/guide-immigrant-californians/" value="https://immigrantguide.ca.gov/zh-CHT/covid19/" />
          <add key="/zh-hant/guide-immigrant-californians/" value="https://immigrantguide.ca.gov/zh-CHT/covid19/" />
          <add key="/dream-vacations-terms/" value="/vax-for-the-win/" />
          <add key="/es/dream-vacations-terms/" value="/es/vax-for-the-win/" />
          <add key="/tl/dream-vacations-terms/" value="/tl/vax-for-the-win/" />
          <add key="/ar/dream-vacations-terms/" value="/ar/vax-for-the-win/" />
          <add key="/ko/dream-vacations-terms/" value="/ko/vax-for-the-win/" />
          <add key="/vi/dream-vacations-terms/" value="/vi/vax-for-the-win/" />
          <add key="/zh-hans/dream-vacations-terms/" value="/zh-hans/vax-for-the-win/" />
          <add key="/zh-hant/dream-vacations-terms/" value="/zh-hant/vax-for-the-win/" />
          <add key="/vax-for-the-win-six-flags/" value="/vax-for-the-win/" />
          <add key="/es/vax-for-the-win-six-flags/" value="/es/vax-for-the-win/" />
          <add key="/tl/vax-for-the-win-six-flags/" value="/tl/vax-for-the-win/" />
          <add key="/ar/vax-for-the-win-six-flags/" value="/ar/vax-for-the-win/" />
          <add key="/ko/vax-for-the-win-six-flags/" value="/ko/vax-for-the-win/" />
          <add key="/vi/vax-for-the-win-six-flags/" value="/vi/vax-for-the-win/" />
          <add key="/zh-hans/vax-for-the-win-six-flags/" value="/zh-hans/vax-for-the-win/" />
          <add key="/zh-hant/vax-for-the-win-six-flags/" value="/zh-hant/vax-for-the-win/" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="FolderRemoval1" stopProcessing="true">
          <match url="(?:wordpress-posts|manual-content)/(.*)" />
          <action type="Redirect" url="/{R:1}" />
        </rule>
        <rule name="PdfToBlobStorage" stopProcessing="true">
          <match url="^pdf/(.*)" />
          <action type="Redirect" url="https://files.covid19.ca.gov/pdf/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="WPPdfToBlobStorage" stopProcessing="true">
          <match url="^img/wp/(.*)" />
          <action type="Redirect" url="https://files.covid19.ca.gov/pdf/wp/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="langpostfixFix" stopProcessing="true">
          <match url="(.*)-(es|ar|tl|vi|zh|ko|zh-hant|zh-hans)/$" />
          <action type="Redirect" url="{R:2}/{R:1}/" />
        </rule>
        <rule name="AddTrailingSlash BeforeStaticRewrites" stopProcessing="true">
          <match url="(^[^.]*[^/]$)" />
          <action type="Redirect" url="{R:1}/" />
        </rule>
        <rule name="Static Rewrite Rule" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{StaticRewrites:{URL}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" />
        </rule>
        <rule name="RedirectWwwToNonWww" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="https://{C:2}{REQUEST_URI}" />
        </rule>
        <rule name="410response" stopProcessing="true">
          <conditions>
            <add input="{410Removals:{URL}}" pattern=".+" />
          </conditions>
          <action type="CustomResponse" statusCode="410" statusReason="Gone" statusDescription="Gone. The requested resource is no longer available." />
        </rule>
        <rule name="RemoveQuerystringFromPdf" stopProcessing="true">
          <match url="(.*\.pdf$)" />
          <conditions>
            <add input="{QUERY_STRING}" pattern=".+" />
          </conditions>
          <action type="Redirect" url="{R:1}" appendQueryString="false" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS">
          <!-- Preload HSTS here ... https://hstspreload.org/ -->
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom" defaultResponseMode="File" >
      <remove statusCode="404" />
      <remove statusCode="410" />
      <remove statusCode="500" />
      <error statusCode="404" path="404\index.html" />
      <error statusCode="410" path="410\index.html" />
      <error statusCode="500" path="500\index.html" />
    </httpErrors>
  </system.webServer>
  <location path="img">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="fonts">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
