<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="410Removals" defaultValue="">
          <add key="/stats-zh-hant/" value="foo" />
          <add key="/stats/" value="foo" />
        </rewriteMap>
        <rewriteMap name="StaticRewrites" defaultValue="">
          <add key="/what-you-can-do/" value="/stay-home-except-for-essential-needs/" />
          <add key="/health-corps/" value="/healthcorps/" />
          <add key="/employment/" value="/business-and-employers/" />
          <add key="/toolkit/" value="https://toolkit.covid19.ca.gov/" />
          <add key="/img/wp/caregivers-and-kids_california-surgeon-general_stress-busting-playbook_draft-v2_clean_ada_04072020.pdf" value="/pdf/caregivers_and_kids_california_surgeon_general_stress_busting_playbook_draft_v2_clean_ada_04072020v2.pdf" />
          <add key="/img/wp/california_surgeon-general_stress-busting-playbook_draft-v2clean_ada.pdf" value="pdf/caregivers_and_kids_california_surgeon_general_stress_busting_playbook_draft_v2_clean_ada_04072020v2.pdf" />
          <add key="/img/wp/essential-workforce-document-spanish-03222020.pdf" value="/img/wp/essential-workforce_espanol_final.pdf" />
          <add key="/img/wp/covid-19-immigrant-guidance-accessible-gov7sp23150.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/img/wp/covid-19-immigrant-guidance-accessible-1.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/img/wp/covid-19-immigrant-guidance-final-accessible-1.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/img/wp/covid-19-immigrant-guidance-accessible-1-2.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_en_daf.pdf" />
          <add key="/img/wp/spanish-covid-19-immigrant-guidance-accessible-1.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_es_daf.pdf" />
          <add key="/img/wp/spanish-covid-19-immigrant-guidance-accessible-1-2.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_es_daf.pdf" />
          <add key="/img/wp/spanish-covid-19-immigrant-guide-accessible.pdf" value="/img/wp/listos_covid_19_immigrant_guidance_es_daf.pdf" />
          <add key="/safety-in-public-places/" value="/public-recreation/" />
          <add key="/es/latest-news/" value="/latest-news/" />
          <add key="/الأماكن-العامة/" value="/safety-in-public-places-ar/" />
          <add key="/recovery-roadmap/" value="/roadmap/" />
          <add key="/recovery/" value="/roadmap/" />
          <add key="/guide-immigrant-californians-tl-2/" value="/guide-immigrant-californians-tl/" />
          <add key="/telehealth-care" value="/telehealth" />
          <add key="/guia-californianos-inmigrantes/" value="/guide-immigrant-californians-es/" />
          <add key="/encuentre-opciones-de-cuidado-infantil-cerca-de-usted/" value="/childcare-es/" />
          <add key="/empresas-y-empleadores/" value="/business-and-employers-es/" />
          <add key="/lucha-contra-la-discriminacion/" value="/discrimination-es/" />
          <add key="/la-educacion/" value="/education-es/" />
          <add key="/conseguir-comida/" value="/food-resources-es/" />
          <add key="/getting-food-zh-hans/" value="/food-resources-zh-hans/" />
          <add key="/getting-food-zh-hant/" value="/food-resources-zh-hant/" />
          <add key="/obtener-ayuda-financiera/" value="/get-financial-help-es/" />
          <add key="/el-cuidado-de-la-salud/" value="/healthcare-es/" />
          <add key="/cuerpo-de-salud-de-california/" value="/healthcorps-es/" />
          <add key="/lugares-publicos/" value="/safety-in-public-places-es/" />
          <add key="/impuestos/" value="/taxes-es/" />
          <add key="/pruebas-y-tratamiento/" value="/testing-and-treatment-es/" />
          <add key="/linea-de-atencion-de-covid-19/" value="/hotline-es/" />
          <add key="/testing-and-treatment-zh-hant-2/" value="/testing-and-treatment-zh-hant/" />
          <add key="/los-sintomas-y-los-riesgos/" value="/symptoms-and-risks-es/" />
          <add key="/quedese-en-casa-excepto-por-necesidades-esenciales/" value="/stay-home-except-for-essential-needs-es/" />
          <add key="/entregas-a-domicilio-para-personas-de-la-tercera-edad/" value="/restaurants-deliver-home-meals-for-seniors-es/" />
          <add key="/recursos-para-el-apoyo-emocional-y-el-bienestar/" value="/resources-for-emotional-support-and-well-being-es/" />
          <add key="/encuesta-de-reactivacion-en-california/" value="/recovery-input-es/" />
          <add key="/trabajadores/" value="/workers-es/" />
          <add key="/manejar-el-estres-para-la-salud/" value="/manage-stress-for-health-es/" />
          <add key="/la-vivienda-y-las-personas-sin-hogar/" value="/housing-and-homelessness-es/" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="FolderRemoval1" stopProcessing="true">
          <match url="wordpress-posts/(.*)" />
          <action type="Redirect" url="/{R:1}" />
        </rule>
        <rule name="AddTrailingSlash BeforeStaticRewrites" stopProcessing="true">
          <match url="(^[^.]*[^/]$)" />
          <action type="Redirect" url="{UrlEncode:{R:1}}/" />
        </rule>
        <rule name="Static Rewrite Rule" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{StaticRewrites:{URL}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" />
        </rule>
        <rule name="RedirectWwwToNonWww" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="https://{C:2}{REQUEST_URI}" />
        </rule>
        <rule name="410response" stopProcessing="true">
          <conditions>
            <add input="{410Removals:{URL}}" pattern=".+" />
          </conditions>
          <action type="CustomResponse" statusCode="410" statusReason="Gone" statusDescription="Gone. The requested resource is no longer available." />
        </rule>
        <rule name="RemoveQuerystringFromPdf" stopProcessing="true">
          <match url="(.*\.pdf$)" />
          <conditions>
            <add input="{QUERY_STRING}" pattern=".+" />
          </conditions>
          <action type="Redirect" url="{R:1}" appendQueryString="false" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS">
          <!-- Preload HSTS here ... https://hstspreload.org/ -->
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom" defaultResponseMode="File" >
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="404\index.html" />
      <error statusCode="500" path="500\index.html" />
    </httpErrors>
  </system.webServer>
  <location path="img">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="fonts">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
