#variant-chart {
  div.tooltip-container {
    font-weight: 300;
    font-size: 0.75rem;
    color: black;
    text-align: center;
  }
  div.tooltip-container table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  div.tooltip-container td.tt-label {
    padding-right: 20px;
  }
  div.tooltip-container td.tt-value {
    font-weight: 600;
  }

  .tooltip-container {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background: #fff;
    width: 280px;
  }

  .tooltip-container {
    pointer-events: none;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
    border: none;
  }
  g.tt-marker {
    fill: black;
    opacity: 0.15;
  }

  g.pending-block {
    rect {
      fill: black;
      opacity: 0.05;
    }
    text {
      font-weight: 300;
      font-size: 0.8rem;
      fill: black;
      opacity: 0.5;
    }
    text {
      text-anchor: end;
      dominant-baseline: auto;
    }
  }

}

.d-hide {
  display: none;
}

cagov-chart-filter-select {
  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: no-repeat right 10px top 50% url(/img/arrow-orange.svg);
    border-color: black;
    border-radius: 0;
    color: #1f2574;
    font-size: 15.2px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px 30px 10px 10px;
    text-decoration: underline;
    &:focus-visible {
      border: 1px solid #ffcf44;
      outline: none;
    }
  }
}