.button {
	display: inline-flex;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	margin: 1rem 0 0 0;
	color: $primary;
	padding: .15rem;
	@include tablet {
		margin: 1.25rem 0 0 0;
	}
	@include desktop {
		margin: 1.75rem 0 0 0;
	}
	&-label {
		font-family: $headline;
		text-transform: uppercase;
		font-weight: 300;
		display: inline-flex;
		align-items: center;
		margin-right: 1rem;
		transition: $basic;
		@extend %headline6;
		color: $darkblue
	}
	&-arrow-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&-arrow,
	&-primary-circle {
		position: absolute;
		transition: 1.2s cubic-bezier(.15,.92,.14,.95);
		-webkit-backface-visibility :hidden;
		backface-visibility: hidden
	}
	&-primary-circle {
		width: 100%;
		height: 100%;
		border: 2px solid;
		border-radius: 100%;
		overflow: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0
	}
	&-icon {
		@include size(40px);
		min-width: 40px;
		min-height: 40px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		@include tablet {
			@include size(50px);
			min-width:  50px;
			min-height: 50px
		}
		@include desktop {
			@include size(3.125vw);
			min-width:  3.125vw;
			min-height: 3.125vw
		}
		@include lg {
			@include size(60px);
			min-width:  60px;
			min-height: 60px
		}
	}
	&-arrow {
		left: 50%;
		top: 50%;
		width: 16px;
		min-width: 16px;
		height: 1rem;
		transform: translate(-50%, -50%);
		@include lg {
			width: 1.0416vw;
			min-width: 1.0416vw
		}
		&:last-of-type {
			transform: translate(-275%, -50%);
		}
	}
	&-inline-svg {
		position: relative;
		display: block;
		width: 100%;
		height: 1rem;
		&-art {
			@include size(100%);
			@include absolute(left 0 right 0 top 0 bottom 0);
			display: block;
			stroke: $blue;
		}
	}
	&:hover {
		.button {
			&-label {
				color: $blue;
			}
			&-primary-circle {
				border-color: $darkblue;
				transform: scale(1.15)
			}
			&-arrow {
				transform: translate(275%,-50%)
			}
			&-arrow:last-of-type {
				transform: translate(-50%,-50%);
				&-art {
					stroke: $orange;
				}
			}
		}
	}
	&:focus {
		.button {
			&-label {
				color: $blue;
			}
			&-primary-circle {
				background: $orange;
				border-color: $darkblue;
				transform: scale(1.15)
			}
			&-arrow {
				transform: translate(275%,-50%)
			}
			&-arrow:last-of-type {
				transform: translate(-50%,-50%);
				&-art {
					stroke: $yellow;
				}
			}
		}
	}
	&.orange-button {
		color: $lightblue;
		.button {
			&-label {
				color: $lightblue !important;
			}
			&-primary-circle {
				border-color: $lightblue;
			}
			&-inline-svg {
				color: $lightblue;
			}
		}
		&:hover {
			.button {
				&-label {
					color: $white !important;
				}
				&-primary-circle {
					border-color: $white;
				}
				&-inline-svg {
					color: $white;
				}
			}
		}
		&:focus {
			.button {
				&-label {
					color: $orange !important;
				}
				&-primary-circle {
					background-color: $white;
				border-color: $yellow	;
				}
				&-inline-svg {
					color: $orange;
				}
			}
		}
	}
}
