.header {
	background: $darkblue;
	width: 100%;
	@include fixed(left 0 top 0);
	z-index: 1000;
	transition: .4s box-shadow $slow-curve;
	&-wrap {
		@extend %wrap;
		display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
		position: relative;
		@include desktop {
			flex-wrap: nowrap;
		}
	}
	/*
	&-logo {
		margin: 0 0 0 64px; 
		width: 100%;
		order: 4;
		@include phone {
			background: #0d3892;
		}
		@include tablet {
			background: transparent;
			order: 0;
			width: auto;
		}
		&-grid {
			display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-items: center;
		}
		&-mark {
			width: 6rem;
			display: block;
			background: $blue;
			padding: .5rem .75rem;
			box-shadow: $button-shadow;
			transition: width .4s $slow-curve, background .4s $slow-curve;
			overflow-y: hidden;
			@include desktop {
				width: 8rem;
				padding: 1rem .75rem;
			}
		}
		&-text {
	    text-align: left;
	    padding-left: .75rem;
	    @include phone {
	    }
	    &-url {
	      @extend %headline7;
	      color: $orange;
	      text-transform: uppercase;
	      display: block;
				transition: color .4s $slow-curve;
	    }
	    &-title {
	      @extend %headline4;
	      color: $white;
	      white-space: nowrap;
	      display: block;
				transition: color .4s $slow-curve;
	      @include phone {
	        font-size: 1.2rem;
	      }
	    }
	  }
		&:hover {
			.header-logo {
				&-mark {
					background: $white;
		    }
				&-text {
					&-url {
						color: $white;
					}
					&-title {
						color: $orange;
					}
				}
			}
			.logo-mark {
				&-orange {
					fill: $darkblue
				}
				&-white {
					fill: $orange;
				}
			}
		}
		&:focus {
			.header-logo {
				&-mark {
					background: $white;
					box-shadow: 0 0 0 4px $yellow, $shadow-hover;
		    }
				&-text {
					&-url {
						color: $white;
					}
					&-title {
						color: $orange;
					}
				}
			}
			.logo-mark {
				&-orange {
					fill: $darkblue
				}
				&-white {
					fill: $orange;
				}
			}
		}
	}
	*/

	
	&-right {
		margin-left: 0;
	}
	/*
	&-search {
		background: $blue;
		border-radius: 2rem;
		transition: background .5s $slow-curve;
		padding: 0;
		margin: .5rem .5rem .5rem auto;
		width: 55%;
		order: 2;
		@include tablet {
			width: 13rem;
			padding: 0 0 0 .25rem;
			margin: 0;
			order: 0;
			margin-left: auto;
		}
		@include tablet-wide {
			width: 22rem;
			padding: .25rem .25rem .25rem .75rem;
		}
		@include desktop {
			width: 25rem;
			padding: .5rem .5rem .5rem 1rem;
		}
		@keyframes border-pulse {
		  from { box-shadow: 0 0 0 0 $yellow; }
		  50%  { box-shadow: 0 0 0 3px $yellow; }
		  to   { box-shadow: 0 0 0 0 $yellow; }
		}
		&.focused {
			background: $white;
			box-shadow:  $button-shadow, 0 0 0 2px $yellow;
			animation-name: border-pulse;
			animation-duration: 1s;
			animation-iteration-count: 3;
			.header-search {
				&-label {
					color: $darkblue
				}
				&-field {
					color: $darkblue;					
					@include placeholder {
						color: $darkblue;
					}
				}
				&-button {
					&-svg {
						fill: $darkblue;
					}
				}
			}
		}
		&:hover {
			background: $white;
			.header-search {
				&-label {
					color: $darkblue;
				}
				&-field {
					@include placeholder {
						color: $darkblue;
					}
				}
				&-button {
					&-svg {
						fill: $darkblue;
					}
				}
			}
		}
		&-form {
			background: transparent;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0;
			transition: $slow;
			cursor: pointer;
			@include tablet {
				background: transparent;
			}
			&:hover {
			}
		}
		&-label {
			color: $lightestblue;
			text-transform: uppercase;
			font-size: 95%;
			padding: .5rem .75rem .5rem 0;
			border-right: 1px solid $darkblue;
			cursor: pointer;
			transition: color .5s $slow-curve;
			margin-bottom: .5rem;
			@include phone {
				@include screen-reader-text;
			}
			&:hover {
				color: $blue;
			}
		}
		&-field {
			background: transparent;
			padding: .75rem .5rem .75rem 1rem;
			font-size: 1rem;
			border: 0;
			width: 100%;
			color: $white;
			transition: $slow;
			@include tablet {
				padding: .75rem .5rem .75rem .75;
			}
			@include placeholder {
				color: $white;
				transition: $slow;
				@include phone {
					color: $orange;
				}
			}
			&:hover {
				@include placeholder {
					color: $blue !important;
				}
			}
			&:focus {
				@include placeholder {
					color: $darkblue;
				}
			}
		}
		&-button {
			@include size(2.25rem);
			border: 0;
			border-radius: 50%;
			background: transparent;
			cursor: pointer;
			padding: .5rem;
			margin-right: .15rem;
			flex: 1 0 auto;
			transition: transform .5s $bounce-curve;
			&-svg {
				width: 100%;
				max-height: 2.5rem;
				fill: $white;
				transition: fill .3s $slow-curve;
			}
			&:hover {
				.header-search-button {
					&-svg {
						fill: $blue;
					}
				}
			}
			&:focus {
				background: $blue;
				.header-search-button {
					&-svg {
						fill: $white;;
					}
				}
			}
		}
	}
	*/
	/*
	&-language {
		background: transparent;
		border: 0;
		color: $white;
		font-size: .85rem;
		margin-right: .25rem;
		border-radius: 1rem;
		padding: .5rem;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		order: 3;
		cursor: pointer;
		@include tablet {
			font-size: 1rem;
			margin-left: 1rem;
			order: 0;
		}
		@include desktop {
			margin-right: 0;
		}
		&:hover {
			.header-language {
				&-label {
					color: $yellow;
				}
			}
		}
		&:focus {
			background: $white;
			.header-language {
				&-label {
					color: $darkblue;
				}
				&-arrow {
					transform: rotate(180deg);
					fill: $darkblue;
				}
			}
		}
		&.expanded {
			background: $lightestblue;
			.header-language {
				&-label {
					color: $darkblue;
				}
				&-arrow {
					transform: rotate(180deg);
					fill: $darkblue;
				}
			}
		}
		&-label {
			white-space: nowrap;
			transition: color .3s $slow-curve;
			&-hide {
				@include phone {
					display: none;
				}
			}
		}
		&-arrow {
			fill: $orange;
			width: .75rem;
			max-height: 1rem;
			margin-left: .25rem;
			transition: $bounce;
			@include tablet {
				margin-left: .5rem;
			}
		}
		&-dropdown {
			display: none;
			width: 100%;
			order: 3;
			background: $darkblue;
			@include tablet {
				order: 7;
			}
			@include desktop {
				width: 16rem;
				box-shadow: $shadow;
				@include absolute(right 0 top 85%);
			}
			&.is-open {
				@include desktop {
					display: block;
				}
			}
			&-item {
				display: block;
				padding: 1rem 1.25rem;
				color: $orange;
				text-align: left;
				border-top: 1px solid $blue;
				transition: $slow;
				&:hover {
					background: $yellow;
					color: $darkblue;
				}
				&:focus {
					outline: 2px solid $white;
				}
			}
		}
	}
	*/
}
.fixed.header {
	box-shadow: $button-shadow-hover;
	font-size: 1rem;
	@include ie {
		.logo-mark {
			max-height: 3.5rem;
		}
	}
	&-logo {
		&-mark {
			width: 5rem;
			@include tablet {
				width: 6rem;
			}
		}
	}
}

