.video-modal {
	display: none;
  text-align: center;
	@include fixed(left 0 top 0);
	@include size(100vw, 100vh);
	&-content {
		@include absolute(left 50% top 50%);
		transform: translateX(-50%) translateY(-50%) scale(.9);
		transform-origin: center center;
		background: $black;
		width: 90%;
		max-width: $desktop;
    box-shadow: 0 .5rem 1.5rem 0 rgba(0,0,0,.3);
		display: block;
    visibility: hidden;
		opacity: 0;
  	transition: all .3s ease-in-out;
  }
  &-player {
  	background: $black;
  	position: relative;
    @include aspect(16,9);
  	z-index: 100;
  	box-shadow: 0 .5rem 1.5rem 0 rgba(0,0,0,.3);
    iframe,
    object,
    embed {
			@include absolute(left 0 top 0);
			@include size(100%);
    }
  }
  &-close {
		@include size(3rem);
		@include absolute(right 0 top 0);
    z-index: 1000;
    display: block;
    padding: .75em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: $orange;
    color: $white;
    display: none;
    transform: translateX(50%) translateY(-50%);
    transition: all .3s ease-in-out;
    @media (min-width:768px) {
      display: block;
    }
    &-svg {
      fill: $white;
      width: 1.5em;
      max-height: 3em;
			pointer-events: none;
    }
    &:hover {
      background: $white;
			color: $orange;
			.video-modal-close-svg {
	      fill: $orange;
	    }
    }
  }
	&.show-video {
		.video-modal-content {
			opacity: 1;
      visibility: visible;
      transform: scale(1) translateX(-50%) translateY(-50%);
		}
	}
}
.popup_background {
	background-color: $darkblue;
	@include size(100vw, 100vh);
  opacity: 0;
  visibility: hidden;
	@include fixed(left 0 right 0 top 0 bottom 0);
  z-index: 1;
}
.popup_visible {
	overflow: hidden;
  .video-modal {
		display: block;
		z-index: 1002;
    &-content {
			opacity: 1;
			visibility: visible;
			transform: scale(1) translateX(-50%) translateY(-50%);
    }
  }
  .popup_background {
    opacity: 1;
    visibility: visible;
    z-index: 1001;
	}
}
