.chart {
    // .bar-label .tick text {
    //   text-transform: capitalize;
    // }
    // .bar-label {
    //   font-weight: bold;
    //   font-size: 0.75rem;
    // }
    // .bar-cat {
    //   font-weight: bold;
    //   font-size: 0.95rem;
    // }
    // .legend-caption {
    //   font-weight: 300;
    //   font-size: 0.75rem;
    // }
    .chart-title {
      font-weight: 400;
      font-size: 0.95rem;
      margin-bottom:0px;
    }
    .chart-header {
      font-weight: 300;
      font-size: 1.0rem;
    }
    .chart-header .big-num {
      font-weight: 600;
      font-size: 1.5rem;
      color: #103083;
    }
    .chart-header .med-num {
      font-weight: 400;
      font-size: 1.0rem;
      color: #103083;
    }
}
.d-hide {
  display:none;
}

