cagov-chart-equity-missingness {
  position: relative;
  display: block;
  margin: auto;
  width: 90%;
  .svg-holder {
    max-width: 600px;
  }

  .bars {
    font-weight: bold;
    font-size: 0.95rem;
    text-anchor: unset;
  }
  .more-than-labels {
    font-size: 0.75rem;
  }
  .change-from-month-labels {
    font-size: 0.75rem;
  }
  .bar-label {
    font-weight: bold;
    font-size: 0.95rem;
    text-anchor: unset;
  }
  .bar-label text::first-letter {
    text-transform: capitalize;
  }
  .label {
    font-size: 0.95rem;
  }
  .chart-tooltip {
    padding: 10px;
    box-shadow: -12px 11px 5px -4px rgba(0, 0, 0, 0.4);
    border: solid 1px #ccc;
  }
  .highlight-data {
    font-weight: bold;
  }

  .equity-tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background: #fff;
    pointer-events: none;
  }
  .equity-tooltip--missingness {
    min-width: 300px;
  }
}