cagov-chart-equity-missingness {
  .bars {
    font-weight: bold;
    font-size: 12px;
    text-anchor: unset;
  }
  .more-than-labels {
    font-size: 10px;
  }
  .change-from-month-labels {
    font-size: 10px;
  }
  .bar-label {
    font-weight: bold;
    font-size: 12px;
    text-anchor: unset;
  }
  .label {
    font-size: 12px;
  }
  .chart-tooltip {
    padding: 10px;
    box-shadow: -12px 11px 5px -4px rgba(0, 0, 0, 0.4);
    border: solid 1px #ccc;
  }
  .highlight-data {
    font-weight: bold;
  }
}