<cagov-accordion>
  <div class="card">
    <button class="card-header accordion-alpha" type="button" aria-expanded="false">
      <div class="accordion-title">
<h4>Why is this Regional Stay Home Order being implemented now?&nbsp;</h4>
      </div><div class="plus-munus"></div>
    </button>
    <div class="card-container" aria-hidden="true" style="height: 0px;">
      <div class="card-body">
<p>We are in the midst of an unprecedented surge in cases and hospitalizations in California and across the country. Without immediate action many hospital Intensive Care Units (ICU) will reach capacity before the end of the year. ICU beds are a critical resource for individuals who need the most advanced support and care. Given the nationwide surge, the ability to add surge ICU capacity is limited by availability of ICU nurses and physicians. We need to protect our hospital capacity so those who need care—for such things as cancer treatment, heart attacks, and strokes—can get it. By taking this action we are saving lives, protecting our health care delivery system and keeping those at highest risk and essential workers safe.</p>

      </div>
    </div>
  </div>
</cagov-accordion>