<div class="bg-lightblue py-5">
  <div class="container py-2">
    <div class="row pb-4">
      <div class="col-md-12">
      <h2 class="text-center color-purple">Update for September 3. 2020</h2>
        <p>California now has 737,911 confirmed cases of COVID-19, resulting in 13,758 deaths. The number of COVID-related deaths increased by 0.2 percent from Sunday's total of 13,726. The number of COVID-19 diagnostic test results in California reached a total of 12,267,948, an increase of 109,656 tests since Sunday. The rate of positive tests over the last 14 days is 4.3 percent. </p>
        </p>Updated September 8, 2020 at 11:00 a.m.  with data from September 7.</p>
      </div>
    </div>

    <div class="row d-flex justify-content-md-center">
      <div class="col-md-3">
        <div class="bg-purple rounded-lg py-2 text-center mt-3">
          <div class="text-small text-uppercase color-orange line-height-1-2 mt-1">Total Cases</div>
          
            <div id="total-cases-number" class="text-white font-size-1-8em h2 my-2">632.667</div>
            <div id="total-cases-today" class="text-white mt-2"><strong>186</strong> today</div>
            <div id="total-cases-increase" class="text-white text-small mb-2"><span class="ca-gov-icon-arrow-fill-right-up color-secondary font-size-1-5em p-rel top-3px" aria-hidden="true"></span> 0.7% daily increase</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-purple rounded-lg py-2 text-center mt-3">
          <div class="text-small text-uppercase color-orange line-height-1-2 mt-1">Total Deaths</div>
          
            <div id="total-deaths-number" class="text-white font-size-1-8em h2 my-2">11.667</div>
            <div id="total-deaths-today" class="text-white mt-2"><strong>186</strong> today</div>
            <div id="total-deaths-increase" class="text-white text-small mb-2"><span class="ca-gov-icon-arrow-fill-right-down color-secondary font-size-1-5em p-rel top-3px" aria-hidden="true"></span> 0.7% daily decrease</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-purple rounded-lg py-2 text-center mt-3">
          <div class="text-small text-uppercase color-orange line-height-1-2 mt-1">Total People Tested</div>
          
            <div id="total-tested-number" class="text-white font-size-1-8em h2 my-2">10,667.667</div>
            <div id="total-tested-today" class="text-white mt-2"><strong>186</strong> today</div>
            <div id="total-tested-increase" class="text-white text-small mb-2"><span class="ca-gov-icon-arrow-fill-right-up color-secondary font-size-1-5em p-rel top-3px" aria-hidden="true"></span> 0.7% daily increase</div>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="py-5">
  <div class="container py-2">
    <div class="row d-flex justify-content-md-center">

<script
  type="text/javascript"
  src="https://tableau.cdt.ca.gov/javascripts/api/viz_v1.js"
></script>
<div class="tableauPlaceholder" style="width: 1000px; height: 450px">
  <object class="tableauViz" width="1000" height="450" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param
      name="name"
      value="COVID-19Webversion2020-09-8&#47;CasesandDeathsnewdesign"
    />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

<div class="tableauPlaceholder" style="width: 1000px; height: 450px">
  <object class="tableauViz" width="1000" height="450" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param
      name="name"
      value="COVID-19Webversion2020-09-8&#47;Testingnewdesign"
    />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

<div class="tableauPlaceholder" style="width: 1000px; height: 450px">
  <object class="tableauViz" width="1000" height="450" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param
      name="name"
      value="COVID-19Webversion2020-09-8&#47;HospitalsNewDesign"
    />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

<div class="tableauPlaceholder" style="width: 1000px; height: 450px">
  <object class="tableauViz" width="1000" height="450" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param name="name" value="COVID-19Webversion2020-09-8&#47;ICUsNewDesign" />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

<div class="tableauPlaceholder" style="width: 1000px; height: 736px">
  <object class="tableauViz" width="1000" height="736" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param
      name="name"
      value="COVID-19Webversion2020-09-8&#47;CountyMonitoringList"
    />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

<div class="tableauPlaceholder" style="width: 1333px; height: 736px">
  <object class="tableauViz" width="1333" height="736" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param
      name="name"
      value="COVID-19Webversion2020-09-8&#47;TableforCountyMonitoringList2"
    />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

<div class="tableauPlaceholder" style="width: 1000px; height: 350px">
  <object class="tableauViz" width="1000" height="350" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param name="name" value="COVID-19Webversion2020-09-8&#47;Ethnicity" />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

<div class="tableauPlaceholder" style="width: 1000px; height: 350px">
  <object class="tableauViz" width="1000" height="350" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param name="name" value="COVID-19Webversion2020-09-8&#47;Gender" />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

<div class="tableauPlaceholder" style="width: 1000px; height: 350px">
  <object class="tableauViz" width="1000" height="350" style="display: none">
    <param name="host_url" value="https%3A%2F%2Ftableau.cdt.ca.gov%2F" />
    <param name="embed_code_version" value="3" />
    <param name="site_root" value="" />
    <param name="name" value="COVID-19Webversion2020-09-8&#47;Age" />
    <param name="tabs" value="no" />
    <param name="toolbar" value="no" />
    <param name="showAppBanner" value="false" />
  </object>
</div>

</div>
</div>
</div>
