{%-set data = tableauCovidMetrics[0] -%}
{%-set dataYesterday = tableauCovidMetrics[1] -%}
{%-set data2 = dailyStatsV2.data -%}
{%-set _varStatDate_ = data.DATE | formatDate2(false, tags, 1)-%}
{%-set _varStatDateNoYear_ = _varStatDate_  | replace(", 2021", "")-%}
{%-set _varStatTotalCases_ = data.TOTALCONFIRMED | formatNumber(tags)-%}
{%-set _varStatTotalCasesToday_ = data.TOTALCONFIRMED_DAILY | formatNumber(tags)-%}
{%-set _varStatTotalCasesTodayPct_ = (100*data.TOTALCONFIRMED_DAILYPCTCHG) | formatNumber(tags,1)-%}
{%-set _varCasesTrend_ = 100*(data.TOTALCONFIRMED_DAILYPCTCHG - dataYesterday.TOTALCONFIRMED_DAILYPCTCHG) -%}

{%-set _varStatTotalDeaths_ = data.NUMBERDIED | formatNumber(tags)-%}
{%-set _varStatTotalDeathsToday_ = data.NUMBERDIED_DAILY | formatNumber(tags)-%}
{%-set _varStatTotalDeathsLast_ = (data.NUMBERDIED - data.NUMBERDIED_DAILY) | formatNumber(tags)-%}
{%-set _varStatTotalDeathsChange_ = (100*data.NUMBERDIED_DAILYPCTCHG) | formatNumber(tags,1)-%}
{%-set _varDeathsTrend_ = 100*(data.NUMBERDIED_DAILYPCTCHG - dataYesterday.NUMBERDIED_DAILYPCTCHG) -%}

{%-set _varStatTested_ = data.TESTED | formatNumber(tags)-%}
{%-set _varStatTestedDaily_ = data.TESTED_DAILY | formatNumber(tags)-%}
{%-set _varStatTestedDailyPct_ = (100*data.TESTED_DAILYPCTCHG) | formatNumber(tags,1)-%}
{%-set _varTestedTrend_ = 100*(data.TESTED_DAILYPCTCHG - dataYesterday.TESTED_DAILYPCTCHG) -%}


{%-set _varStatVaccines_ = data2.vaccinations.CUMMULATIVE_DAILY_DOSES_ADMINISTERED | formatNumber(tags)-%}
{%-set _varStatVaccinesDaily_ = data2.vaccinations.DOSES_ADMINISTERED | formatNumber(tags,0)-%}
{%-set _varStatVaccinesDailyPct_ = data2.vaccinations.PCT_INCREASE_FROM_PRIOR_DAY | formatNumber(tags,1)-%}
{%-set _varStarPos_14DayAvg_ = (100*data.POSITIVITY_14DAYAVG) | formatNumber(tags,1) -%}
{%-set _varStatYesterdayDate_ = data.DATE | formatDate2(false, tags)-%}
{%-set _varStatHospitalTotal_ = (data.HOSPITALIZED_COVID_CONFIRMED_PATIENTS + data.HOSPITALIZED_SUSPECTED_COVID_PATIENTS) | formatNumber(tags)-%}
{%-set _varStatIcuTotal_ = (data.ICU_COVID_CONFIRMED_PATIENTS + data.ICU_SUSPECTED_COVID_PATIENTS) | formatNumber(tags)-%}
{%-set _varStatHospitalChange_ = (data.HOSPITALIZED_COVID_CONFIRMED_PATIENTS_DAILY + data.HOSPITALIZED_SUSPECTED_COVID_PATIENTS_DAILY) | formatNumber(tags)-%}
{%-set _varStatIcuChange_ = (data.ICU_COVID_CONFIRMED_PATIENTS_DAILY + data.ICU_SUSPECTED_COVID_PATIENTS_DAILY) | formatNumber(tags)-%}
{%-set _varStatHospitalChangeText_ = 'an increase of' if _varStatHospitalChange_ >= 0 else 'a decrease of' -%}
{%-set _varStatIcuChangeText_ = 'an increase of' if _varStatIcuChange_ >= 0 else 'a decrease of' -%}
{%-set _varTierDate_ = tierData.TIER_DATE | formatDate2(false, tags) -%}
{%-set _varTierEndDate_ = tierData.TIER_ENDDATE | formatDate2(false, tags) -%}

{%-set _varCasesTrendClassU_        = '' if _varCasesTrend_ >= 0 else "d-none" %}
{%-set _varDeathsTrendClassU_       = '' if _varDeathsTrend_ >= 0 else "d-none" %}
{%-set _varTestedTrendClassU_       = '' if _varTestedTrend_ >= 0 else "d-none" %}
{%-set _varCasesTrendClassD_        = '' if _varCasesTrend_  < 0 else "d-none" %}
{%-set _varDeathsTrendClassD_       = '' if _varDeathsTrend_ < 0 else "d-none" %}
{%-set _varTestedTrendClassD_       = '' if _varTestedTrend_ < 0 else "d-none" %}


<!-- state dash 1.0 comment in njk -->
<div class="bg-lightblue py-5">
    <div class="container py-2">
        <div class="row pb-4">
            <div class="col-lg-10 mx-auto">
            <h2 class="text-center color-purple">Update for {{_varStatDate_}}</h2>
                <p>As of {{_varStatDateNoYear_}}, California has {{_varStatTotalCases_}} confirmed cases of COVID-19, resulting in {{_varStatTotalDeaths_}} deaths. The number of COVID-related deaths increased by {{_varStatTotalDeathsChange_}} percent from the prior day total of {{_varStatTotalDeathsLast_}}.</p>
                </p>Updated {{_varStatDate_}}, with data from {{_varStatYesterdayDate_}}.</p>
                <p class="small-text">Note: Numbers do not represent true day-over-day change as these results include cases from prior to yesterday. All-time series data is by reported date (the date information was reported to the California Department of Public Health).</p>
            </div>
        </div>

        <div class="row d-flex justify-content-md-center summary-boxes">
            <div class="col-md-3 px-10px">
                <div class="bg-purple bd-rounded-10 px-6px py-2 text-center mt-3 summary-box">
                <div class="h5 text-uppercase color-orange line-height-1-2 mt-1">Cases</div>
                
                    <div id="total-cases-number" class="text-white font-size-1-2em my-2"><strong>{{_varStatTotalCases_}}</strong> <span class="text-300">total</span></div>
                    <div id="total-cases-today" class="text-white font-size-1-2em mt-2"><strong>{{_varStatTotalCasesToday_}}</strong> <span class="text-300">today</span></div>
                    <div id="total-cases-increase" class="text-white text-xs line-height-1-5 my-2">
                    <span class="chart-arrow" arria-hidden="true">
					    <svg class="{{ _varCasesTrendClassU_ }}" version="1.1" class="arrow-up3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
						<path class="chart-arrow-path" d="M28.11,7.27c0-0.62-0.5-1.13-1.13-1.13h-7.64c-0.62,0-1.13,0.5-1.13,1.13s0.5,1.13,1.13,1.13h5.05l-8.16,8.25
							l-4.89-4.89c-0.44-0.44-1.15-0.44-1.59,0L0.9,20.6c-0.44,0.44-0.44,1.15,0,1.59c0.22,0.22,0.51,0.33,0.8,0.33s0.58-0.11,0.8-0.33
							l8.05-8.05l4.89,4.89c0.21,0.21,0.5,0.33,0.8,0.33c0,0,0,0,0,0c0.3,0,0.59-0.12,0.8-0.33l8.82-8.91v4.68c0,0.62,0.5,1.13,1.13,1.13
							s1.13-0.5,1.13-1.13V7.38c0-0.02,0-0.04,0-0.06C28.11,7.3,28.11,7.28,28.11,7.27z"/>
						</svg>

						<!--negative arrow-->
						<svg class="{{ _varCasesTrendClassD_ }} arrow-down3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
						<path class="chart-arrow-path" d="M28.11,21.4c0,0.62-0.5,1.13-1.13,1.13h-7.64c-0.62,0-1.13-0.5-1.13-1.13s0.5-1.13,1.13-1.13h5.05l-8.16-8.25
							l-4.89,4.89c-0.44,0.44-1.15,0.44-1.59,0L0.9,8.07c-0.44-0.44-0.44-1.15,0-1.59c0.22-0.22,0.51-0.33,0.8-0.33s0.58,0.11,0.8,0.33
							l8.05,8.05l4.89-4.89c0.21-0.21,0.5-0.33,0.8-0.33c0,0,0,0,0,0c0.3,0,0.59,0.12,0.8,0.33l8.82,8.91v-4.68c0-0.62,0.5-1.13,1.13-1.13
							s1.13,0.5,1.13,1.13v7.42c0,0.02,0,0.04,0,0.06C28.11,21.36,28.11,21.38,28.11,21.4z"/>
						</svg>
					</span> 
                     {{_varStatTotalCasesTodayPct_}}% <span class="text-300">increase from prior day total</span></div>
                </div>
            </div>
            <div class="col-md-3 px-10px">
                <div class="bg-purple bd-rounded-10 px-6px py-2 text-center mt-3 summary-box">
                <div class="h5 text-uppercase color-orange line-height-1-2 mt-1">Deaths</div>
                
                    <div id="total-deaths-number" class="text-white font-size-1-2em my-2"><strong>{{_varStatTotalDeaths_}}</strong> <span class="text-300">total</span></div>
                    <div id="total-deaths-today"  class="text-white font-size-1-2em mt-2"><strong>{{_varStatTotalDeathsToday_}}</strong> <span class="text-300">today</span></div>
                    <div id="total-deaths-increase" class="text-white text-xs line-height-1-5 my-2">
                    <span class="chart-arrow" arria-hidden="true">
					    <svg class="{{ _varDeathsTrendClassU_ }}" version="1.1" class="arrow-up3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
						<path class="chart-arrow-path" d="M28.11,7.27c0-0.62-0.5-1.13-1.13-1.13h-7.64c-0.62,0-1.13,0.5-1.13,1.13s0.5,1.13,1.13,1.13h5.05l-8.16,8.25
							l-4.89-4.89c-0.44-0.44-1.15-0.44-1.59,0L0.9,20.6c-0.44,0.44-0.44,1.15,0,1.59c0.22,0.22,0.51,0.33,0.8,0.33s0.58-0.11,0.8-0.33
							l8.05-8.05l4.89,4.89c0.21,0.21,0.5,0.33,0.8,0.33c0,0,0,0,0,0c0.3,0,0.59-0.12,0.8-0.33l8.82-8.91v4.68c0,0.62,0.5,1.13,1.13,1.13
							s1.13-0.5,1.13-1.13V7.38c0-0.02,0-0.04,0-0.06C28.11,7.3,28.11,7.28,28.11,7.27z"/>
						</svg>

						<!--negative arrow-->
						<svg class="{{ _varDeathsTrendClassD_ }} arrow-down3" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
						<path class="chart-arrow-path" d="M28.11,21.4c0,0.62-0.5,1.13-1.13,1.13h-7.64c-0.62,0-1.13-0.5-1.13-1.13s0.5-1.13,1.13-1.13h5.05l-8.16-8.25
							l-4.89,4.89c-0.44,0.44-1.15,0.44-1.59,0L0.9,8.07c-0.44-0.44-0.44-1.15,0-1.59c0.22-0.22,0.51-0.33,0.8-0.33s0.58,0.11,0.8,0.33
							l8.05,8.05l4.89-4.89c0.21-0.21,0.5-0.33,0.8-0.33c0,0,0,0,0,0c0.3,0,0.59,0.12,0.8,0.33l8.82,8.91v-4.68c0-0.62,0.5-1.13,1.13-1.13
							s1.13,0.5,1.13,1.13v7.42c0,0.02,0,0.04,0,0.06C28.11,21.36,28.11,21.38,28.11,21.4z"/>
						</svg>
					</span> 
                     {{_varStatTotalDeathsChange_}}% <span class="text-300">increase from prior day total</span></div>
                </div>
            </div>
            <div class="col-md-3 px-10px">
                <div class="bg-purple bd-rounded-10 px-6px py-2 text-center mt-3 summary-box">
                <div class="h5 text-uppercase color-orange line-height-1-2 mt-1">Tests</div>
                
                    <div class="text-white font-size-1-2em my-2"><strong>{{_varStatTested_}}</strong> <span class="text-300">total</span></div>
                    <div class="text-white font-size-1-2em mt-2"><strong>{{_varStatTestedDaily_}}</strong> <span class="text-300">today</span></div>
                    <div id="total-tested-increase" class="text-white text-xs line-height-1-5 my-2">
                    <span class="chart-arrow" arria-hidden="true">
					    <svg class="{{ _varTestedTrendClassU_ }}" version="1.1" class="arrow-up3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
						<path class="chart-arrow-path" d="M28.11,7.27c0-0.62-0.5-1.13-1.13-1.13h-7.64c-0.62,0-1.13,0.5-1.13,1.13s0.5,1.13,1.13,1.13h5.05l-8.16,8.25
							l-4.89-4.89c-0.44-0.44-1.15-0.44-1.59,0L0.9,20.6c-0.44,0.44-0.44,1.15,0,1.59c0.22,0.22,0.51,0.33,0.8,0.33s0.58-0.11,0.8-0.33
							l8.05-8.05l4.89,4.89c0.21,0.21,0.5,0.33,0.8,0.33c0,0,0,0,0,0c0.3,0,0.59-0.12,0.8-0.33l8.82-8.91v4.68c0,0.62,0.5,1.13,1.13,1.13
							s1.13-0.5,1.13-1.13V7.38c0-0.02,0-0.04,0-0.06C28.11,7.3,28.11,7.28,28.11,7.27z"/>
						</svg>

						<!--negative arrow-->
						<svg class="{{ _varTestedTrendClassD_ }} arrow-down3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
						<path class="chart-arrow-path" d="M28.11,21.4c0,0.62-0.5,1.13-1.13,1.13h-7.64c-0.62,0-1.13-0.5-1.13-1.13s0.5-1.13,1.13-1.13h5.05l-8.16-8.25
							l-4.89,4.89c-0.44,0.44-1.15,0.44-1.59,0L0.9,8.07c-0.44-0.44-0.44-1.15,0-1.59c0.22-0.22,0.51-0.33,0.8-0.33s0.58,0.11,0.8,0.33
							l8.05,8.05l4.89-4.89c0.21-0.21,0.5-0.33,0.8-0.33c0,0,0,0,0,0c0.3,0,0.59,0.12,0.8,0.33l8.82,8.91v-4.68c0-0.62,0.5-1.13,1.13-1.13
							s1.13,0.5,1.13,1.13v7.42c0,0.02,0,0.04,0,0.06C28.11,21.36,28.11,21.38,28.11,21.4z"/>
						</svg>
					</span> 
                     {{_varStatTestedDailyPct_}}% <span class="text-300">increase from prior day total</span></div>
                </div>
            </div>
            <div class="col-md-3 px-10px">
                <div class="bg-purple bd-rounded-10 px-6px py-2 text-center mt-3 summary-box">
                <div class="h5 text-uppercase color-orange line-height-1-2 mt-1">Vaccines Administered</div>
                
                    <div class="text-white font-size-1-2em my-4"><strong>{{_varStatVaccines_}}</strong> <span class="text-300">total</span></div>
                    {# <div class="text-white font-size-1-2em mt-2"><strong>{{_varStatVaccinesDaily_}}</strong> <span class="text-300">today</span></div>
                    <div class="text-white text-xs line-height-1-5 my-2">
                    
                    <span class="chart-arrow" arria-hidden="true">
					<svg version="1.1" class="arrow-up3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
						<path class="chart-arrow-path" d="M28.11,7.27c0-0.62-0.5-1.13-1.13-1.13h-7.64c-0.62,0-1.13,0.5-1.13,1.13s0.5,1.13,1.13,1.13h5.05l-8.16,8.25
							l-4.89-4.89c-0.44-0.44-1.15-0.44-1.59,0L0.9,20.6c-0.44,0.44-0.44,1.15,0,1.59c0.22,0.22,0.51,0.33,0.8,0.33s0.58-0.11,0.8-0.33
							l8.05-8.05l4.89,4.89c0.21,0.21,0.5,0.33,0.8,0.33c0,0,0,0,0,0c0.3,0,0.59-0.12,0.8-0.33l8.82-8.91v4.68c0,0.62,0.5,1.13,1.13,1.13
							s1.13-0.5,1.13-1.13V7.38c0-0.02,0-0.04,0-0.06C28.11,7.3,28.11,7.28,28.11,7.27z"/>
						</svg>

						<!--negative arrow-->
						<svg class="d-none arrow-down3" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
						<path class="chart-arrow-path" d="M28.11,21.4c0,0.62-0.5,1.13-1.13,1.13h-7.64c-0.62,0-1.13-0.5-1.13-1.13s0.5-1.13,1.13-1.13h5.05l-8.16-8.25
							l-4.89,4.89c-0.44,0.44-1.15,0.44-1.59,0L0.9,8.07c-0.44-0.44-0.44-1.15,0-1.59c0.22-0.22,0.51-0.33,0.8-0.33s0.58,0.11,0.8,0.33
							l8.05,8.05l4.89-4.89c0.21-0.21,0.5-0.33,0.8-0.33c0,0,0,0,0,0c0.3,0,0.59,0.12,0.8,0.33l8.82,8.91v-4.68c0-0.62,0.5-1.13,1.13-1.13
							s1.13,0.5,1.13,1.13v7.42c0,0.02,0,0.04,0,0.06C28.11,21.36,28.11,21.38,28.11,21.4z"/>
						</svg>
					</span> 
                     {{_varStatVaccinesDailyPct_}}% <span class="text-300">increase</span>
                    
                    </div> #}
                </div>
            </div>
        </div>
    </div><!--END container-->
</div><!--END LIGHT BLUE BG-->

<div class="bg-darkblue py-5 full-bleed mb-5">
            <div class="container py-2">
                <div class="row pb-4">
                    <div class="col-lg-10 mx-auto color-white">
                        <h2 class="text-center color-orange" id="vaccination">Vaccination data</h2>
                        <p>COVID-19 vaccination is one of the most important tools to end the pandemic. We're tracking the progress of vaccinating Californians across the state.</p>

                        <div class="mt-3 text-center">
                            <a href="/vaccines/#California-vaccines-dashboard" class="link-arrow-white">
                                <div class="link-arrow-label">View vaccination data</div><cagov-arrow></cagov-arrow>
                            </a>
                        </div>


                    </div>
                </div>

            </div><!--END container-->
        </div>

<div class="container py-4">
    <div class="col-lg-10 mx-auto">
        <h2 class="text-center color-purple">See the data statewide and in each county</h2>
        <div class="row d-flex justify-content-md-center">
            <form class="form-inline" id="county-form">
            <div class="form-group mx-sm-3 mb-2 pos-rel autocomplete-inline">
                <label for="location-query" class="sr-only">County</label>
                <div class="awesomplete">
                <input
                 aria-expanded="false"
                    aria-owns="awesomplete_list_1"
                    aria-controls="awesomplete_list_1"
                    autocomplete="off"
                    class="form-control form-control-lg"
                    data-list=""
                    data-multiple=""
                    id="location-query"
                    type="text"
                    placeholder="Enter a county"
                />
                </div>
            </div>
            <button type="submit" class="btn btn-lightbg btn-bigger mb-2">Get county data</button>
            </form>
        </div>
        <div class="row d-flex justify-content-md-center">
            <span id="county-query-error" class="error-text d-none">County not found</span>
        </div>

        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>

        <h3 class="text-center mt-4 mb-0">Daily cases and deaths</h3>
        <div class="d-flex flex-column flex-md-row justify-content-center my-3">
            <div class="js-toggle-county-container d-none">
                <div class="large-tabs">
                    <button class="large-tab js-toggle-county county d-none">Alameda</button>
                    <button class="large-tab toggle-active js-toggle-county statewide">Statewide</button>
                </div>
            </div>
        </div>
        <p>California has {{_varStatTotalCases_}} confirmed cases of COVID-19, resulting in {{_varStatTotalDeaths_}} deaths.</p>
 
        <div class="row d-flex justify-content-md-center">

            <div class="toggle-group-container cases-group">
            <div  id="cases-county-graph" class="toggle-group-element">
                <div class='tableauPlaceholder' id="casesChartCounty"></div>
            </div>
            <div id="cases-state-graph" class="toggle-group-element">
                <div class='tableauPlaceholder' id="casesChartState"></div>
            </div>
            </div>
        </div>



        <div class="row d-flex justify-content-md-center">
            <p class="small-text">Note: Numbers do not represent true day-over-day change as these results include cases from prior to yesterday.</p>
        </div>

        <h3 class="text-center mt-4 mb-0">Testing for COVID-19</h3>
        <div class="d-flex flex-column flex-md-row justify-content-center my-3">
            <div class="js-toggle-county-container d-none">
                <div class="large-tabs">
                    <button class="large-tab js-toggle-county county d-none">Alameda</button>
                    <button class="large-tab toggle-active js-toggle-county statewide">Statewide</button>
                </div>
            </div>
        </div>
        <p>The number of COVID-19 diagnostic test results in California reached a total of {{_varStatTested_}}, an increase of {{_varStatTestedDaily_}} tests from the prior day total. The rate of positive tests over the last 14 days is {{_varStarPos_14DayAvg_}} percent.  </p>

        <div class="row d-flex justify-content-md-center">
        
            <div class="toggle-group-container cases-group">
            <div  id="testing-county-graph" class="toggle-group-element">
                <div class='tableauPlaceholder' id="testingChartCounty"></div>
            </div>
            <div id="testing-state-graph" class="toggle-group-element">
                <div class='tableauPlaceholder' id="testingChartState"></div>
            </div>
            </div>
        </div>

        <h3 class="text-center mb-0">Impact on hospitals and ICUs</h3>
        <div class="d-flex flex-column flex-md-row justify-content-center my-3">
            <div class="js-toggle-county-container d-none">
                <div class="large-tabs">
                    <button class="large-tab js-toggle-county county d-none">Alameda</button>
                    <button class="large-tab toggle-active js-toggle-county statewide">Statewide</button>
                </div>
            </div>
        </div>
        <p>
            The number of hospitalizations due to confirmed and suspected COVID-19 cases in California reached a total of {{_varStatHospitalTotal_}}, {{_varStatHospitalChangeText_}} {{_varStatHospitalChange_ | abs}} from the prior day total.
            The number of ICU patients due to confirmed and suspected COVID-19 cases in California reached a total of {{_varStatIcuTotal_}}, {{_varStatIcuChangeText_}} {{_varStatIcuChange_ | abs}} from the prior day total.
        </p>
        <div class="row d-flex justify-content-md-center">
            <div class="toggle-group-container cases-group">
            <div  id="hospital-county-graph" class="toggle-group-element">
                <div class='tableauPlaceholder' id="hospitalChartCounty"></div>
            </div>
            <div id="hospital-state-graph" class="toggle-group-element">
                <div class='tableauPlaceholder' id="hospitalChartState"></div>
            </div>
            </div>

        </div>

        <div class="bg-darkblue py-5 full-bleed mb-5">
            <div class="container py-2">
                <div class="row pb-4">
                    <div class="col-lg-10 mx-auto color-white">
                        <h2 class="text-center color-orange" id="reopening-equitably">More data and tools</h2>
                        <p>California has collected a wide range of data to inform its response to COVID-19. We've developed tools to process and analyze this data. These data and tools are available to the public.</p>

                        <div class="mt-3 text-center">
                            <a href="/data-and-tools/" class="link-arrow-white">
                                <div class="link-arrow-label">View all data and tools</div><cagov-arrow></cagov-arrow>
                            </a>
                        </div>


                    </div>
                </div>

            </div><!--END container-->
        </div>

        <div class="row d-flex justify-content-md-center">

            <h2 class="text-center color-purple">This data drives decisions that keep California healthy and safe</h2>
            
            

                <div class="grid-layout-hd bg-lightblue bd-lightblue">
                    <div class="grid-main bg-lightblue py-0"><h3 class="my-0 text-center">California’s county risk levels</h3>
                    </div>
                    <div class="grid-single single1">
                        <div class="btn-matrix bg-purple-btn">WIDESPREAD</div>
                        <p class="text-small mt-2 mb-0">Many non-essential indoor business operations are closed</p>
                    </div>
                    <div class="grid-single single2">
                        <div class="btn-matrix bg-red-btn">SUBSTANTIAL</div>
                        <p class="text-small mt-2 mb-0">Some non-essential indoor business operations are closed</p>


                    </div>
                    <div class="grid-single single3">
                        <div class="btn-matrix bg-orange-btn">MODERATE</div>
                        <p class="text-small mt-2 mb-0">Some indoor business operations are open with modifications</p>
                    </div>
                    <div class="grid-single single4">
                        <div class="btn-matrix bg-yellow-btn">MINIMAL</div>
                        <p class="text-small mt-2 mb-0">Most indoor business operations are open with modifications</p>
                    </div>
                </div>

                <h3 class="has-text-align-center pb-0 mb-2 mt-3">Current tier assignments as of {{_varTierDate_}}</h3>
                <p class="mt-0">Tier assignments may occur any day of the week and may occur more than once a week. Select a county to see what region it’s in.</p>

            <div class="tableauPlaceholder" id="mapChartContainer"></div>
        </div>

        <div class="text-center">
        <p class="small-text">All data and tier assignments are based on results from week ending {{_varTierEndDate_}}. See how tiers are assigned and change, as well as county historical data (<strong>California Blueprint Data Chart</strong>) at the <a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/COVID19CountyMonitoringOverview.aspx">California Department of Public Health guidance page</a>. Regional ICU capacity is now calculated using the total number of adult ICU beds in hospitals with an emergency department and does not include neonatal or pediatric ICU beds. Since the Regional Stay Home Order ended on January 25, 2021, the regional ICU capacity no longer includes an adjustment for the percentage of COVID-19 positive patients in ICU.</p>
        </div>
  
        <div class="text-center">

            <a href="/safer-economy/" class="link-arrow-blue">
            <div class="link-arrow-label">See what can be open in your county</div>
            <cagov-arrow></cagov-arrow>
            </a>
        </div>
    </div><!--END col-10-->
</div><!--END CONTAINER -->

<div class="bg-lightblue py-5">
    <div class="container py-2">
    <h2 class="text-center color-primary">Infections by group</h2>
        <div class="col-lg-12 bg-white px-3 py-4">
                <div class="d-flex flex-column flex-md-row justify-content-center my-3">
                    <div class="large-tabs">
                        <button class="large-tab toggle-active js-toggle-group ethnicity">Ethnicity</button>
                        <button class="large-tab js-toggle-group gender">Gender</button>
                        <button class="large-tab js-toggle-group age">Age</button>
                    </div>
                </div>
            
            <div class="row">
                <div class="toggle-group-container col-10 mx-auto">

                    <div id="gender-graph" class="toggle-group-element" style="display:none">
                        <div id="genderGroupChartContainer">
                            <p>The distribution of confirmed COVID-19 deaths reveals a disparity between genders, with males having a disproportionate number of deaths relative to their population.</p>
                            <div class="tableauPlaceholder"></div>
                        </div>
                    </div>
                    <div id="age-graph" class="toggle-group-element" style="display:none">
                        <div id="ageGroupChartContainer">
                            <p>The distribution of confirmed COVID-19 cases and deaths reveals significant disparities across California’s age groups. People 18-49 have a disproportionate number of cases. People 65 and over have a disproportionate number of deaths.</p>
                            <div class="tableauPlaceholder"></div>
                        </div>
                    </div>
                    <div id="ethnicity-graph" class="toggle-group-element">
                        <div id="ethnicityGroupChartContainer">
                            <p>
                        The distribution of confirmed COVID-19 cases reveals significant disparities within California’s overall racial and ethnic demographics, with Latino and Native Hawaiian / Pacific Islander groups having a disproportionate number of cases relative to their population in the state. Additional <a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/Race-Ethnicity.aspx">COVID-19 race and ethnicity data</a> is available.
                                </p>
                                <p class="small-text">Note: Percentages may not add up to 100% due to rounding. Ethnicity is only available for a subset of the total number of deaths as reported by law enforcement.</p>
                            <div class="tableauPlaceholder"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-5 p-rel">
            <a href="/equity/" class="link-arrow-blue mb-4 mt-3">
            <div class="link-arrow-label">See more detailed data by group</div>
            <cagov-arrow></cagov-arrow>
            </a>  
	</div><!--END col-12-->
  </div><!--END CONTAINER-->
</div><!--END BG lightblue-->
