{% set JSONraw %}{% include "../wordpress-posts/do-dont" + tags | langFilePostfix + ".json" %}{% endset %}
{% set JSON = JSONraw | jsonparse %}
{% set Headers = JSON.Table1 %}
{% set text = JSON.Table2 %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>{{Headers[0].Headers | safe}}:</h2>
      <ul class="list-group-flush mt-n3 pl-2">
        {% for item in text %}
        {% if item.do %}
        <li class="list-group-item">
          <span
            class="ca-gov-icon-check-mark text-success font-weight-bold"
            aria-hidden="true"
          ></span>
          {{ item.do | safe }}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <h2>{{Headers[1].Headers | safe}}:</h2>
      <ul class="list-group-flush mt-n3 pl-2">
        {% for item in text %}
        {% if item.donot %}
        <li class="list-group-item">
          <span
            class="ca-gov-icon-close-mark text-danger font-weight-bold"
            aria-hidden="true"
          ></span>
          {{ item.donot | safe }}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
