<script src="https://www.googletagmanager.com/gtag/js?id=UA-154336791-1" defer="defer">
</script>
<script>window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-154336791-1');
  gtag('config', 'UA-3419582-2');
</script>

<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
            <li class="list-group-item alpha-footer"><a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx">Department of Public Health</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.gov.ca.gov/newsroom/">Governor's Newsroom</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.ca.gov/accessibility/">Accessibility</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.ca.gov/privacy-policy/">Privacy Policy</a></li>
             <li class="list-group-item alpha-footer"><a href="https://www.surveymonkey.com/r/COVID19CA">Feedback</a></li>
          </ul>
          <p class="text-secondary">Official California State Government Website</p>
      </div>
    </div>
  </div>
</div>

<div class="alphabar">
  <div class="container text-right">
    <p><a class="pr-3" href="#top">Back to top</a><a class="pr-3" href="#side-nav">Navigation</a><a href="/">Home</a></p>
  </div>
</div>

{% include "googletranslate.njk" %}

{% pagesection page, "foo" %}
<!-- Using this to make sure certain classes are included in the CSS build.  Should not ever render. -->
<a href="" class="list-group-item list-group-item-action guide active d-none"></a>
{% endpagesection %}

<script type="text/javascript">
  {
    class CWDSAccordion extends window.HTMLElement {
  connectedCallback () {
    this.expandTarget = this.querySelector('.card-container');
    this.expandButton = this.querySelector('.card-header');
    this.expandButton.addEventListener('click', this.listen.bind(this));
    this.activateButton = this.querySelector('.card-header');

  }

  listen () {
    if (!this.cardBodyHeight) {
      this.cardBodyHeight = this.querySelector('.card-body').clientHeight;
    }
    if (this.expandTarget.clientHeight > 0) {
      this.expandTarget.style.height = '0px';
      this.expandTarget.setAttribute('aria-hidden', 'true');
      this.querySelector('.card-header').classList.remove('accordion-alpha-open');
      const expando = this.expandTarget;
      this.activateButton.setAttribute('aria-expanded', 'false');
      setTimeout(function () {
        expando.style.display = 'none';
      }, 300);
    } else {
      this.expandTarget.style.display = 'block';
      this.expandTarget.style.height = this.cardBodyHeight + 'px';
      this.expandTarget.setAttribute('aria-hidden', 'false');
      this.querySelector('.card-header').classList.add('accordion-alpha-open');
      this.querySelector('.card-container').classList.remove('collapsed');
      this.activateButton.setAttribute('aria-expanded', 'true');
    }
  }
}





/* expand, collapse thanks to: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
function collapseSection (element) {
  var sectionHeight = element.scrollHeight;

  window.requestAnimationFrame(function () {
    element.style.height = sectionHeight + 'px';

    window.requestAnimationFrame(function () {
      element.style.height = 0 + 'px';
    });
  });

  element.setAttribute('data-collapsed', 'true');
  element.setAttribute('aria-hidden', 'true');
}

function expandSection (element) {
  var sectionHeight = element.scrollHeight;
  element.style.height = sectionHeight + 'px';
  element.setAttribute('data-collapsed', 'false');
}



class CWDSStepList extends window.HTMLElement {
  connectedCallback () {
    this.expandTargets = this.querySelectorAll('.list-group-item-action');
    this.expandTargets.forEach((item) => {
      const detailsEl = item.querySelector('.details');
      detailsEl.setAttribute('data-collapsed', 'true');
      detailsEl.style.height = '0px';
      detailsEl.setAttribute('aria-hidden', 'true');
      item.addEventListener('click', this.listen);
    });
  }

  listen () {
    const section = this.querySelector('.details');
    const activeButton = this.querySelector('.step-description');

    const isCollapsed = section.getAttribute('data-collapsed') === 'true';

    if (isCollapsed) {
      expandSection(section);
      section.setAttribute('data-collapsed', 'false');
      activeButton.setAttribute('aria-expanded', 'true');
      section.setAttribute('aria-hidden', 'false');
      this.classList.add('list-open');
    } else {
      collapseSection(section);
      this.classList.remove('list-open');
      activeButton.setAttribute('aria-expanded', 'false');
    }
  }
}




window.customElements.define('cwds-step-list', CWDSStepList);
window.customElements.define('cwds-accordion', CWDSAccordion);

document.querySelectorAll('.show-all').forEach(btn => {
  const isCloseButton = btn.classList.contains('d-none');

  btn.addEventListener('click', () => {
    let wait = 0;
    document
      .querySelectorAll(
        `cwds-step-list .list-group-item-action${
          isCloseButton ? '.list-open' : ':not(.list-open)'
        }`
      )
      .forEach(lstitem => setTimeout(() => lstitem.click(), 50 * wait++));

    document
      .querySelectorAll('.show-all')
      .forEach(y => y.classList.toggle('d-none'));
  });
});


}({});



</script>