<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
            <li class="list-group-item alpha-footer"><a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx">Department of Public Health</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.gov.ca.gov/newsroom/">Governor&#8217;s Newsroom</a></li>
            <li class="list-group-item alpha-footer"><a href="/hotline/">Statewide COVID19 Hotline</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.ca.gov/accessibility/">Accessibility</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.ca.gov/privacy-policy/">Privacy Policy</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.surveymonkey.com/r/COVID19CAGOV">Feedback</a></li>
          </ul>
          <p class="text-secondary">Official California State Government Website</p>
      </div>
    </div>
  </div>
</div>

<ul class="magic-footer">
  <li><a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx">Department of Public Health</a></li>
  <li><a href="https://www.gov.ca.gov/newsroom/">Governor&#8217;s Newsroom</a></li>
  <li><a href="/hotline/">Statewide COVID19 Hotline</a></li>
  <li><a href="https://www.ca.gov/accessibility/">Accessibility</a></li>
  <li><a href="https://www.ca.gov/privacy-policy/">Privacy Policy</a></li>
  <li><a href="https://www.surveymonkey.com/r/COVID19CAGOV">Feedback</a></li>
</ul>



<div class="alphabar">
  <div class="container text-right">
    <p><a class="pr-3" href="/">Home</a><a class="pr-3" href="/search/#top">Search</a><a class="pr-3" href="#top">Back to top</a><a class="pr-3 d-none d-sm-block d-md-none" href="#side-nav">Menu</a></p>
  </div>
</div>


<p class="magic-footer">
  <a href="/">Home</a>
  <a href="/search/#top">Search</a>
  <a href="#top">Back to top</a>
  <a href="#side-nav">Menu</a>
</p>



<figure class="wp-block-table"><table class="has-fixed-layout"><thead><tr><th>Name</th><th>URL</th></tr></thead><tbody><tr><td>Department of Public Health</td><td>https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx</td></tr><tr><td>Governor’s Newsroom</td><td>https://www.gov.ca.gov/newsroom/</td></tr><tr><td>Statewide COVID19 Hotline</td><td>/hotline/</td></tr><tr><td>Accessibility</td><td>https://www.ca.gov/accessibility/</td></tr><tr><td>Privacy Policy</td><td>https://www.ca.gov/privacy-policy/</td></tr><tr><td>Feedback</td><td>https://www.surveymonkey.com/r/COVID19CAGOV</td></tr><tr><td>Home</td><td>/</td></tr><tr><td>Search</td><td>/search/#top</td></tr><tr><td>Back to top</td><td>#top</td></tr><tr><td>Menu</td><td>#side-nav</td></tr></tbody></table></figure>