<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-154336791-1', 'auto');
ga('create', 'UA-3419582-2', 'auto', 'tracker2');
ga('create', 'UA-21974567-38', 'auto', 'tracker3');
ga('send', 'pageview');
ga('tracker2.send', 'pageview');
ga('tracker3.send', 'pageview');
</script>
<script async defer src='https://www.google-analytics.com/analytics.js'></script>


{% set JSONraw %}{% include "../wordpress-posts/footer-data" + tags | langFilePostfix + ".json" %}{% endset %}
{% set JSON = JSONraw | jsonparse %}
{% set FooterLinks1 = JSON.Table1 %}
{% set FooterLinks2 = JSON.Table2 %}
{% set Terms = JSON.Table3 %}

<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
            {% for item in FooterLinks1 %}
            <li class="list-group-item alpha-footer"><a href="{{ item.URL }}">{{ item.Name | safe }}</a></li>
            {% endfor %}
          </ul>
          <p><strong>COVID-19 hotline</strong>: <a href="tel:18334224255">1-833-422-4255</a> M-F 8AM-8PM, Sa-Su 8AM-5PM</p>
          <p class="text-secondary">{{Terms[0].Text | safe}}</p>
      </div>
    </div>
  </div>
</div>

<div class="alphabar">
  <div class="container text-right text-center-mobile">
    <p>
      <a class="alphabar-link" href="{{FooterLinks2[0].URL}}">{{FooterLinks2[0].Name | safe}}</a>
      <a class="alphabar-link" href="{{FooterLinks2[1].URL}}">{{FooterLinks2[1].Name | safe}}</a>
      <a class="alphabar-link" href="{{FooterLinks2[2].URL}}">{{FooterLinks2[2].Name | safe}}</a>
    </p>
  </div>
</div>

{% pagesection page, "foo" %}
<!-- Using this to make sure certain classes are included in the CSS build.  Should not ever render. -->
<a href="" class="list-group-item list-group-item-action guide active d-none"></a>
{% endpagesection %}

<script type="module">{% include "built.js" %}</script>
{% if page.fileSlug.indexOf('county-alerts') > -1 %}
<script type="module">{% include "alerts.js" %}</script>
{% endif %}
{% if page.fileSlug.indexOf('telehealth') > -1 %}
<script type="module">{% include "telehealth.js" %}</script>
{% endif %}
{% if page.fileSlug === "plasma-test" or page.fileSlug === "plasma" or page.fileSlug === "donate-plasma" %}
<script type="module">{% include "plasma.js" %}</script>
{% endif %}

<script nomodule src="/js/es5.js"></script>

{% include "googletranslate.njk" %}