{%- set text = pubData[language.id].commonPageLabels.Table1[0] -%}

<header id="header" class="global-header">
<div class="header-container">


{% include "skip-to-content.njk" %}
{% include "statewide-header.njk" %}
{% include "branding.njk" %}
{% include "dropdown-menu.njk" %}

</header>
<div class="nav-scroll-spy" aria-hidden="true"></div>




