{% set JSONraw %}{% include "../wordpress-posts/homepage-links" + tags | langFilePostfix + ".json" %}{% endset %}
{% set JSON = JSONraw | jsonparse %}
{% set Headers = JSON.Table1 %}
{% set homeLinks1 = JSON.Table2 %}
{% set homeLinks2 = JSON.Table3 %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 id="what-to-do">{{ Headers[0].table }}</h2>
      <div class="list-group-flush pb-5">
        {% for item in homeLinks1 %}
        <a
          href="{{ item.url }}"
          class="list-group-item list-group-item-action"
          ><span
            class="ca-gov-icon-arrow-next font-weight-bold"
            aria-hidden="true"
          ></span>
          {{ item.name | safe }}</a
        >
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <h2>{{ Headers[1].table }}</h2>
      <div class="list-group-flush pb-5">
        {% for item in homeLinks2 %}
        <a href="{{ item.url }}" class="list-group-item list-group-item-action"
          ><span
            class="ca-gov-icon-arrow-next font-weight-bold"
            aria-hidden="true"
          ></span>
          {{ item.name | safe }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
