---
layout: "page.njk"
publishdate: "today"
---

{%- for post in collections.covidGuidance -%}

  <div class="card border-0 border-bottom rounded-0" lang="en-US">
    <div class="card-body pl-0" lang="en-US">
		<h2 class="card-title lead" lang="en-US"><a href="{{ post.data.url }}" lang="en-US" hreflang="en-US">{{ post.data.title | safe }}</a></h2>
		   <p class="card-text" lang="en-US"><small class="text-muted"><!--{{ post.fileSlug }} -->{{ post.data.publishdate | formatDate }} </small></p>
      <div class="card-text" lang="en-US">{{ post.data.meta | truncate220 | safe}}</div>
    </div>
  </div>

{%- endfor -%}
