<!DOCTYPE html>
<html {{ tags | htmllangattributes | safe }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta | safe }}">
    <meta name="author" content="{{ author | safe }}">
    {% block title %} 
      <title>{{ title | safe }}</title>
    {% endblock %}

    <!-- Collect errors -->
    <script>addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});</script>

    <meta content="{{ title | safe }}" property="og:title">
    <meta content="{{ meta | safe }}" property="og:description">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="preconnect" href="https://www.google-analytics.com/">
    <link href="https://covid19.ca.gov{{ page.url }}" rel="canonical">

    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% for item in page | getAltPageRows -%}
      <link rel="alternate" hreflang="{{item.langcode}}" href="https://covid19.ca.gov{{item.url}}">
    {%- endfor %}

    {% include "favicons.njk" %}

    {% block meta %}
    {% endblock %}

    {% block headCSS %}
      {% if language.id === 'vi' %}
        <link rel="stylesheet" type="text/css" href="/fonts/vi.css">
      {% endif %}
    {% endblock %}
    
    {% block headJS %}
    {% endblock %}
  </head>
  <body class="{% block bodyClass %}{% endblock%}">

    {% block preHeader %}{% endblock %}
    {% include "header.njk" %}

    <main id="main">
      {% block contentBlock %}
        {{ content | safe  }}
      {% endblock %}
    </main>

    {% include "footer.njk" %}

    {% block endingBlock %}
    {% endblock %}
  </body>
</html>
