{% set langFilePostfix = tags | langFilePostfix %}
{% if langFilePostfix === "" %}
  {% set langIncludeFolder="../wordpress-posts/" %}
{% else %}
  {% set langIncludeFolder="../translated-posts/" %}
{% endif %}
<!DOCTYPE html>
<html {{ tags | htmllangattributes | safe }}>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ meta | safe }}"/>
    <meta name="author" content="{{ author | safe }}"/>
    <meta
      name="keywords"
      content="covid-19 california, covid-19 ca, covid-19 volunteer, covid-19 testing, covid-19 testing costs, covid-19 testing california, covid-19 toolkit, stay home save lives, california health corps, covid-19 immigrants, covid-19 financial help, covid-19 medi-cal, covid-19 healthcare, covid-19 alerts"
/>
    <title>{{ title | safe }}</title>

    <!-- combined social media meta -->
    <meta content="{{ title | safe }}" property="og:title"/>
    <meta
      content="{{ meta | safe }}"
      property="og:description"
/>
    <meta
      content="https://covid19.ca.gov/img/awareness/caforall_covid_endcards_v4_english.jpg"
      property="og:image"
/>
    <meta content="https://covid19.ca.gov/" property="og:url"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <link rel="preconnect" href="https://www.google-analytics.com/">
    <link href="https://covid19.ca.gov/" rel="canonical"/>

    {% include "favicons.njk" %}
    <link rel="manifest" href="/img/manifest.json"/>
    <meta name="msapplication-tilecolor" content="#ffffff"/>
    <meta name="msapplication-tileimage" content="img/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    {% for item in page | getAltPageRows(tags) -%}
      <link rel="alternate" hreflang="{{item.langcode}}" href="https://covid19.ca.gov{{item.url}}">
    {%- endfor %}
    {% set css %}
    {% include "built.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
  </head>
  <body>
    {% include "header.njk" %}
    <main id="main">
      <div id="top" class="container-fluid jumbotron jumbo-img inverse-hyperlink mb-0 pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              {% include  langIncludeFolder + "home-header" + langFilePostfix + ".html" %}
            </div>
          </div>
        </div>
        {% include "../wordpress-posts/stats" + langFilePostfix + ".html" %}
      </div>
    </div>
  </div>
  <div class="container-fluid pb-3 pt-3 bg-secondary-covid mb-3">
    <div class="container">
      <div class="col-md-12 row alert-left js-disclaimer ml-0 mb-0 pb-0 mt-0">
        {% if langFilePostfix === "" %}
          {% include "../wordpress-posts/new" + langFilePostfix + ".html" %}
        {% else %}
          {% include "../translated-posts/new" + langFilePostfix + ".html" %}
        {% endif %}
      </div>
    </div>
  </div>
  {% include  langIncludeFolder + "find-services"  + langFilePostfix + ".html" %}

  <div class="container-fluid bg-primary text-white">
    <div class="container pb-3 pt-3 text-white">
        {% include  langIncludeFolder + "cali-working" + langFilePostfix + ".html" %} 
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./news-feed-home.html" %}
</main>
{% include "footer.njk" %}
</body>
</html>¢¢£