<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ meta | safe }}">
  <meta name="author" content="{{ author | safe }}">
  <meta name="keywords" content="{{ tags| safe }}">
  <title>{{ title | safe }}</title>

  <!-- combined social media meta -->
  <meta content="{{ title | safe }}" property="og:title">
  <meta content="We’re all in this together. We are working rapidly to keep our state healthy." property="og:description">
  <meta content="https://as-cdt-pub-acovid-w-p-001-staging.azurewebsites.net/img/awareness/CAForAll_COVID_EndCards_v4_English.jpg" property="og:image">
  <meta content="https://covid19.ca.gov/" property="og:url">
  <meta name="twitter:card" content="summary_large_image">

  <link href="https://covid19.ca.gov/" rel="canonical">

  <!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
  {% set css %}
    {% include "built.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<header>
  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
<a class="skippy sr-only-focusable text-center" href="#main">
      <span class="skippy-text">Skip to main content</span>
 </a>
 
	<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar navbar-inverse px-0">
  <div class="container flex-wrap flex-md-nowrap py-0 px-3">
    <a href="/"><img src="https://california.azureedge.net/cdt/statetemplate/global/images/Ca-Gov-Logo-White.svg" alt="ca.gov"></a><div class="navbar-brand docs-brand navbar-left mr-3 ml-3 navbar-inverse"><a href="/" aria-label="home">California Coronavirus (COVID-19) Response</a></div>

    <ul class="navbar-nav mobile ml-sm-auto ">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/CAPublicHealth/" target="_blank" rel="noopener" aria-label="Facebook">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="23" height="23" class="navbar-nav-svg" viewBox="0 0 50 50" >    <path fill="currentColor" d="M40,0H10C4.486,0,0,4.486,0,10v30c0,5.514,4.486,10,10,10h30c5.514,0,10-4.486,10-10V10C50,4.486,45.514,0,40,0z M39,17h-3 c-2.145,0-3,0.504-3,2v3h6l-1,6h-5v20h-7V28h-3v-6h3v-3c0-4.677,1.581-8,7-8c2.902,0,6,1,6,1V17z"></path></svg>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/CAPublicHealth" target="_blank" rel="noopener" aria-label="Twitter">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="navbar-nav-svg" viewBox="0 0 512 416.32" role="img"><title>Twitter</title><path fill="currentColor" d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92"></path></svg>
        </a>
      </li>
      <li class="nav-item">
        <a href="/translate/" class="btn translate">Translate</a>
      </li>
    </ul>

  </div>
</nav>

</header>

<main id="main">

<div id="top" class="container-fluid jumbotron inverse-hyperlink ">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
              <h1>Coronavirus (COVID-19) in California</h1>
			  <p class="lead">COVID-19 is a new illness that can affect your lungs and airways. It's caused by a virus called coronavirus. </p>
    
          <p class="lead bold">We’re all in this together. We are working rapidly to keep our state healthy.</P>
          </div>

      <div class="col-lg-4">
          <a href="https://www.gov.ca.gov/"><img src="/img/California-For-All.png" class="rounded float-left img-fluid mr-5" alt="visit California for All website"></a>
          <a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx"><img src="/img/cdph-logo.png" class="rounded float-left img-fluid pt-3" alt="visit Department of Public Health website"></a>
      </div>

        </div>
      </div>
    </div>
  {{ content | contentfilter | safe }}
</main>


<script src="https://www.googletagmanager.com/gtag/js?id=UA-154336791-1" defer="defer">
</script>
<script>window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-154336791-1');
</script>

<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
            <li class="list-group-item alpha-footer"><a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/ncov2019.aspx" target="_blank">Department of Public Health</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.gov.ca.gov/newsroom/" target="_blank" >Governor's Newsroom</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.ca.gov/accessibility/" target="_blank">Accessibility</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.ca.gov/privacy-policy/" target="_blank">Privacy Policy</a></li>
            <li class="list-group-item alpha-footer"><a href="https://www.surveymonkey.com/r/COVID19CA" target="_blank">Feedback</a></li>
          </ul>
          <p class="text-secondary">Official California State Government Website</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alphabar">
  <div class="container text-right">
    <p><a class="pr-3" href="#top">Back to top</a><a href="/">Home</a></p>
  </div>
</div>

<script
  type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
defer></script>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
        pageLanguage: 'en',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
       },
      'google_translate_element'
    ); 
  }
</script>
</body>
</html>
