
<div class="container-fluid pt-3">
  <div class="container pb-3">
    <h2 id="news" class="headline">{{varLatestNews}}</h2>
    <div class="card-deck" lang="en-US">
      {%- for i in range(0, 3) %}
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted"
              >{{ collections.covidGuidance[i].data.publishdate | formatDate }}
            </small>
          </p>
          <div class="card-text">
            <h3 class="lead"><a href="{{ collections.covidGuidance[i].data.url }}">{{ collections.covidGuidance[i].data.title | safe }}</a></h3>
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
    <div class="container text-center">
      <a href="latest-news/" class="action-link mt-4">{{varViewMoreNews}}</a>
    </div>
  </div>
</div>

