---
title: Coronavirus COVID-19 Response
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="California is issuing daily updates on COVID-19, check this website for the latest updates and resources.">
  <meta name="author" content="Bootstrap, alpha.ca.gov team">
  <meta name="generator" content="Hugo 0.61.0">
  <title>{{ title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cwds.dev/docs/4.3/dist/css/bootstrap.css" rel="stylesheet">

  <!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
  {% set css %}
    {% include "built.css" %}
  {% endset %}
  <!-- feed it through our cssmin filter to minify -->
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>

<style>
	
html{

	scroll-behavior:smooth;
	
}
.navbar-brand {
    background-size: 30%;
	padding-left: 40px;
}	
	
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #1172b3;
}	
	
.jumbotron, .jumbotron h1, .jumbotron .lead {
    color: #fff;
    background: #0066ab;
}
	
a.btn {
	background: #0066ab;
}
	
.bd-navbar .navbar-nav .nav-link {
    
    font-family: "Public Sans Bold", sans-serif;
    font-size: 1.2rem;
	padding-right: .7rem;
	color: #fff;
}
	
.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .bd-navbar .navbar-nav .nav-link:focus {
    color: #fff;
	text-decoration: underline !important;
	
}	
	
	.bold {
		
		font-family: "Public Sans Bold", sans-serif;
	}
	
	
	
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	
.navbar-nav {
	display: block;
}
	
.navbar-nav.mobile {
	display: flex;
}
	
.bd-navbar .navbar-nav  {
	padding-top: .5rem;
}
	
}

h2 {
    padding-bottom: 10px;
    /* border-left: 3px #1172b3 solid; */
    border-bottom: 3px #1172b3 solid;
    width: fit-content;
    padding: .5rem .5rem .5rem 0rem;
}
	
	ol, ul, dl {
    line-height: 2rem;
}
	
	h2, h3, h4 {
		
		padding-top: .7rem;
	}
.alphabar {
    background-color: #0066ab;
    background: #0066ab;
}

@media only screen and (min-width: 992px){
 .aside{ 
   position:fixed;
 }
}
        

</style>

<header>
  <link href="https://california.azureedge.net/cdt/statetemplate/6.0.0/css/cagov.font-only.min.css" rel="stylesheet" />
  <div class="official">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>State of California</p>
        </div>
      </div>
    </div>
  </div>
</header>

<main>

  <div id="top" class="container-fluid jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">

        {{ content | safe }}

        </div>
      </div>
    </div>
  </div>

</main>


<script src="https://www.googletagmanager.com/gtag/js?id=UA-154336791-1" defer="defer">
</script>
<script>window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-154336791-1');
</script>

<div class="footer alpha-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <ul class="list-group list list-group-horizontal-lg flex-fill list-group-flush">
            <li class="list-group-item alpha-footer"><a href="/about/">About</a></li>
            <li class="list-group-item alpha-footer"><a href="https://news.alpha.ca.gov/">News</a></li>
            <li class="list-group-item alpha-footer"><a href="/feedback/">Feedback</a></li>
          </ul>
          <p class="text-secondary">Official California State Government Website</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alphabar">
  <div class="container">
    <p><a href="#top">Back to top</a></p>
  </div>
</div>

<script>
  if(document.querySelector('.navbar-toggler')) {
    document.querySelector('.navbar-toggler').addEventListener('click',function(event) {
      event.preventDefault();
      this.classList.toggle('collapsed')
      document.querySelector('.navbar-collapse').classList.toggle('show');
    })
  }
</script>
<script
  type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
defer></script>
</body>
</html>