<div class="list-group">
	{%- for item in pageNav.navList -%}
		<a href="{{ item | getTranslatedVal(tags, 'url') }}" class="list-group-item list-group-item-action guide {{page | pageActive(tags, item)}}"><span aria-hidden="true" class="ca-gov-icon-arrow-next"></span>  {{ item | getTranslatedVal(tags, 'title') }}</a>
		{% if item.subsections.length > 0 %}
			{% set langwptag = (tags | langRecord).wptag %}
			{% pagesection page, item | getTranslatedVal(tags, 'slug') %}
				<div class="list-group-item list-group-item-action guide pl-3 mb-0 pb-0">
					<ul class="list-unstyled">
					{%- for section in item.subsections -%}
						{% if section[langwptag] %}
							<li><a href="{{ section.url }}"><span aria-hidden="true" class="ca-gov-icon-caret-down"></span> {{ section[langwptag] }}</a></li>
						{% endif %}
					{%- endfor -%}
					</ul>
				</div>
			{% endpagesection %}
		{% endif %}
	{%- endfor -%}
</div> 