<!doctype html>
<html lang="{{tags | lang}}" xml:lang="{{tags | lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ meta | safe }}">
  <meta name="author" content="{{ author | safe }}">
  <meta name="keywords" content="covid19, coronavirus, covid19, covid-19, california">
  <title>{{ title | safe }} - Coronavirus COVID-19 Response</title>
  
  <meta content="{{ title | safe }}" property="og:title">
  {% if page.fileSlug.indexOf('healthcorps') > -1 %}
  <meta content="https://covid19.ca.gov/img/Health-Corps-Website-Banner.jpg" property="og:image">
  {% else %}
  <meta content="https://covid19.ca.gov/img/awareness/CAForAll_COVID_EndCards_v4_English.jpg" property="og:image">
  {% endif %}
  <meta content="Coronavirus COVID-19 Response" property="og:description">
  <meta property="og:url" content="https://covid19.ca.gov{{ page.url }}">
  <meta name="twitter:card" content="summary_large_image">

  <link href="https://covid19.ca.gov{{ page.url }}" rel="canonical">

  <!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
  {% set css %}
    {% include "built.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>
{% include "header.njk" %}
<main id="main">
    <div id="top" class="container-fluid jumbotron inverse-hyperlink ">
          <div class="container">
            <div class="row">
              <div class="col-lg-10">
                  <h1>{{ title | safe }}</h1>
                  <p class="lead">Last updated {{ publishdate | formatDate }}</p>
              </div>
            </div>
          </div>
    </div>

    <div class="container">
      <div class="row">

        

        <div class="col-lg-4 sticky-wrapper">
          <div id="side-nav"  class="aside">
                   
                  <div class="d-none d-sm-none d-md-block">
                      {% include "page-nav.html" %}
                    </div>


           <cwds-accordion class="d-sm-block d-md-none">
              <div id="nav-card" class="card">
                <button class="card-header accordion-alpha mobile-menu" type="button" aria-expanded="false">
                    <div class="accordion-title"><span id="mobile-icon" class="ca-gov-icon-menu"></span> Menu</div>
                </button>
                <div class="card-container collapsed">
                  <div id="body-nav" class="card-body">
                    {% include "page-nav.html" %}
                  </div>
                </div>
              </div>
            </cwds-accordion>
          </div>
        </div>  

        <div class="col-lg-8">      
          {{ content | contentfilter | findaccordions | safe  }}
        </div>


    </div>
  </div>
</main>
{% include "footer.njk" %}
</body>
</html>
