{% extends "layout.njk" %}
{% import "macros.njk" as macros %}
{%- set text = pubData[language.id].commonPageLabels.Table1[0] -%}
{% set pagesWithBlueBottom = ['state-dashboard', 'equity', 'vaccination-progress-data', 'data-and-tools'] %}
{%- if page.fileSlug in pagesWithBlueBottom %}
  {% set containerClasses = "container blue-bottom" %}
{% else %}
  {% set containerClasses = "container" %}
{%- endif %}

{% block title %}
  <title>{{ title | safe }} - Coronavirus COVID-19 Response</title>
{% endblock %}

{% block meta %}
  <meta name="keywords" content="covid19, coronavirus, covid19, covid-19, california">
  {%- if tags | includes("do-not-crawl") %}
    <meta name="robots" content="noindex">
  {%- endif %}
  {% if page.fileSlug === "healthcorps" %}
    <meta content="https://covid19.ca.gov/img/Health-Corps-Website-Banner.jpg" property="og:image">
  {% else %}
    <meta content="https://covid19.ca.gov/img/awareness/CAForAll_COVID_EndCards_v4_English.jpg" property="og:image">
  {% endif %}
  <meta property="og:url" content="https://covid19.ca.gov{{ page.url }}">
{% endblock %}

{% block headCSS %}
	{{ macros.includeCSSByEnv("built", env.dev) }}
  {{ super() }}
{% endblock %}

{% block bodyClass %}interior-page{% endblock%}

{% block preHeader %}
{%- pagesection page, "vaccines" %}
	<cagov-vaccinesurvey data-npi-survey-url="{{ tags | npiSurveyUrl | safe }}" data-pulse-survey-url="{{ tags | pulseSurveyUrl | safe }}" data-survey-prompt="{{Terms[9].Text}}" data-pulse-survey-prompt="{{Terms[10].Text}}"></cagov-vaccinesurvey> 		
{% endpagesection -%}
{% endblock %}

{% block contentBlock %}
  <div class="container-fluid jumbotron inverse-hyperlink jumbo-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1>{{ title | safe }}</h1>
          {% if page | engSlug !== "search" %}
            <p class="small-text">{{text.last_updated}}&nbsp;
              {%- if page | engSlug === "data-and-tools" -%}
                {{ "today" | formatDate2(true,tags) }}
              {%- elseif (page | engSlug).includes("state-dashboard") -%}
                {{ (stateDashboardUpdateTime.PUBLISH_DATE) | formatDate2(true,tags,0) }}
              {%- elseif page | engSlug === "vaccination-progress-data" -%}
                {{ (stateDashboardUpdateTime.PUBLISH_DATE) | formatDate2(true,tags,0) }}
              {%- elseif page | engSlug === "equity" -%}
                {{ (equityDashboardUpdateTime.PUBLISH_DATE) | formatDate2(true,tags, 0) }}
              {%- else -%}
                {{ publishdate | formatDate2(true,tags) }}
              {%- endif -%}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="{{ containerClasses }}">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        {{ content | safe  }}
        {%- pagesection page, "search" %}
        {% include "search.njk" %}
        {% endpagesection -%}
        {# {%- pagesection page, "safer-economy" %}
        {% include "reopening-matrix.njk" %}
        {% endpagesection -%} #}
      </div>
    </div>
  </div>
  <!-- end contentBlock -->
{% endblock %}
