<div class="list-group">
  <a
    href="/"
    class="list-group-item list-group-item-action guide {{page | pageActive('manual-content')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Homepage</a
  >
  <a
    href="/stay-home-except-for-essential-needs/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('stay-home-except-for-essential-needs')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Stay home order</a
  >
  {% pagesection page, "stay-home-except-for-essential-needs" %}
  <div class="list-group-item list-group-item-action guide pl-3 mb-0 pb-0">
    <ul class="list-unstyled">
      <li>
        <a href="/stay-home-except-for-essential-needs/#faq"
          ><span class="ca-gov-icon-caret-down"></span> Frequently asked
          questions</a
        >
      </li>
      <li>
        <a href="/stay-home-except-for-essential-needs/#business"
          ><span class="ca-gov-icon-minus-mark"></span> Business and taxes</a
        >
      </li>
      <li>
        <a href="/stay-home-except-for-essential-needs/#school">
          <span class="ca-gov-icon-minus-mark"></span> Schools and childcare</a
        >
      </li>
      <li>
        <a href="/stay-home-except-for-essential-needs/#health">
          <span class="ca-gov-icon-minus-mark"></span> Health care</a
        >
      </li>
      <li>
        <a href="/stay-home-except-for-essential-needs/#outdoor">
          <span class="ca-gov-icon-minus-mark"></span> Outdoor recreation</a
        >
      </li>
    </ul>
  </div>
  {% endpagesection %}
  <a
    href="/symptoms-and-risks/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('symptoms-and-risks')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Know symptoms and risks</a
  >
  <a
    href="/testing-and-treatment/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('testing-and-treatment')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Get testing and treatment</a
  >
  <a
    href="/get-financial-help/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('get-financial-help')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Get financial help
  </a>
  <a
    href="/state-local-resources/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('state-local-resources')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Get local information</a
  >
  <a
    href="/sign-up-for-county-alerts/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('sign-up-for-county-alerts')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Sign up for alerts in your
    county</a
  >
  <a
    href="/safety-in-public-places/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('safety-in-public-places')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Public places</a
  >
  <a
    href="/business-and-employers/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('business-and-employers)}}"
    ><span class="ca-gov-icon-arrow-next"></span> Business and employers</a
  >
  <a
    href="/education/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('education')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Education
  </a>
  <a
    href="/healthcare/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('healthcare')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Health care</a
  >
  <a
    href="/housing-and-homelessness/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('housing-and-homelessness')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Housing and Homelessness</a
  >
  <a
    href="/workers/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('workers')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Workers</a
  >
  <a
    href="/taxes/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('taxes')}}"
    ><span class="ca-gov-icon-arrow-next"></span> Taxes</a
  >
  <a
    href="/healthcorps/#top"
    class="list-group-item list-group-item-action guide {{page | pageActive('healthcorps')}}"
    ><span class="ca-gov-icon-arrow-next"></span> California Health Corps</a
  >
  <a
    href="https://toolkit.covid19.ca.gov/"
    class="list-group-item list-group-item-action guide"
    ><span class="ca-gov-icon-arrow-next"></span> #COVID19 toolkit</a
  >
</div>
