

<news-section>
  <section class="news trigger" role="region" aria-label="Recent updates">
    <div class="news-wrap">
    
      <h2 class="color-purple mt-4 mb-0">Recent updates</h2>
      <div class="news-grid">
        {% set JSONgovraw %}{% include "../wordpress-posts/updates-section-homepage.json" %}{% endset %}
        {% set JSONgov = JSONgovraw | jsonparse %}
        {%- set RowsGov = JSONgov.Table1 -%}
        {% for item in RowsGov %}
          <article class="news-item trigger">
              <h3 class="h4 mb-0 pb-2 color-black">{{item["News title"]}}</h3>
              <p class="text-300">{{item['News content']}}</p>
              <p class="mt-2 mb-0"><a class="recent-news-link" href="{{item['link URL']}}">{{item['Link text']}}</a></p>
          </article>
        {% endfor %}
      </div>
    
    
    </div>
    </section>
</news-section>
