{% set langFilePostfix = tags | langFilePostfix %}
<style>
  .aside { 
		position: relative!important;
	}
	a.gs-title, a.gs-title b {
    font-size: 1.5rem!important;
    font-weight: 400;
	}
	.gsc-url-top {
    display: none!important;
	}
	.gs-bidi-start-align.gs-snippet {
    font-size: 1rem;
	}
	#answersNow .accordion-title {
    font-size: 1.3rem;
    color: #003d9d;
	}
	.gsc-above-wrapper-area {
		display: none;
	}
	.gsc-control-cse {
    padding: 0;
	}
</style>

<script>
	const cx = '003358532045999200914:uxxka6d3pge';
	const gcse = document.createElement('script');
	gcse.type = 'text/javascript';
	gcse.async = true;
	gcse.src = 'https://cse.google.com/cse.js?language={{(tags | langRecord).hreflang}}&cx=' + cx;
	const s = document.getElementsByTagName('script');
	s[s.length - 1].parentNode.insertBefore(gcse, s[s.length - 1]);

	const urlParam = function (name) {
		var results = new RegExp('[\?&]' + name + '=([^&#]*)')
			.exec(window.location.search);

		return (results !== null) ? results[1] || 0 : false;
	}
	const urlq = urlParam('q')||'';
  const query = decodeURIComponent(urlq.replace(/\+/g,' ').toLowerCase());
  document.querySelector('input[name=q]').value = query;
</script> 

<script>
	const myWebSearchStartingCallback = query => {
		if(!query) return;

		let currentHost = `${window.location.protocol}//${window.location.hostname}`;
		if(window.location.port !== '80') {
			currentHost += `:${window.location.port}`;
		}
		history.pushState(null,null,`${currentHost}${window.location.pathname}?q=${query}`);
		document.querySelector('#answersNow').innerHTML = "";
		fetch(`https://fa-go-alph-covidqna-001.azurewebsites.net/api/CovidAnswer?q=${query}&name=123`)
		.then(response => response.json())
		.then(data => {
			let answers = [...data[0].answers];
			if(answers[0].questions.length > 0) {
				let html = `<h4>Quick answers</h4>
					${answers.map(function(a) {
						if(a.questions.length > 0) {
							return `<cwds-accordion>
								<div class="card"><button class="card-header accordion-alpha" type="button" aria-expanded="false">
										<div class="accordion-title">${a.questions.join(' ')}</div>
									</button>
									<div class="card-container collapsed">
										<div class="card-body">
											<p>${a.answer}</p>
										</div>
									</div>
								</div>
							</cwds-accordion>`;
						} else {
							return '';
						}
				}).join('	')}`
				document.querySelector('#answersNow').innerHTML = html;

				// send an event that we got quick answers	
				if(typeof(ga) !== 'undefined') {
					ga('send', 'event', 'search', 'got_quick_answers', query.toLowerCase());
				}
			} else {
				// send an event with or without answers
				if(typeof(ga) !== 'undefined') {
					ga('send', 'event', 'search', 'no_quick_answers', query.toLowerCase());
				}
			}
		});
	}
	myWebSearchStartingCallback(query)
</script>
<script>
	const popularQueryiesCallback = data => {
		document.querySelector('#queries').innerHTML += data.popularQueries
			.map(x=>x.query)
			.filter(x=>x.match(/\S+/g).length<=4)
			.map(x=>
				`<a rel="nofollow" class="action-link border-0 mr-3 mb-3" style="margin:0" href="?q=${x}">${x}</a>`
			).join('');
	}
</script>
<script src="https://cse.google.com/api/003358532045999200914:uxxka6d3pge/popularqueryjs?view=week&callback=popularQueryiesCallback"></script>
