{% set langFilePostfix = tags | langFilePostfix %}
<style>
  .aside { 
		position: relative!important;
	}
	a.gs-title, a.gs-title b {
    font-size: 1.5rem!important;
    font-weight: 400;
	}
	.gsc-url-top {
    display: none!important;
	}
	.gs-bidi-start-align.gs-snippet {
    font-size: 1rem;
	}
	#answersNow .accordion-title {
    font-size: 1.3rem;
    color: #003d9d;
	}
	.gsc-above-wrapper-area {
		display: none;
	}
	.gsc-control-cse {
    padding: 0;
	}
</style>

<script>
	const cx = '003358532045999200914:uxxka6d3pge';
	const gcse = document.createElement('script');
	gcse.type = 'text/javascript';
	gcse.async = true;
	gcse.src = 'https://cse.google.com/cse.js?language={{(tags | langRecord).hreflang}}&cx=' + cx;
	const s = document.getElementsByTagName('script');
	s[s.length - 1].parentNode.insertBefore(gcse, s[s.length - 1]);

	const urlParam = function (name) {
		var results = new RegExp('[\?&]' + name + '=([^&#]*)')
			.exec(window.location.search);

		return (results !== null) ? results[1] || 0 : false;
	}
	const urlq = urlParam('q')||'';
  const query = decodeURIComponent(urlq.replace(/\+/g,' ').toLowerCase());
	document.querySelectorAll('input[name=q]').forEach(x=>x.value=query);
</script> 

<script>
	const myWebSearchStartingCallback = query => {
		if(!query) return;

		let currentHost = `${window.location.protocol}//${window.location.hostname}`;
		if(window.location.port !== '80') {
			currentHost += `:${window.location.port}`;
		}
		history.pushState(null,null,`${currentHost}${window.location.pathname}?q=${query}`);
		document.querySelector('#answersNow').innerHTML = "";

		let search_url = `https://fa-go-alph-covidqna-001.azurewebsites.net/CovidAnswer?q=${query}&name=123`;
		let = my_language = document.documentElement.lang;
		let test_intl = true;
		if (test_intl) {
			// replace search url
			console.log("Test INTL Search");
			search_url = 'https://qa-go-covid-001.azurewebsites.net/qnamaker/knowledgebases/7c68948f-06d8-4c18-aa71-c7340e32f34f/generateAnswer';
		}

		// fetch(search_url)
		fetch(search_url
		              , {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json',
                          "Authorization": "EndpointKey c1b8855b-2919-47ec-9387-6d9cc64dcb41"
                        },
                        redirect: 'follow', 
                        body: JSON.stringify({'question':query, 'top': 200})
                      }
					  )
		.then(response => response.json())
		.then(data => {
			console.log("Got data",data);

			let answers = data.answers; // [...data[0].answers];
			// console.log("Got Answers",answers);
			if (my_language == 'en-US') {
				// Eliminate all questions with a non-english source
				console.log("Skipping non english");
				const skip_pattern = /^https:\/\/covid19.ca.gov\/(es|ar|ko|tl|vi|zh-hans|zh-hant)\//;
                answers = answers.filter( ans => !(ans.source.match(skip_pattern)));
			} else {
				const supported_languages = {'es-ES':{search:/^https:\/\/covid19.ca.gov\/es\//},
											'es':{search:/^https:\/\/covid19.ca.gov\/es\//},
										'ar-AR':{search:/^https:\/\/covid19.ca.gov\/ar\//},
										'ar':{search:/^https:\/\/covid19.ca.gov\/ar\//},
										'ko':{search:/^https:\/\/covid19.ca.gov\/ko\//},
										'tl':{search:/^https:\/\/covid19.ca.gov\/tl\//},
										'vi':{search:/^https:\/\/covid19.ca.gov\/vi\//},
										'zh-hans':{search:/^https:\/\/covid19.ca.gov\/zh-hans\//},
										'zh-hant':{search:/^https:\/\/covid19.ca.gov\/zh-hant\//},
										'zh-Hans':{search:/^https:\/\/covid19.ca.gov\/zh-hans\//},
										'zh-Hant':{search:/^https:\/\/covid19.ca.gov\/zh-hant\//},
										};
				if (my_language in supported_languages) {
					console.log("Skipping non ",my_language);
					const match_pattern = supported_languages[my_language].search;
					answers = answers.filter( ans => (ans.source.match(match_pattern)));
				} else {
				    console.log("Unknown language, showing everything", my_language);
				}
			}
			if(answers[0].questions.length > 0) {
				let html = `<h4>Quick answers</h4>
					${answers.map(function(a) {
						if(a.answer.indexOf('platform.twitter.com/widgets') > -1) {
							let newScript = document.createElement("script");
							newScript.src = "https://platform.twitter.com/widgets.js";
							document.querySelector('head').appendChild(newScript);
						}
						if(a.questions.length > 0) {
							return `<cagov-accordion>
								<div class="card"><button class="card-header accordion-alpha" type="button" aria-expanded="false">
										<div class="accordion-title">${a.questions.join(' ')}</div>
									</button>
									<div class="card-container collapsed">
										<div class="card-body">
											<p>${a.answer}</p>
										</div>
									</div>
								</div>
							</cagov-accordion>`;
						} else {
							return '';
						}
				}).join('	')}`
				document.querySelector('#answersNow').innerHTML = html;

				// send an event that we got quick answers	
				if(typeof(ga) !== 'undefined') {
					ga('send', 'event', 'search', 'got_quick_answers', query.toLowerCase());
				}
			} else {
				// send an event with or without answers
				if(typeof(ga) !== 'undefined') {
					ga('send', 'event', 'search', 'no_quick_answers', query.toLowerCase());
				}
			}
		});
	}
	myWebSearchStartingCallback(query)
</script>
<script>
	const popularQueryiesCallback = data => {
		document.querySelector('#queries').innerHTML += data.popularQueries
			.map(x=>x.query)
			.filter(x=>(x.match(/\S+/g).length<=4 && !x.match(/fuck/i)))
			.map(x=>
				`<a rel="nofollow" class="action-link border-0 mr-3 mb-3" style="margin:0" href="?q=${x}">${x}</a>`
			).join('');
	}
</script>
<script src="https://cse.google.com/api/003358532045999200914:uxxka6d3pge/popularqueryjs?view=week&callback=popularQueryiesCallback"></script>
