<form action="/Search/">
  <label id="SearchInput" for="q"><h2>Search Text</h2></label>
  <input type="text" id="q" name="q" aria-labelledby="SearchInput" placeholder="Search this website" autofocus />
  <button type="submit">Submit</button>
</form>

<gcse:searchresults-only></gcse:searchresults-only>

<script>
	var cx = '003358532045999200914:uxxka6d3pge';
	var gcse = document.createElement('script');
	gcse.type = 'text/javascript';
	gcse.async = true;
	gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	var s = document.getElementsByTagName('script');
	s[s.length - 1].parentNode.insertBefore(gcse, s[s.length - 1]);

	const urlParam = function (name) {
		var results = new RegExp('[\?&]' + name + '=([^&#]*)')
			.exec(window.location.search);

		return (results !== null) ? results[1] || 0 : false;
	}
  var query = decodeURIComponent(urlParam('q').replace(/\+/g," "));
  document.querySelector('input[name=q]').value = query;
</script>