@import './arrows';

.social {
	display: inline-block;
	vertical-align: middle
}

.social-link {
	background: #ff8000;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: inline-block;
	padding: .5rem .7rem;
	margin: 0 0.25rem;
	transition: fill 0.5s cubic-bezier(0.5, 1.65, 0.4, 0.8), transform 0.5s cubic-bezier(0.5, 1.65, 0.4, 0.8)
}

.social-link:hover {
	background: #92c5de;
	transform: scale(1.1)
}

.social-link:hover .social-icon {
	fill: #1f2574
}

.social-link:focus,
.social-link:focus-within {
	background: #fff!important;
	box-shadow: 0 0 0 2px #ecca00
}

.social-link:focus-within .social-icon,
.social-link:focus .social-icon {
	fill: #1f2574!important
}

.social-icon {
	width: 100%;
	height: 100%;
	fill: #fff;
	transition: fill 0.5s cubic-bezier(0.5, 1.65, 0.4, 0.8)
}


.button {
	display: inline-flex;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	margin: 1rem 0 0 0;
	color: #003d9d;
	padding: 0.15rem
}

@media (min-width:48em) {
	.button {
		margin: 1.25rem 0 0 0
	}
}

@media (min-width:81.25em) {
	.button {
		margin: 1.75rem 0 0 0
	}
}

.button-label {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	display: inline-flex;
	align-items: center;
	margin-right: 1rem;
	transition: all 0.2s ease-in-out;
	color: #1f2574
}
.button:hover .button-label {
	color: #003d9d
}
.button:focus .button-label {
	color: #003d9d
}
.button.orange-button {
	color: #92c5de
}
.button.orange-button .button-label {
	color: #92c5de!important
}
.button.orange-button:hover .button-label {
	color: #fff!important
}
.button.orange-button:focus .button-label {
	color: #ff8000!important
}


.button-label,
.footer-nav-link {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem
}

@media (min-width:48em) {
	.button-label,
	.footer-nav-link {
		font-size: 1.1rem
	}
}

@media (min-width:81.25em) {
	.button-label,
	.footer-nav-link {
		font-size: 1.15rem
	}
}

@media (min-width:100em) {
	.button-label,
	.footer-nav-link {
		font-size: 1.2rem
	}
}

@media (min-width:112.5em) {
	.button-label,
	.footer-nav-link {
		font-size: 1.25rem
	}
}


