---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}{% if page.data.addtositemap %}
    <url>
        <loc>https://covid19.ca.gov{{ page.url | url }}</loc>
        <lastmod>{{ page | publishdateorfiledate }}</lastmod>
    </url>
{% endif %}{% endfor %}
</urlset>