/* accordion component specific classes */
cwds-accordion .card {
  border-radius: 0 !important;
  border: none;
}

cwds-accordion .card-container {
  height: 0px;
  display: block;
  overflow: hidden;
  transition: height .3s;
}

cwds-accordion .card-body .wp-block-table {
  overflow: scroll;
}

cwds-accordion .card-header {
  cursor: pointer;
}

cwds-accordion .collapsed {
  display: block;
  overflow: hidden;
  visibility: hidden;
}

cwds-accordion .card-header .button {
  color: #000;
}

.accordion {
  margin-bottom: 20px;
}

cwds-accordion .accordion-title {
	padding: .5rem;
  font-family: "Montserrat", sans-serif;	
  font-weight: 700;
	text-align: left;
	font-size: 1.5rem;
	margin-bottom: 0;
  color:$darkblue;
  margin-right: auto;
  width: 90%;
  h4, h3, h2 {
    padding: 0 !important;
    margin-bottom: 0 !important;
    color:$darkblue;;
  }
}

cwds-accordion .accordion h2 {
  margin: 0;
  padding: 10px;
}

cwds-accordion button.card-header {
  display: flex;
  justify-content: left;
  align-items:center;
  padding: 1rem .75rem;
  background-color:$lightestblue;
  background-clip: border-box;
  border: 1px solid $lightestblue;
  border-top-color:$darkblue;
  border-bottom-color:$darkblue;
  border-radius: 0 !important;
}

cwds-accordion .accordion-alpha .plus-munus {
    font-family: CaGov!important;
    width: 2.75rem;
    height: 2.75rem;
    border: 2px solid $orange;
    border-radius: 50%;
    padding: .3rem 0;
    overflow: hidden;
    transition: all .3s ease;
    margin-left: 1rem;
    color: $orange;
    font-size: 1.6rem;
  &:before {
    content: "\4c";
  }
}

cwds-accordion .accordion-alpha-open {
  border-bottom-color: $lightestblue;
  .plus-munus {
    font-family: CaGov!important;
    &:before {
      content: "\4b";
    }
  }
}

