/* accordion component specific classes */
    
cwds-accordion .card-container {
  height: 0px;
  display: block;
  overflow: hidden;
  transition: height .3s;
}

cwds-accordion .card-body .wp-block-table {
  overflow: scroll;
}

cwds-accordion .card-header {
  cursor: pointer;
}

cwds-accordion .collapsed {
  display: block;
  overflow: hidden;
  visibility: hidden;
}

cwds-accordion .card-header .button {
  color: #000;
}

cwds-accordion .card-header .button {
  color: #000;
}

.accordion {
  margin-bottom: 20px;
}

.accordion-title {
	padding: .5rem;
	padding-left: 1rem;
  font-family: "Montserrat", sans-serif;	
  font-weight: 700;
	text-align: left;
	font-size: 1.5rem;
	margin-bottom: 0;
	color:#000;
}

.accordion h2 {
  margin: 0;
  padding: 10px;
}

.accordion-alpha {
	background-image: url(/img/plus.svg);
    background-position: right 1.25rem center;
    background-size: 1rem;
    background-repeat: no-repeat;
}

.accordion-alpha-open {
	background-image: url(/img/minus.svg);
    background-position: right 1.25rem center;
    background-size: 1rem;
    background-repeat: no-repeat;
}




