/* accordion component specific classes */
cagov-accordion .card {
  border-radius: 0 !important;
  border: none;
  margin-bottom: 0;
}

cagov-accordion .card-container {
  display: block;
  overflow: hidden;
  transition: height .3s;
}

cagov-accordion.prog-enhanced .card-container {
  height: 0px;
}

cagov-accordion .card-body .wp-block-table {
  overflow: scroll;
}


cagov-accordion .collapsed {
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.card-header .button {
  color: #000;
}

.accordion {
  margin-bottom: 20px;
}

.accordion-title {
  padding: .5rem;
	text-align: left;
	margin-bottom: 0;
  color:$darkblue;
  margin-right: auto;
  width: 90%;
  h4, h3, h2 {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-family: "Roboto", sans-serif;	
    font-size: 1.2rem !important;
    font-weight: 700;
    color:$darkblue;
  }
}

button.card-header {
  display: flex;
  justify-content: left;
  align-items:center;
  padding: 1rem .75rem;
  background-clip: border-box;
  background-color:$white;
  border:none;
  border-bottom:1px solid $darkblue;
  border-top:1px solid $darkblue;
  border-radius: 0 !important;
  margin-top: -1px;
  &:hover {
    background-color:$lightestblue;
  }
}

.prog-enhanced .accordion-alpha .plus-munus {
    font-family: CaGov!important;
    width: 2.125rem;
    height: 2.125rem;
    border: 2px solid $orange;
    border-radius: 50%;
    padding:0.02rem 0;
    overflow: hidden;
    transition: all .3s ease;
    margin-left: 1rem;
    color: $orange;
    font-size: 1.5rem;
    align-self: flex-start;
  &:before {
    content: "\4c";
  }
}

.prog-enhanced .accordion-alpha-open {
  border-bottom-color: $white !important;
  .plus-munus {
    font-family: CaGov!important;
    &:before {
      content: "\4b";
    }
  }
}