
.faq-icon-arrow,
.faq-icon-circle {
	position: absolute;
	transition: 1.2s cubic-bezier(0.15, 0.92, 0.14, 0.95);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.faq-icon-circle {
	width: 100%;
	height: 100%;
	border: 1px solid #ff8000;
	border-radius: 100%;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.faq-icon-arrow {
	left: 50%;
	top: 50%;
	width: 16px;
	min-width: 16px;
	height: 1rem;
	transform: translate(-50%, -50%)
}

@media (min-width:112.5em) {
	.faq-icon-arrow {
		width: 0.75vw;
		min-width: 0.75vw
	}
}

.faq-icon-arrow:last-of-type {
	transform: translate(-275%, -50%)
}

.faq-icon-arrow-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.faq-icon-arrow-svg {
	position: relative;
	display: block;
	width: 100%;
	height: 1rem
}

.faq-icon-arrow-svg-art {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block
}


.faq-icon {
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
	margin-left: auto;
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ff8000
}

@media (min-width:48em) {
	.faq-icon {
		width: 30px;
		height: 30px;
		min-width: 30px;
		min-height: 30px
	}
}

@media (min-width:81.25em) {
	.faq-icon {
		width: 35px;
		height: 35px;
		min-width: 35px;
		min-height: 35px
	}
}

@media (min-width:112.5em) {
	.faq-icon {
		width: 40px;
		height: 40px;
		min-width: 40px;
		min-height: 40px
	}
}


.faq-item-link:focus .faq-icon-circle {
	background: #c7e1ef;
	border-color: #1f2574;
	transform: scale(1.2)
}

.faq-item-link:focus .faq-icon-arrow {
	transform: translate(275%, -50%)
}

.faq-item-link:focus .faq-icon-arrow:last-of-type {
	transform: translate(-50%, -50%)
}