a.btn {
  background: $blue;
  color: $white;
  border: 50px;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

a.btn-dark {
  background:$black;
  color: $white;
  border: 1px solid$black;
  text-decoration: none;
}

a.btn-dark:hover {
  color: $white;
  background-color: $blue;
  background: $blue;
}

a.btn:hover {
  color: $white;
  background-color: $blue;
  background: $blue;
}

a.btn:visited
 {
  color: $white;
}

.btn-primary {
  color: $white;
  background-color: $darkblue;
  background: $darkblue;
  border-color: $darkblue;
}

.nav-item .dropdown .btn-light {
  height: 38px;
}

.btn-clear {
  color: $white;
  background: none;
}

.btn.btn-clear:hover,
.btn.btn-clear:focus {
  color: $white;
  background: none;
  border: solid 1px $white;
}

.btn-primary:hover {
  background-color: $blue;
  border-color: $blue;
  color: $white;
}

.btn-secondary:hover {
  color: $white;
  background-color: $blue;
  border-color: $blue;
}

button.step-description {
  text-align: left;
  padding-left: 0;
  margin-left: -10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.btn-bd-primary:hover,
.btn-bd-primary:active {
  color: $white;
  background-color:$black;
  border-color:$black;
  background:$black;
}

.search-btn {
  border: 5px $blue solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: $blue;
}

.search-btn:hover {
  border: 5px $darkblue solid;
  background: $darkblue;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

button:focus {
  outline: none;
}

.btn:focus,
.btn.focus {
  color: $white;
  background-color: $blue;
  border-color: $blue;
  box-shadow: none;
}

.btn-light:focus,
.btn-light.focus {
  color: $white;
  background-color: $blue;
  border-color: $blue;
  box-shadow: none;
}

.btn-dark:focus,
.btn-dark.focus {
  color: $white;
  background-color: $blue;
  border-color: $blue;
  box-shadow: none;
}

.btn-lightbg {
  color: $darkblue;
  background-color: $lightblue;
}

.btn-bigger {
  min-height: 3rem;
  font-size: 1.25rem;
}

button.card-header.accordion-alpha:focus {
  outline: 2px solid $yellow;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: $white;
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}
.btn-search {
  color: $darkblue !important;
  background-color: $white !important;
  border-color: $white !important;
  position: relative;
  padding-right: 45px !important;
}

.btn-search:focus,
.btn-search:hover {
  color: $darkblue !important;
  background-color: $lightestblue !important;
  border-color: $blue !important;
}

.btn-search span {
  position: absolute;
  right: 10px;
  top: -1px;
  font-size: 26px !important;
}

.btn-matrix {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 50px !important;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  font-weight: 500;
}

.btn-matrix.bg-purple-btn,
.btn-matrix.bg-red-btn {
  color: $white !important;
}
.btn-matrix.bg-orange-btn,
.btn-matrix.bg-yellow-btn {
  color:$black !important;
}

.interior-page .toggle-links {
  a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 1.15rem;
    display: inline-block;
    padding: 10px;
    background-color: $white;
    &.d-none {
      display: none;
    }
    &:hover, &:focus {
      background-color: $lightestblue;
    }
  }
  a, a:visited {
    color: $darkblue;
  }
  a.toggle-active, a:visited.toggle-active {
    color: $white;
  }
  .toggle-active {
    background-color: $darkblue;
    color: $white;
    cursor: default;
    &:hover, &:focus {
      background-color: $darkblue;
    }
  }
}

.grid-layout-hd.toggle-links {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  max-width: 420px;
  margin: 0 auto;
}


button.clear {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 50px;
  color: $darkblue;
  font-weight: 300;
  transition: all .3s ease;
  span.ca-gov-icon-close-line {
    transition: all .3s ease;
    position: relative;
  }
  &:hover {
    span.ca-gov-icon-close-line {
      transform: scale(1.2);
      display: inline-block;
    }
  }
  &:focus {
    outline: 2px solid $yellow;
  }
}

  .small-tab {
    padding:.5rem .75rem .5rem .75rem;
    border:1px solid $lightestblue;
    text-decoration:underline;
    color:$darkblue;
    background:$white;
    font-size:.95rem;
    font-weight: 700 !important;
    &:hover, &:focus {
      text-decoration:none;
      outline-offset: -2px;
    }
    &:focus {
      outline: 2px solid $yellow;
    }
    &.active, &[aria-expanded="true"] {
      color:$black;
      text-decoration:none;
      cursor: default;
      &:focus {
        outline: 2px solid $yellow;
      }
    }
  }

  .large-tabs {
    border: 1px solid $darkblue!important;
    background-color: $darkblue!important;
    display: flex!important;
    flex-direction: column;
    justify-content: center!important;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    .large-tab {
      text-decoration: none;
      font-family: Montserrat;
      font-style: normal;
      text-align: center;
      font-weight: 500;
      font-size: 1.15rem;
      display: inline-block;
      padding: 10px;
      background-color: $white;
      color:$darkblue;
      width: 100%;
      margin: 0 1px 1px 0;
      border: none;
      @media (min-width: 768px) {
        margin: 0 1px 0 0;
        min-width: 200px;
      }
      &:hover, &:focus {
        background-color: $lightestblue;
      }
      &:focus {
        outline: 2px solid $yellow;
      }
      &:last-child {
        margin-right: 0;margin-bottom: 0;}
      &.active, &[aria-expanded="true"], &.toggle-active {
        color:$white;
        background-color: $darkblue;
        text-decoration:none;
        pointer-events: none;
        cursor: default;
        &:hover, &:focus {
          background-color: $darkblue;
          pointer-events: none;
        }
        &:focus {
          outline: 2px solid $yellow;
        } 
      }
    } 
  }

  /* Arrow links */
  @mixin link-arrow {
    font-size: 1.2rem;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
    text-decoration:none !important;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
  }
  .link-arrow-label {
    margin-right:1em;
  }
  .link-arrow-icon {
    width: 2.75rem;
    height: 2.75rem; 
    border-radius: 50%;
    padding:0;
    overflow:hidden;
    transition: all .3s ease;
    }
  .link-arrow-icon-svg {
    width: 60px;
    height:100%;
    position:relative;
    transition: all .3s ease;
    right:28px;
  }
  
//blue arrow link
  .link-arrow-blue {
    @include link-arrow; 
      color:$darkblue;
      .link-arrow-icon {
        border:2px solid $darkblue;
      }
      .arrow1, .arrow2 {
        transition: all .3s ease;
        fill:$darkblue;
      }
      //link hover and focus state
      &:hover, &:focus {
        color:$blue;
        .link-arrow-icon {
          border-color:$blue;
          .arrow1, .arrow2 {fill:$blue;}
        }
        .link-arrow-icon-svg {right:-10px;}
      }
      &:focus {outline: 2px solid $yellow !important;}
    }

    //white arrow link
  .link-arrow-white {
    @include link-arrow; 
      color:$white !important;
      .link-arrow-icon {
        border:2px solid $white;
      }
      .arrow1, .arrow2 {
        transition: all .3s ease;
        fill:$white;
      }
      //link hover and focus state
      &:hover, &:focus {
        color:$orange !important;        ;
        .link-arrow-icon {
          border-color:$orange; 
          .arrow1, .arrow2 {fill:$orange;}
        }
        .link-arrow-icon-svg {right:-10px;}
      }
      &:focus {outline: 2px solid $yellow !important;}
    }
    

  //light blue  arrow link
  .link-arrow-lightblue {
    @include link-arrow; 
      color:$lightblue !important;
      .link-arrow-icon {
        border:2px solid $lightblue;
      }
      .arrow1, .arrow2 {
        transition: all .3s ease;
        fill:$lightblue;
      }
      //link hover and focus state
      &:hover, &:focus {
        color:$orange !important;        ;
        .link-arrow-icon {
          border-color:$orange; 
          .arrow1, .arrow2 {fill:$orange;}
        }
        .link-arrow-icon-svg {right:-10px;}
      }
      &:focus {outline: 2px solid $yellow !important;}
    }

/* Call to Action Buttons */
@mixin action-button {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 0 transparent;
  padding: 0.625rem 1.5rem;
  line-height: 1.5;
  border-radius:50px;
  text-decoration: none !important;
  transition: all .3s ease;
}
// dark blue button
.button-blue {
  @include action-button;
  background-color: $darkblue;
  color: $white !important;
  &:hover, &:focus {
    background-color: $orange;
    color: $darkblue !important;
  }
  &:focus {outline: 2px solid $yellow !important;}
}
// white button
.button-white {
  @include action-button;
  background-color: $white;
  color: $darkblue !important;
  &:hover, &:focus {
    background-color: $orange;
    color: $darkblue !important;
  }
  &:focus {outline: 2px solid $yellow !important;}
}
// light blue button
.button-lightblue {
  @include action-button;
  background-color: $lightblue;
  color: $darkblue !important;
  &:hover, &:focus {
    background-color: $orange;
    color: $darkblue !important;
  }
  &:focus {outline: 2px solid $yellow !important;}
}
// lighter blue button
.button-lightestblue {
  @include action-button;
  background-color: $lightestblue;
  color: $darkblue !important;
  &:hover, &:focus {
    background-color: $orange;
    color: $darkblue !important;
  }
  &:focus {outline: 2px solid $yellow !important;}
}
.bd-4px {
  border-radius: 0.25rem !important;
}



// LEARN MORE SECTION
learn-more-section {
  .faq-twitter {
    @extend %block-padding;
    width: 100%;
    order: 1;
    @include tablet {
      order: 2;
    }
    &-wrap {
      @extend %wrap;
      @include tablet {
        display: flex;
        align-items: flex-start;
      }
    }
  }
  .faq {
    text-align: left;
    @include tablet {
      width: 50%;
      padding: 0 2rem 0 0;
    }
  }
  .faq article:first-child .faq-item-link {
    border-top: 1px solid $blue;
  }
}


// Dark blue questions
faq-section {

	.faq-twitter {
		background: $darkblue;
		@extend %block-padding;
		width: 100%;
		order: 1;
		@include tablet {
			order: 2;
		}
		&-wrap {
			@extend %wrap;
			@include tablet {
				display: flex;
				align-items: center;
			}
		}
	}
	.faq {
		text-align: left;
		@include tablet {
			width: 50%;
			padding: 0 2rem 0 0;
		}
	
	}
	.t-center {
		text-align: center;
	}
	.twitter-feed {
		padding: 2rem 0rem 0;
		text-align: center;
		color: $white;
		@include tablet {
			width: 50%;
			padding: 0 0 0 2rem;
		}
	
	}

}

// Special Note
.special-note {
  background: $lightestblue;
  padding: 1rem 1rem 1rem 3.5rem;
  position: relative;
  margin: 0 auto;

  p {
    font-size: 0.95rem;
    margin-bottom: 0;
    &::before {
      font-family: "CaGov" !important;
      content: "\e072";
      position: absolute;
      left: 15px;
      top: 10px;
      font-size: 2rem;
      color: $blue;
    }
  }
}



/* ARROW LIST : List links with arrows */
@mixin list-link-arrow {
  font-family: "Roboto",sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  text-decoration:none !important;
  text-transform: none;
  display:flex;
  justify-content: left;
  transition: none;
  padding: 1rem 0.75rem;
  border-bottom: 1px solid;
  
}
.arrow-links {
  padding-left: 0;
  li {list-style: none;}
  .link-arrow-label {
    margin-right:auto;
  }
  .link-arrow-icon {
    width: 2.75rem;
    height: 2.75rem; 
    border:2px solid;
    border-radius: 50%;
    padding:0;
    overflow:hidden;
    transition: all .3s ease;
    margin-left: 1rem;
    }
  .link-arrow-icon-svg {
    width: 60px;
    height:100%;
    position:relative;
    transition: all .3s ease;
    right:28px;
  }
} 




//blue arrow list link
.arrow-links {
  li:first-child a.link-arrow-blue, article:first-child a.link-arrow-blue {
    border-top: 1px solid $darkblue;
  }
  .link-arrow-blue {
    @include list-link-arrow; 
      color:$darkblue;
      border-bottom-color:$darkblue;
      
      .link-arrow-icon {
        border-color:$orange;
      }
      .arrow1, .arrow2 {
        transition: all .3s ease;
        fill:$orange;
      }
      // link hover and focus state
      &:hover, &:focus {
        color:$blue;
        background: $lightestblue;
        .link-arrow-icon {
          border-color:$orange;
          .arrow1, .arrow2 {fill:$orange;}
        }
        .link-arrow-icon-svg {right:-10px;}
      }
      &:focus {outline: 2px solid $yellow !important;}
    }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
//white arrow list link
.arrow-links {
  li:first-child a.link-arrow-white, article:first-child a.link-arrow-white {
    border-top: 1px solid tint($darkblue, 20%);;
  }
  .link-arrow-white {
    @include list-link-arrow; 
      color:$white;
      border-bottom-color: tint($darkblue, 20%);
      
      .link-arrow-icon {
        border-color:$orange;
      }
      .arrow1, .arrow2 {
        transition: all .3s ease;
        fill:$orange;
      }
      // link hover and focus state
      &:hover, &:focus {
        color:$white !important;
        background: $blue;
        .link-arrow-icon {
          border-color:$orange;
          .arrow1, .arrow2 {fill:$orange;}
        }
        .link-arrow-icon-svg {right:-10px;}
      }
      &:focus {outline: 2px solid $yellow !important;}
    }
}

.btn-link {
  background: transparent;
  border: none;
  font-weight: 300;
  color: $darkblue;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
  &:focus {
    outline: 2px solid $yellow;
  }
} 