.cagov-grid {
  display: grid;
  grid-gap: 1.5rem;
  margin: 0;
}

.cagov-grid, .cagov-grid .block-editor-block-list__layout {

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.cagov-stack * + * {
  margin-top: 1.5rem;
}

.no-deco {
  text-decoration: none;
}

.cagov-card {
  border: 1px solid #ededef;
  padding: 1rem;
  border-bottom: 0.3rem solid $darkblue;
  border-bottom: 0.3rem solid var(--primary-color, $darkblue);
  border-radius: 0.3rem;
  min-height: 50px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;

  @include reg-phone {
    width: 100%;
  }

  @include tablet {
    min-width: 300px;
  }
}

.cagov-card .card-text {
  color: $darkblue;
  /* defined here for when css vars are not supported */
  color: var(--primary-color, $darkblue) !important;
  /* variable used with fallback in case it is not defined */
  /* color: $darkblue !important; */
  font-size: 1.5rem;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-weight: 300;
}
.cagov-card svg {
  fill: $darkblue;
  fill: var(--primary-color, $darkblue);
  width: 1rem;
  margin-top: .2rem;
  margin-left: 1rem;
  max-height: 36px;
}

.cagov-card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}