
.navbar-brand {
    background-size: 30%;
	padding-left: 40px;
	font-family: 'Public Sans',sans-serif;
}	
	
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #1172b3;
}	
	
.jumbotron, .jumbotron h1, .jumbotron .lead {
    color: #fff;
    background: #0066ab;
}
	
a.btn {
	background: #0066ab;
}
	
.bd-navbar .navbar-nav .nav-link {
    

    font-size: 1.2rem;
	padding-right: .7rem;
	color: #fff;
}
	
.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .bd-navbar .navbar-nav .nav-link:focus {
    color: #fff;
	text-decoration: underline !important;
	
}	
	
.bold {

	font-family: "Public Sans Bold", sans-serif;
}
	
a.list-group-item.list-group-item-action {
	border-radius: .25rem;
}

a.list-group-item.list-group-item-action {
	border-radius: 0;
}
	
a.list-group-item.list-group-item-action {
    border-top: 0;
	border-left: 0;
    border-right: 0;
}

	
	
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	
.navbar-nav {
	display: block;
}
	
.navbar-nav.mobile {
	display: flex;
}
	
.bd-navbar .navbar-nav  {
	padding-top: .5rem;
}
	
	
.jumbotron img {
	display: none;
}
	
.wrimagecard-topimage_header.text-center {
text-align: left!important;
}

	
}

h2 {
    padding-bottom: 10px;
    /* border-left: 3px #1172b3 solid; 
    border-bottom: 3px #1172b3 solid;
    width: fit-content;
    padding: .5rem .5rem .5rem 0rem;*/
}
	
	ol, ul, dl {
    line-height: 2rem;
}
	
	h2, h3, h4 {
		
		padding-top: .7rem;
	}
.alphabar {
    background-color: #0066ab;
    background: #0066ab;
}

.text-primary {
    color: #0066ab!important;
}

.wrimagecard.wrimagecard-topimage a:focus {
    outline: 2px solid #0257d5;
}


.wrimagecard-topimage_header, .wrimagecard-topimage_title {
    min-height: 15rem;
}

a.list-group-item.list-group-item-action {
    color: #0066ab;
}


.navbar img {
    max-width: 60px;
}


.translate {
    margin-top:.3rem;
}

.navbar-brand a  {
    text-decoration: none;
    color: white;
}

.navbar-brand  a:hover  {
    text-decoration: none;
    color: white;
}

.navbar-brand a:visited  {
    text-decoration: none;
    color: white;
}

.navbar .container, .navbar .container-fluid {

    justify-content: end !important;

}
.border-bold {
	border-width: 2px;
}

.list-group-item.list-group-item-action.guide.active {
    background: #0066ab;
    border-color: #0066ab;
    color: #fff;
}

.list-group-item.list-group-item-action ul li a {
    text-decoration: none;
}

a.list-group-item.list-group-item-action.guide {
    color: #0066ab;
}

.alphabar a, {
    color: #fff;
}

.alphabar a:hover {
    color: #fff;
}

.alphabar a:visited {
    color: #fff;
}


.inverse-hyperlink > a, a:hover, a:visited {
    /*color: white;*/
}

.skippy {display: block;
    padding: 1em;
    color: #fff !important;
    text-align: center;
    background-color: #0066ab;}
.skippy-text {padding: .5em;
    border: 1px dotted;}  

.sr-only-focusable:not(:focus) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;}

.text-sm {font-size: 
	.9rem !important;
}


.guide ul.list-unstyled li {
    padding-bottom: 1rem;
    text-indent: -27px;
    padding-left: 27px;
}

a.list-group-item.list-group-item-action {
    text-indent: -25px;
    padding-left: 35px;
}

.jumbotron img {
	max-width: 115px;
}

.jumbotron a:focus {
    outline: 2px solid #FFF;
}

a .wrimagecard-topimage_header h3 {
    text-decoration: underline;
    color: #1470b0;
	font-size: 1.5rem;
}

a:hover .wrimagecard-topimage_header h3 {
    text-decoration: none;
	font-size: 1.5rem;
}

.bg-light {
    background-color: #f1f1f1!important;
}

a, a, a:hover, a:visited {
    color: #0066ab;
}

.wrimagecard p {
    color: #000;
}


.list-group-flush .list-group-item {
    text-indent: -24px;
    padding-left: 27px;
}

li.list-group-item.alpha-footer {
    padding-right: 2rem;
	padding-left: 1.5rem;
}

.footer a, .footer a:hover, .footer a:visited {
    color: #000;
    background-image: linear-gradient(to right, #0066ab 50%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 2px 1px;
    background-position: center bottom 5%;
    background-origin: padding-box;
    text-decoration: none !important;
}

.alpha-footer .container .list-group {
    margin-left: 0;
}

p a:focus {
    outline: 2px solid #0257d5;
}

ul a:focus {
    outline: 2px solid #0257d5;
}

ol a:focus {
    outline: 2px solid #0257d5;
}

a:focus {
    outline: 2px solid #0257d5;
}

.footer a:focus {
    outline: 2px solid #0257d5;
}

.navbar a:focus {
    outline: 2px solid #FFF;
}

.alphabar a:focus {
    outline: 2px solid #FFF;
}

a .card-title {
    color: #0066ab;
}

.action-link {
    border-bottom: 2px solid #0066ab;
    border-radius: .25rem;
}

.action-link, a.action-link::after {
    background-position-x: .5rem;
    background-position-y: 1.2rem;
}

@media only screen and (min-width: 992px){
 .aside { 
       position: fixed;
 }
}



@media only screen and (max-height: 1100px) {
   .aside { 
       position: relative!important;
 }
}
 

