.navbar-brand {
  background-size: 30%;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.navbar-inverse,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  background: $darkblue;
}


.jumbotron {
	background-color: $darkblue;
  color: $white;
  text-align: center;
}

h1 {
	color: $darkblue;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron p, .jumbotron .lead  {
	color: $white;
}



a.btn {
  background:$darkblue;
}

.btn-primary {
  color: $white;
  background-color: $darkblue;
  background: $darkblue;
  border-color: $darkblue;
}

.btn-primary:hover {
  color: $white;
  background-color: $blue;
  border-color: $blue;
}

a.btn:hover {
  color: $white;
  background-color: $blue;
  border-color: $blue;
}

.bd-navbar .navbar-nav .nav-link {
  font-size: 1.2rem;
  padding-right: 0.7rem;
  color: $white;
}

.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover,
.bd-navbar .navbar-nav .nav-link:focus {
  color: $white;
  text-decoration: underline !important;
}

.bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.unbold {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

a.list-group-item.list-group-item-action {
  border-radius: 0.25rem;
}

a.list-group-item.list-group-item-action {
  border-radius: 0;
}

a.list-group-item.list-group-item-action {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

a.list-group-item {
  padding: 15px;
}


ol,
ul,
dl {
  line-height: 2rem;
}


.alphabar {
  background-color: $darkblue;
  background: $darkblue;
}

.text-primary {
  color: $darkblue !important;
}

.text-white a {
    color: $white;
}

.text-primary a {
    color: $darkblue;
}

.text-white a.action-link {
    color: $darkblue;
}

.wrimagecard.wrimagecard-topimage a:focus {
  outline: 2px solid $blue;
}

.wrimagecard-topimage_header,
.wrimagecard-topimage_title {
  min-height: 15rem;
}

a.list-group-item.list-group-item-action {
  color: $darkblue;
}

.mobile-menu {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
}

.navbar img {
  max-width: 70px;
}

.translate {
  margin-top: 0.3rem;
}

.navbar-brand a {
  text-decoration: none;
  color: $white;
}

.navbar-brand a:hover {
  text-decoration: none;
  color: $white;
}

.navbar-brand a:visited {
  text-decoration: none;
  color: $white;
}

.navbar .container,
.navbar .container-fluid {
  justify-content: end !important;
}

.top-nav {
    font-size: 1.3rem!important;
	width: 100%;
}

.top-nav .nav-link:focus, .top-nav .nav-link:hover {
    background: $lighterblue;
    border-radius: .25rem;
}

a.dropdown-item {
    font-size: 1.1rem;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.show {
	text-decoration: none!important;
	float:none!important;
}


.border-bold {
  border-width: 2px;
}

.list-group-item.list-group-item-action.guide.active {
  background: $darkblue;
  border-color: $darkblue;
  color: $white;
}

.list-group-item.list-group-item-action ul li a {
  text-decoration: none;
}

a.list-group-item.list-group-item-action.guide {
  color: $darkblue;
}

a.list-group-item.list-group-item-action {
	border-bottom: solid 1px;
}

.alphabar a {
  color: $white;
}

.alphabar a:hover {
  color: $white;
}

.alphabar a:visited {
  color: $white;
}

.skippy {
  display: block;
  padding: 1em;
  color: $white!important;
  text-align: center;
  background-color: $darkblue;
}
.skippy-text {
  padding: 0.5em;
  border: 1px dotted;
}

.skippy {
  display: block;
  padding: 1em;
  color: $white !important;
  text-align: center;
  background-color: $darkblue;
}
.skippy-text {
  padding: 0.5em;
  border: 1px dotted;
}

.sr-only-focusable:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-sm {
  font-size: 0.9rem !important;
}

.guide ul.list-unstyled li {
  padding-bottom: 1rem;
  text-indent: -25px;
  padding-left: 27px;
}

a.list-group-item.list-group-item-action {
  text-indent: -25px;
  padding-left: 35px;
  padding-right: 0;
}

.jumbotron img {
  max-width: 130px;
}


.jumbotron a:focus {
  outline: 2px solid $white;
}

a .wrimagecard-topimage_header h3 {
  text-decoration: underline;
  color: $darkblue;
  font-size: 1.5rem;
}

a:hover .wrimagecard-topimage_header h3 {
  text-decoration: none;
  font-size: 1.5rem;
}

.bg-light {
  background-color: #f1f1f1;
}

.bg-highlight {
  background-color: #e2eafd;
}

.bg-light-yellow {
  background-color: #fff2d4;
  box-shadow: 5px 5px 5px 5px #fff2d4;
  border-radius: 3px;
}

.bg-light-blue {
  background-color: #dae5ff;
  box-shadow: 5px 5px 5px 5px #dae5ff;
  border-radius: 3px;
}



.bg-secondary-covid {
    background-color: $lightestblue;
}

.bg-secondary-covid-darker {
    background-color: $lighterblue;
}


a,
a,
a:hover,
a:visited {
  color: $darkblue;
}

.wrimagecard p {
  color: $black;
}

.list-group-flush .list-group-item {
  text-indent: -24px;
  padding-left: 27px;
}

li.list-group-item.alpha-footer {
    padding-right: 1rem;
    padding-left: 0;
	text-indent: inherit;
}

.footer a,
.footer a:hover,
.footer a:visited {
  color: $black;
}

.alpha-footer .container .list-group {
  margin-left: 0;
}

p a:focus {
  outline: 2px solid $yellow;
}

ul a:focus {
  outline: 2px solid $yellow;
}

ol a:focus {
  outline: 2px solid $yellow;
}

a:focus {
  outline: 2px solid $yellow;
}

.footer a:focus {
  outline: 2px solid $yellow;
}

.navbar a:focus {
  outline: 2px solid $white;
}

.navbar a.nav-link:focus {
    outline: 2px solid $yellow;
}

a.nav-link.mr-0.pr-0:focus {
    outline: 2px solid $white;
}

.alphabar a:focus {
  outline: 2px solid $white;
}

.bg-primary a:focus {
  outline: 2px dashed $white;
  text-decoration: underline;
}

a .card-title {
  color: $darkblue;
}

.action-link {
  color: $darkblue;
  border-radius: 50px;
  padding: .5rem 1.5rem;
}

.card-header-multi {
  justify-content: space-between;
  display: flex;
  padding-right: 2%;
}

.card-text a:hover {
  background-image: none;
}

.action-link.mr-30 {
  margin-right: 30px;
}

input:focus {
  outline: 2px solid $yellow;
}

button:focus {
  outline: 2px solid $yellow;
}

#mobile-icon {
  text-align: center;
  vertical-align: sub;
  font-size: 2rem;
  color: $darkblue;
}

.accordion-title {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.aside {
  padding-top: 0 !important;
}

.form-inline.form-inline-left label {
  justify-content: left;
}

.info-left {
  border-left: 4px solid $blue;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}


a.list-group-item.list-group-item-action {
    font-size: 1.15rem;
}
	
.aside { 
	 padding-bottom: 0!important;
 }
	
.wrimagecard-topimage_header {
    min-height: 14.5rem;
}

 .accordion-title {
	 padding-left: 0!important;
	}
	
.nav-item {
padding-right: .5rem;
  margin-right: .2rem; /* temporarily shrunk to accommodate globe translate button */
}

.alphabar-link {
	padding-right: .7rem;
	margin-right: .5rem;
	font-size: 1rem;
	line-height: 2rem;
}

a.card {
    text-decoration: none!important;
}

a:visited.card {
    text-decoration: none!important;
}

.text-larger {
	font-size: 1.4rem!important;
}
 .top-nav li.nav-item a {
    text-decoration: none;
} 

.navbar-light .navbar-toggler {
    color: rgb(0, 61, 157);
    border-color: rgb(0, 61, 157);
    padding: .1rem .75rem;
	border: 2px;
}

.navbar-light .navbar-nav .nav-link {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: transparent;
border: none;
}

.align-super {
	vertical-align: super!important;
}



/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .jumbotron h1 {
    font-size: 2rem;
  }

  body {
    font-size: 1rem;
  }

  .navbar-nav {
    display: block;
  }
  .navbar {
	  padding-left: 0;
   }

  .navbar-nav.mobile {
    display: contents;
  }
  .navbar-nav .dropdown-menu {
    position: relative;
  }

  .bd-navbar .navbar-nav {
    padding-top: 0.5rem;
  }

  .jumbotron img {
    display: none;
  }

  .wrimagecard-topimage_header.text-center {
        min-height: auto!important;
  }

  .sticky-wrapper {
    height: fit-content;
    margin: auto;
    display: block;
    padding-left: 1.5rem;
    padding: 0;
    margin-top: -10px;
  }

  .d-sm-block {
    display: inline !important;
  }
	

  cagov-accordion .card .card-container .card-body  {
    padding: 0 !important;
  }

  #body-nav {
    padding: 0 !important;
  }

  cagov-accordion .card .card-container .card-body .list-group  {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 0 !important;
  }

  cagov-accordion a.list-group-item.list-group-item-action.guide:last-child  {
    border-radius: 0 !important;
  }

  .aside {
    padding-bottom: 0 !important;
  }

  cagov-accordion a.list-group-item.list-group-item-action.guide:last-child  {
    border-radius: 0 !important;
  }
	
  #side-nav {
    margin-left: 0 !important;
    width: 100%;
  }

  #nav-card {
    border-radius: 0 !important;
  }
	
  .card-body {
	padding: .75rem 1.25rem;
  }
	
   #body-nav {
    padding: 0!important;
  }
	
  .text-center-mobile {
	text-align: center!important;
}
	
  .navbar-brand {
    padding-top: 3%;
	padding-bottom: 0;
}
	
  .alphabar {
    position: relative;
}
	
}


@media (min-width: 768px) {

  .no-webp .jumbo-img {
    background-image: linear-gradient(to bottom, $darkblue 0%, rgba($darkblue, 0) 20%),url('/img/hero.jpg');
  }
  .jumbo-img.county-img {
    background-image: url('/img/CaliforniaCounties.webp');
    background-size: cover;
    background-color: $darkblue;
  }
  .no-webp .jumbo-img.county-img {
    background-image: url('/img/CaliforniaCounties.jpg');
  }
	
  .top-nav .nav-item {
    font-size: 1.2rem;
}
	
  .navbar-expand-md .navbar-nav {
    flex-wrap: wrap;
}
	
}

@media (min-width: 768px) and (max-width: 992px) {
	
		
 .top-nav .nav-item {
    font-size: 1.1rem;
  }
	
#dropdown-4 {
    left: -30%;
}
	
	
}


@media (max-width: 992px) {

 .navbar-nav.mobile {
    margin-left: 0!important;
  }
	
}



@media only screen and (min-width: 992px) {
  .aside {
    position: sticky;
    z-index: 2;
    height: fit-content;
    top: 2rem;
  }
}

@media (min-width: 1200px) {
	.h4, h4 {
    font-size: 1.3rem;
}
	.h3, h3 {
    font-size: 1.5rem;
}
}

/* Create some space on the bottom before is this page usefull section */

.jumbotron + .container {
  padding-top:1.5rem;
  padding-bottom:2.5rem;
}

.jumbotron.jumbo-img .container {
  @include phone {
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
  }

  @include tablet {
    padding-top:2rem;
    padding-bottom: 1.5rem;
  }
}

/* Center h1, h2 on reg. pages */
.jumbotron.jumbo-img {
  text-align: center;
}

.col-lg-10.mx-auto h2 {
  color: $darkblue;
  text-align: center;
}

