.navbar-brand {
  background-size: 30%;
  padding-left: 40px;
  font-family: "Public Sans", sans-serif;
}

.navbar-inverse,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  background: #003d9d;
}


.jumbotron {
	background-color: #003d9d;
	color: white;
}

h1 {
	color: #003d9d;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron p, .jumbotron .lead  {
	color: #fff;
}



a.btn {
  background: #003d9d;
}

.btn-primary {
  color: #fff;
  background-color: #003d9d;
  background: #003d9d;
  border-color: #003d9d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0257d5;
  border-color: #0257d5;
}

a.btn:hover {
  color: #fff;
  background-color: #0257d5;
  border-color: #0257d5;
}

.bd-navbar .navbar-nav .nav-link {
  font-size: 1.2rem;
  padding-right: 0.7rem;
  color: #fff;
}

.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover,
.bd-navbar .navbar-nav .nav-link:focus {
  color: #fff;
  text-decoration: underline !important;
}

.bold {
  font-family: "Public Sans Bold", sans-serif;
}

.unbold {
  font-family: "Public Sans", sans-serif;
}

a.list-group-item.list-group-item-action {
  border-radius: 0.25rem;
}

a.list-group-item.list-group-item-action {
  border-radius: 0;
}

a.list-group-item.list-group-item-action {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

a.list-group-item {
  padding: 15px;
}

h2 {
  padding-bottom: 10px;
  /* border-left: 3px #003d9d solid; 
    border-bottom: 3px #003d9d solid;
    width: fit-content;
    padding: .5rem .5rem .5rem 0rem;*/
}

ol,
ul,
dl {
  line-height: 2rem;
}

h2,
h3,
h4 {
  padding-top: 0.7rem;
}

.small-text {
	font-size: .95rem;
}

.alphabar {
  background-color: #003d9d;
  background: #003d9d;
}

.text-primary {
  color: #003d9d !important;
}

.text-white a {
    color: white!important;
}

.text-primary a {
    color: #003d9d!important;
}

.text-white a.action-link {
    color: #003d9d!important;
}

.wrimagecard.wrimagecard-topimage a:focus {
  outline: 2px solid #0257d5;
}

.wrimagecard-topimage_header,
.wrimagecard-topimage_title {
  min-height: 15rem;
}

a.list-group-item.list-group-item-action {
  color: #003d9d;
}

.mobile-menu {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
}

.navbar img {
  max-width: 70px;
}

.translate {
  margin-top: 0.3rem;
}

.navbar-brand a {
  text-decoration: none;
  color: white;
}

.navbar-brand a:hover {
  text-decoration: none;
  color: white;
}

.navbar-brand a:visited {
  text-decoration: none;
  color: white;
}

.navbar .container,
.navbar .container-fluid {
  justify-content: end !important;
}

.top-nav {
    font-size: 1.3rem;
}

.top-nav .nav-link:focus, .top-nav .nav-link:hover {
    text-decoration: none;
    background: #d5e6ff;
}




.border-bold {
  border-width: 2px;
}

.list-group-item.list-group-item-action.guide.active {
  background: #003d9d;
  border-color: #003d9d;
  color: #fff;
}

.list-group-item.list-group-item-action ul li a {
  text-decoration: none;
}

a.list-group-item.list-group-item-action.guide {
  color: #003d9d;
}

a.list-group-item.list-group-item-action {
	border-bottom: solid 1px;
}

.alphabar a {
  color: #fff;
}

.alphabar a:hover {
  color: #fff;
}

.alphabar a:visited {
  color: #fff;
}

.skippy {
  display: block;
  padding: 1em;
  color: #fff !important;
  text-align: center;
  background-color: #003d9d;
}
.skippy-text {
  padding: 0.5em;
  border: 1px dotted;
}

.skippy {
  display: block;
  padding: 1em;
  color: #fff !important;
  text-align: center;
  background-color: #003d9d;
}
.skippy-text {
  padding: 0.5em;
  border: 1px dotted;
}

.sr-only-focusable:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-sm {
  font-size: 0.9rem !important;
}

.guide ul.list-unstyled li {
  padding-bottom: 1rem;
  text-indent: -25px;
  padding-left: 27px;
}

a.list-group-item.list-group-item-action {
  text-indent: -25px;
  padding-left: 35px;
  padding-right: 0;
}

.jumbotron img {
  max-width: 130px;
}


.jumbotron a:focus {
  outline: 2px solid #fff;
}

a .wrimagecard-topimage_header h3 {
  text-decoration: underline;
  color: #003d9d;
  font-size: 1.5rem;
}

a:hover .wrimagecard-topimage_header h3 {
  text-decoration: none;
  font-size: 1.5rem;
}

.bg-light {
  background-color: #f1f1f1;
}

.bg-highlight {
  background-color: #f9f6ef;
}

.bg-primary {
  background-color: #003d9d;
  background: #003d9d;
}

.bg-secondary-covid {
    background-color: #f2f5fc;
}

.bg-secondary-covid-darker {
    background-color: #dae0ef;
}


a,
a,
a:hover,
a:visited {
  color: #003d9d;
}

.wrimagecard p {
  color: #000;
}

.list-group-flush .list-group-item {
  text-indent: -24px;
  padding-left: 27px;
}

li.list-group-item.alpha-footer {
    padding-right: 1rem;
    padding-left: 0;
	text-indent: inherit;
}

.footer a,
.footer a:hover,
.footer a:visited {
  color: #000;
  background-image: linear-gradient(to right, #003d9d 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 2px 1px;
  background-position: center bottom 5%;
  background-origin: padding-box;
  text-decoration: none !important;
}

.alpha-footer .container .list-group {
  margin-left: 0;
}

p a:focus {
  outline: 2px solid #0257d5;
}

ul a:focus {
  outline: 2px solid #0257d5;
}

ol a:focus {
  outline: 2px solid #0257d5;
}

a:focus {
  outline: 2px solid #0257d5;
}

.footer a:focus {
  outline: 2px solid #0257d5;
}

.navbar a:focus {
  outline: 2px solid #fff;
}

.alphabar a:focus {
  outline: 2px solid #fff;
}

.bg-primary a:focus {
  outline: 2px dashed #ffffff;
  text-decoration: underline;
}

a .card-title {
  color: #003d9d;
}

.action-link {
  color: #003d9d;
  border-bottom: 2px solid #003d9d;
  border-radius: 0.25rem;
}

.card-header-multi {
  justify-content: space-between;
  display: flex;
  padding-right: 2%;
}

.card-text a,
a:visited {
  background-image: linear-gradient(to right, #003d9d 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 2px 1px;
  background-position: center bottom 5%;
  background-origin: padding-box;
  text-decoration: none !important;
}

.card-text a:hover {
  background-image: none;
}

.action-link.mr-30 {
  margin-right: 30px;
}

input:focus {
  outline: 2px solid #0257d5;
}

button:focus {
  outline: 2px solid #0257d5;
}

#mobile-icon {
  text-align: center;
  vertical-align: sub;
  font-size: 2rem;
  color: #003d9d;
}

.accordion-title {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.aside {
  padding-top: 0 !important;
}

.form-inline.form-inline-left label {
  justify-content: left;
}

.info-left {
  border-left: 4px solid #0166ab;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}


a.list-group-item.list-group-item-action {
    font-size: 1.15rem;
}
	
.aside { 
	 padding-bottom: 0!important;
 }
	
.wrimagecard-topimage_header {
    min-height: 14.5rem;
}

 .accordion-title {
	 padding-left: 0!important;
	}

	
  .nav-item {
    padding-right: .5rem;
	  margin-right: .2rem; /* temporarily shrunk to accommodate globe translate button */
	}
	.alphabar-link {
		padding-right: .7rem;
		margin-right: .5rem;
		font-size: 1rem;
	}

a.card {
    text-decoration: none!important;
}

a:visited.card {
    text-decoration: none!important;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .jumbotron h1 {
    font-size: 2rem;
  }

  body {
    font-size: 1rem;
  }

  .navbar-nav {
    display: block;
  }

  .navbar-nav.mobile {
    display: contents;
  }

  .bd-navbar .navbar-nav {
    padding-top: 0.5rem;
  }

  .jumbotron img {
    display: none;
  }

  .wrimagecard-topimage_header.text-center {
        min-height: auto!important;
  }

  .sticky-wrapper {
    height: fit-content;
    margin: auto;
    display: block;
    padding-left: 1.5rem;
    padding: 0;
    margin-top: -10px;
  }

  .d-sm-block {
    display: inline !important;
  }
	

  cwds-accordion .card .card-container .card-body  {
    padding: 0 !important;
  }

  #body-nav {
    padding: 0 !important;
  }

  cwds-accordion .card .card-container .card-body .list-group  {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 0 !important;
  }

  cwds-accordion a.list-group-item.list-group-item-action.guide:last-child  {
    border-radius: 0 !important;
  }

  .aside {
    padding-bottom: 0 !important;
  }

  cwds-accordion a.list-group-item.list-group-item-action.guide:last-child  {
    border-radius: 0 !important;
  }
	
  #side-nav {
    margin-left: 0 !important;
    width: 100%;
  }

  #nav-card {
    border-radius: 0 !important;
  }
	
  .card-body {
	padding: .75rem 1.25rem;
  }
	
   #body-nav {
    padding: 0!important;
  }
	
  .text-center-mobile {
	text-align: center!important;
}
	
}

//-----------end of Small breakpoint


@media (min-width: 768px) {
  .jumbo-img {
    background-image: url('/img/StateCapitol_Blue.webp');
    background-size: cover;
    background-color: #003d9d;
  }
  .no-webp .jumbo-img {
    background-image: url('/img/StateCapitol_Blue.jpg');
  }
  .jumbo-img.county-img {
    background-image: url('/img/CaliforniaCounties.webp');
    background-size: cover;
    background-color: #003d9d;
  }
  .no-webp .jumbo-img.county-img {
    background-image: url('/img/CaliforniaCounties.jpg');
  }
}


@media (max-width: 992px) {

 .navbar-nav.mobile {
    margin-left: 0!important;
  }
}



@media only screen and (min-width: 992px) {
  .aside {
    position: sticky;
    z-index: 2;
    height: fit-content;
    top: 2rem;
  }
}

@media (min-width: 1200px) {
	.h4, h4 {
    font-size: 1.3rem;
}
	
	.h3, h3 {
    font-size: 1.5rem;
}
}

