/* added pos-rel to general */
.autocomplete-inline {
  input.form-control-lg {
    min-width: 400px;
  }
  
}
.toggle-group-container {
  width: 1000px;
  height: 600px;
  position: relative;
  .toggle-group-element {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
  }
  #age-graph, #gender-graph, #ethnicity-graph {
    display: none;
  }
  &.cases-group {
    height: 600px;
  }
}
.tableauPlaceholder {
  margin-bottom: 30px;
}
@media (max-width: 900px) { 
  .toggle-group-container {
    width: 100%;
  }
  .autocomplete-inline {
    input.form-control-lg {
      min-width: auto;
      width: 100%;
    }
  }
  .form-inline {
    justify-content: space-around;
  }
}

.error-text {
  font-weight: bold;
  margin-top: -30px;
  color: #c00;
}