cagov-chart-d3-bar {
  display: block;
  margin: auto;
  width: 90%;

  .label,
  .bold {
    font-weight: bold;
  }
  .label {
    font-weight: normal;
  }
  .chart-tooltip {
    padding: 10px;
    box-shadow: -12px 11px 5px -4px rgba(0, 0, 0, 0.4);
    border: solid 1px #ccc;
  }
  .highlight-data {
    font-weight: bold;
  }
  .tick text {
    font-size: 1rem;
  }
  .svg-holder {
    position: relative;
    max-width: 720px;
    margin: 30px auto;
  }
  .grid-layout-hd.toggle-links {
    max-width: none;
  }

  .inline-toggle-link-container {
    text-align: center;
  }
  .toggle-links a {
    display: inline-block;
    margin: 0 1px 0 0;
    min-width: 220px;
  }
  .toggle-links a:last-child {
    margin: 0;
  }
  .chart-title {
    margin: 50px auto 20px;
    max-width: 720px;
    border-bottom: solid 1px;
  }
  .bar-overlay {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background: #fff;
    width: 250px;
  }
  @media (max-width: 900px) {
    .toggle-links a {
      width:100%;
    }
  }
}

cagov-chart-d3-lines {
  .tick { font-size: .2rem; }
  svg text { font-size: .2rem; }
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}