footer-section {

	.footer-section {
		background: $darkblue;
		@extend %block-padding;
		color: $white;
		text-align: center;
		&-grid {
			display: flex;
			flex-wrap: wrap;
			@extend %wrap;
			@include tablet {
				flex-wrap: nowrap;
			}
		}
		&-col {
			text-align: center;
			margin: 0 auto;
			width: 100%;
			@include tablet {
				width: 33.33%;
			}
			&-nav {
				order: 2;
				@include tablet {
					order: 0;
				}
			}
			&-logo {
				order: 1;
				margin-bottom: 2rem;
				@include tablet {
					order: 0;
					margin-bottom: 0;
				}
			}
			&-hotline {
				order: 3;
				margin: 1rem auto;
				@include tablet {
					order: 0;
					margin: 0 auto;
				}
			}
		}
		&-nav {
			text-align: center;
			margin-bottom: 1rem;
			@include tablet {
				text-align: left;
				margin-bottom: 0;
			}
			&-link {
				display: table;
				@extend %headline6;
				color: $lightblue;
				padding: .5rem;
				margin: 0 auto;
				transition: color .3s $slow-curve;
				border-radius: 1.5rem;
				@include tablet {
					margin-left: 0;
				}
				&:hover {
					color: $orange;
				}
				&:focus {
					color: $orange;
					box-shadow: 0 0 0 2px $yellow;
				}
			}
		}
		&-hotline {
			@include tablet {
				text-align: right;
			}
			&-label {
				@extend %headline4;
			}
			&-number {
				@extend %headline2;
				color: $lightblue;
				padding: .35rem 0;
				border-radius: 2.5rem;
				display: inline-block;
				transition: all .3s $slow-curve;

				&:hover {
					color: $orange;
				}
				&:focus {
					padding: .35rem .5rem;
					box-shadow: 0 0 0 2px $yellow;
				}
			}
			&-hours {
				font-weight: 300;
				margin-top: 1rem;
				@include tablet {
					margin-top: .5rem;
				}
			}
		}
		&-logo {
			max-width: 9rem;
			display: block;
			margin: 0 auto;
			padding: 1rem;
			@include tablet {
				max-width: 12rem;
			}
			&:hover {
				.logo-mark {
					&-orange {
						fill: $white;
					}
					&-white {
						fill: $orange;
					}
				}
			}
			&:focus {
				box-shadow: 0 0 0 2px $yellow;
				.logo-mark {
					&-orange {
						fill: $white;
					}
					&-white {
						fill: $orange;
					}
				}
			}
		}
		.social {
			margin: 1.5rem auto;
			@include tablet {
				margin: 1rem 0 1rem 0;
			}
			@include desktop {
				margin: -1.5rem 0 1.5rem 0;
			}
		}
		&-utility {
			margin-top: 1rem;
			font-weight: 300;
			@include tablet {
				margin-top: 2rem;
			}
			&-nav {
				line-height: 1.2;
				&-link {
					display: inline-block;
					color: $lightblue;
					transition: color .3s $slow-curve;
					margin: .25rem;
					padding: .25rem .4rem;
					font-size: .85rem;
					line-height: 1;
					border-radius: 1.5rem;
					white-space: nowrap;

					@include tablet {
						margin: .25rem;
						font-size: 1rem;
					}
					&:hover {
						color: $orange;
					}
					&:focus {
						color: $orange;
						box-shadow: 0 0 0 1px $yellow;
					}
				}
			}
			&-official {
				margin-top: 1.5rem;
				display: block;
				font-size: .85rem;
				@include tablet {
					margin-top: 1rem;
					font-size: 1rem;
				}
			}
		}
		.ca-gov {
			width: 75px;
			margin-top: 1.25rem;
			.logo-cagov {
				svg {
					.st0 {
						transition: fill 0.5s $slow-curve;
						transition: stroke 0.5s $slow-curve;
						stroke: #ff8002;
						fill: #ff8002;
					}
					.st1 {
						transition: fill 0.5s $slow-curve;
						transition: stroke 0.5s $slow-curve;
						stroke: #fff;
						fill: #fff;
					}	
				}
				&:hover {
					svg {
						.st0 {
							stroke: #fff;
							fill: #fff;
						}
						.st1 {
							stroke: #ff8002;
							fill: #ff8002;
						}	
					}
				}
			}
			
		}
		


		.logo-flanked {
			display: flex; 
			justify-content: space-between; 
			margin-top: 0;
			padding-top: 2rem;
			flex-flow: column;
			
			
		}
	}

}
