body {
    color: #000;
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;

}


html {
	scroll-behavior: smooth;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #000;
    font-family: "Public Sans Bold", sans-serif;
}
h1 {
    padding-bottom: .25rem;
}

h2 {
    padding-top: .25rem;
    padding-bottom: .5rem;
}

h3 {
    padding-bottom: 1rem;
    padding-top: .75rem;
}

/* General */

img {
    max-width: 100%;
    height: auto;
}

sup {
    font-size: normal !important;
    font-family: "Public Sans Thin", sans-serif;
}

hr {
    border-top: 1px solid #f1f1f1;
    margin: 3rem 0;
}

/* Unordered lists */

ul {
    margin-bottom: 1.5rem;
}

ul.list-unstyled li {
    padding-bottom: 1rem;
}

p,
li,
.list-group-item {
    font-size: auto !important;
}

/* Colors */

.bg-primary {
	background-color: #003d9d !important;
	background: #003d9d !important;
}

/* Pagination */

.pagination {
    font-size: 1rem;
}

.pagination a,
a.back-to-top,
.list-group-flush a {
    color: #004abc;
}

.pagination a {
    text-decoration: none;
}

/* Links */

/* General links */

a,
a:visited,
a:hover,
.pagination a,
a.back-to-top,
.list-group-flush a {
    color: #004abc;
}

a,
a:visited {
    text-decoration: underline;
}

a:hover,
.pagination a {
    text-decoration: none;
}

:focus {
    outline: 2px solid #004abc;
}

/* Action Link */

.action-link {
    color: #004abc;
    background: #F5F9FF;
    display: inline-block;
    padding: .5rem .5rem;
    //padding-left: 1.75rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 2px solid #004abc;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.action-link,
a.action-link::after {
    //background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5IDEyIiB3aWR0aD0iOXB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlLz48ZGVzYy8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMwMDAwMDAiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjYwLjAwMDAwMCwgLTkwLjAwMDAwMCkiPjxnIGlkPSJjaGV2cm9uLXJpZ2h0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjAuNTAwMDAwLCA5MC4wMDAwMDApIj48cGF0aCBkPSJNMSwwIEwtMC40LDEuNCBMNC4yLDYgTC0wLjQsMTAuNiBMMSwxMiBMNyw2IEwxLDAgWiIgaWQ9IlNoYXBlIi8+PC9nPjwvZz48L2c+PC9zdmc+");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position-x: .4rem;
    background-position-y: center;
}

a.action-link:hover {
    border-color: #000;
    color: #000;
    background-color: #d5e6ff;
}

/* Tables */

th {
    font-family: "Public Sans Bold", sans-serif;
}

.table {
    color: #000000;
    margin-bottom: 2rem;
}

.table .thead-dark th {
    background: #000000;
    color: #ffffff;
}

.table .thead-light th {
    background: #f1f1f1;
    color: #000000;
}

.table thead th {
    background: #f1f1f1;
}

.card .table thead th {
    background: transparent;
}

/* Text */

strong,
.bold {
    font-family: "Public Sans Bold", sans-serif;
}

.text-secondary {
    color: #4F4F4F !important;
}

.text-black {color:#000 !important;}

/* List group */


a.list-group-item {
    padding: 20px;
}

a.list-group-item-action {
    color: #000000;
    text-decoration: none;
}


.list-group-item-action {
    color: #000;
}

a.list-group-item.list-group-item-action {
    color: #004abc;
	border-bottom: solid;
	border-top: 1px solid rgba(0,0,0,0.125);
	border-radius: .25rem;
	border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
	margin: 9px;
	font-size: 1.25rem;
}

a.list-group-item.list-group-item-action.guide {
    color: #000;
	margin: 0;
	border-radius: 0;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-top-width: 0;
}

.list-group-item.list-group-item-action.guide.active {
    background: linear-gradient(60deg, #0f1e6b 0%, #1f0f6b 70%);
    border-color: #0f1e6b;
    color: white;
}

a.list-group-item.list-group-item-action.guide:first-child {
    border-top: 1px solid rgba(0,0,0,0.125);
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

a.list-group-item.list-group-item-action.guide:last-child {
	border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}


.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-number-inverse {
    border-style: solid;
    border-radius: 50%;
    border-color: #000;
    color: #000;
    background: #fff;
    line-height: inherit;
    border-width: 3px;
}

.list-group-item {
    border-color: #cccccc;
    //cursor: pointer;
}

.list-group-header {
    border-bottom: 0;
    font-family: "Public Sans Bold", sans-serif;
    padding-left: 33px;
}

.list-group-item-action:hover, .list-group-item-action:hover, .list-group-item-action:focus {

    z-index: 1;
    color: #000;
    text-decoration: none;
    background-color: #f8f9fa;
}

	
.list-group-flush.list-group-item {
    font-family: "Public Sans Bold", sans-serif;
}

.list-group.home {
    margin-left: -.5rem;
}

.list-group-item ul.subnav li {
    line-height: 1.4rem; 
    margin-top: 0.4rem;
} 
.list-unstyled{
	margin-bottom: .5rem;
}

/* Navbar */

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:visited,
a.navbar-brand,
a.navbar-brand:visited {
    text-decoration: none !important;
}

.nav-item {
    font-size: 1.1rem;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Public Sans Bold', sans-serif;
    // padding-left: 35px;
    padding-left: 0px !important;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-size: 15%;
   // background-image: url('https://www.alpha.ca.gov/img/ca-light.png');
}

.navbar-inverse,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background: #0f1e6b;
    background: linear-gradient(60deg, #0f1e6b 0%, #1f0f6b 70%);
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: #ffffff;
}

.navbar-header a,
.navbar-header a:visited,
.navbar-header a:hover {
    color: #ffffff;
    text-decoration: none;
}

.navbar img {
    width: 100%;
    height: auto;
    max-width: 90px;
    max-height: 60px;
    margin-top:0;
}

.nav-cali-bg {
    padding-left: 35px;
    background-image: url('https://www.alpha.ca.gov/img/ca-light.png');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-size: 10%;
}

/* Alerts */

.alert {
	
	border: 0;
}

.alert-primary {
    color: #ffffff;
    background-color: #0f1e6b;
    border: 0;
	
}

.alert-warning {
    color: #000;
    background-color: #fffbf0;
    border: 0;
    border-left: 4px solid #ffc107;
    border-radius: 0;
    font-family: "Public Sans Bold", sans-serif;
}

.alert-info,
.alert-primary {
    background: #f1f1f1;
    border-color: #cccccc;
    margin-bottom: 20px;
    color: #000;
}
.alert-secondary h2 {
    margin-top: 0;
    padding-top: 0;
}
.alert-secondary {
    color: #000000;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}
.alert-primary .h2 {
  color: #000;
  font-family: "Public Sans Bold", sans-serif;
}
.alert-left {
  border-left: 4px solid #ffc107;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}


.bd-callout-warning {
    border-left-color: #ffc107;
    border-radius: 0;
}

/* Card */

.card-header {
    //padding: .25rem;
    margin-bottom: 0;
    background-color: #f1f1f1;
    padding-right: 12%;
    border: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f1f1f1;
    border-radius: .25rem;
}

.card-body {
    font-size: 18px;
    padding: .75rem 1.25rem;
}

.card .btn-link {
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    color: #000;
    background-color: transparent;
}

.card p {
    font-size: 18px;
}

.wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.wrimagecard .fa {
    position: relative;
    font-size: 70px;
}

.wrimagecard-topimage_header {
    background: #f1f1f1;
    padding: 20px;
	padding-top: 10%;
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

/* Jumbotron */

.jumbotron {
    background: #f1f1f1;
    border-bottom: 0;
    margin-bottom: 2%;
    padding-bottom: 1.2%;
    padding-top: 2%;
}

.jumbotron h1 {
    font-size: 2.3rem;
}

.jumbotron,
.jumbotron h1,
.jumbotron .lead {
    color: #fff;
}

.jumbotron.alpha {
    background: #0f1e6b;
    background: linear-gradient(60deg, #0f1e6b 0%, #1f0f6b 70%);
    color: #fff;
}

.jumbotron img {
    width: 100%;
    height: auto;
    max-width: 75px;
    padding: 10px 0;
}

/* 
.jumbotron-reverse,
.jumbotron-reverse h1 {
    color: #000;
}

.jumbotron-reverse {
    background: #fff;
}
*/

/* Alphabar */

.alphabar {
    border-top: 1px solid #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0f1e6b;
    background: linear-gradient(60deg, #0f1e6b 0%, #1f0f6b 70%);
    z-index: 10;
}

.alphabar p {
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* Official */

.official {
    background: #f1f1f1;
    padding: 3px 0;
}

.official a,
.official a:visited,
.official a:hover {
    color: #000;
}

.official p {
    background-image: url('https://www.alpha.ca.gov/img/ca-flag.png');
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-size: contain;
    margin: 0;
    padding: 0 0 0 65px;
}

.official img {
    margin-right: 10px;
    max-width: 40px;
}

.official-footer {
    background-color: #fff;
    padding: 15px 0 55px 0;
}

/* Footer */

.footer {
    border-top: 1px solid #f1f1f1;
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 50px;
    padding-bottom: 40px;
    padding-top: 50px;
}

.footer a,
.footer a:visited,
.footer a:hover,
.footer {
    color: #000;
}

/* Feedback */

.feedback {
    margin-top: 3rem;
}

/* Breadcrumb */

.breadcrumb {
    background-color: transparent;
    margin-top: -.5%;
    padding: 0;
}

/* Forms */

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0257d5;
    color: #000;
}
form {
    padding-bottom: 2rem;
}

form.form-inline input[type=text] {
    margin-right: .5rem;
}

.form-control {
    margin-right: .50rem;
}
label {
    margin-right: .50rem;
}
.btn {
  font-family: "Public Sans", sans-serif;
}
.btn-dark, .btn-dark:hover {
  color: #fff;
  background: #000;
}

label {
    padding-bottom: .75rem;
    margin-right: .50rem;
}

.btn {
    font-family: "Public Sans", sans-serif;
}

.btn-dark,
.btn-dark:hover {
    color: #fff;
    background: #000;
}

/* REVIEW BELOW */

.list-checkmark li {
    text-indent: -30px;
    padding-left: 60px;
}

/* Mods */

.official,
.footer,
.alphabar {
    font-size: 1rem;
}

/* bootstrap style utility classes */
.py-20 {
    padding: 20px 0;
}


/* fix bootstrap nav */
li.active ul.nav.bd-sidenav {
    display: block;
}




.alpha-footer {
    background: rgb(241, 241, 241);
    background: linear-gradient(180deg, rgba(241, 241, 241, 1) 30%, rgba(255, 255, 255, 1) 100%);
    border-top: 0;

}

.alpha-footer .container .list-group {
    padding-left: 0;
    margin-left: -.75rem;
    padding-bottom: .75rem;
}


ul .alpha-footer {
    background: transparent;
}

li.list-group-item.alpha-footer {
    border-bottom: 0;
    border-top: 0;
}

.list-group-item-action:focus {
    outline: 2px solid #0257d5;
    box-shadow: 0 0 0 0.2rem #fff;
}

li.list-group-item.alpha-footer {
    padding-left: .75rem;
}

/* fix bootstrap nav */
li.active ul.nav.bd-sidenav {
    display: block;
}

/*----- from State Holidays Page -----*/

.display-4,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: 'Public Sans Bold', sans-serif;
}

.display-5 {
    font-size: 1.5rem;
}

.display-6 {
    font-size: 1.2rem;
}

.display-6.alert {
    padding: .2rem 1.25rem;
}

/* --------- from Min Wage Page -------*/
.py-20 {
    padding: 20px 0;
}

/* minimum wage and water label override */
.wage-city-search, .check-water {
    label {
        justify-content: flex-start;
    }
}
label.city-input {
    justify-content: flex-start;
}

/* Food Banks Map Fix */
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background-color: #fff;
}

/* have to put this in there for the image to load */
.nerf {
    background-image: url('../img/marker.png');
}

.card {
    margin-bottom: 20px;
}

.card-set .card {
    min-width: 200px;
    float: left;
}

.card-set {
    grid-gap: 20px;
}


.byline {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

figure {
    margin-bottom: 10px;
}

figcaption {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}


li .list-group-item.inner-list:focus-within {
    outline: none;
}

li.list-group-item.unstyled.no-border {
    outline: none;
}

li .action-link:focus-within {
    outline: 2px solid #004abc;
}

.bg-light {
    padding: .75rem;
}
	
.d-none {
	display: none;
}

.aside {
	padding-bottom: 1rem;
	padding-top: 1rem;
	
}
.aside .step-title {
		
    border: solid #ccc 3px;
    padding: 0px 7px;
	font-family: "Public Sans Bold", sans-serif;
	font-size:1.5rem;
}
	
	
.more {
	margin-top: 3rem;
    border-top: 2px #ccc solid;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: "Public Sans Bold", sans-serif;

}

.awesomplete {
    display: contents;
    position: relative;
    margin-right: .5rem;
}

.wage-city-search label {
    display: block;
}

.form-control {	
    border: 1px solid #000000;
    border-radius: 0;
}


/*--------- Tool Tip ----------*/

.tooltip-container {
  position: relative;
  display: inline-block;
}

/* the bubble element, added inside the toggletip live region */

.tooltip-bubble {
  display: inline-block;
  position: absolute;
  left: 100%;
  top: 0;
  width: 10em;
  padding: 0.5rem;
  background: #000;
  color: #fff;
  z-index: 10;
  font-size: 1.2rem;
  font-family: "Public Sans", sans-serif;
}

.tooltip-button {
	background: none;
	border:0; 
	padding:0; 
	color: #004abc;
	text-decoration: underline;
	background: #fff;
}

/*--------- Check box list group ----------*/
	
.list-group-item-action.list-group-item.active {
    background-color: #0f1e6b;
    border-color: #000;
	color:white;
}
	
label {
    margin-bottom: auto;
    vertical-align: middle;
}
	
label.custom-control-label {
	text-indent: 0px;
	width: 100%;
	padding-left: 30px;
    text-indent: 0;
}

label.custom-control-label {
    padding-left: 35px;
    display: flex;
    margin-top: -1.72rem;
}

	
.list-group input[type="checkbox"] {
    	margin-right: -20px;
}

button#dropdown-menu-button {
    border: 1px solid #f1f1f1;
    background: #003d9d;
    color: white;
}
button#dropdown-menu-button:hover {
    background-color: #0257d5;
    border-color: #0257d5;
}

button#dropdown-menu-button:focus {
    outline: 2px solid #fff;
	background-color: #0257d5;
    border-color: #0257d5;
    box-shadow: none;
}

.bg-gradient {
	background: rgb(255,230,155);
	background: -webkit-linear-gradient(left, rgba(255,243,208,1) 0%, rgba(241,241,241,1) 66%);
	background: -o-linear-gradient(left, rgba(255,243,208,1) 0%, rgba(241,241,241,1) 66%);
	background: linear-gradient(to right, rgba(255,243,208,1) 0%, rgba(241,241,241,1) 66%);
}

.bg-gradient-primary {
	background: -webkit-linear-gradient(left, #b7d5ef 0%, #f1f1f1 77%);
	background: -o-linear-gradient(left, #b7d5ef 0%, #f1f1f1 77%);
	background: linear-gradient(to right, #b7d5ef 0%, #f1f1f1 77%);
}
	
.card-header {
    padding: .75rem .75rem;
}

.card-body {
    padding: .55rem .45rem;
    padding-left: .75rem;
}

.accordion-alpha-primary {
    background-image: url(/img/plus-white.svg);
    background-position: right 1.25rem center;
    background-size: 1rem;
    background-repeat: no-repeat;
}

.accordion-alpha-primary.bg-primary-accordion.accordion-alpha-open {
    background-image: url(/img/minus-white.svg);
    background-position: right 1.25rem center;
    background-size: 1rem;
    background-repeat: no-repeat;
}

.accordion-title {
	padding-right: 10%!important;
}

.bg-primary-accordion {
    background-color: #003d9d!important;
    color: #fff!important;
	border-radius: .25rem!important;
}

.bg-grey {
    background-color: #f1f1f1;
}




/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .official p {
        padding: 3px 0 3px 60px;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .alphabar {
        font-size: .7em;
    }

    .alpha-footer {
        padding-left: 20px;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .container-fluid.jumbotron {
        padding-left: 0;
    }

    .container-fluid.jumbotron.alpha {
        padding-left: 15px;
    }

    li.list-group-item.alpha-footer {
        padding-bottom: 1rem;
        padding-top: .5rem;
    }

    .one-column-fix {
        margin-top: -2px;
    }

    .card-body {
        padding: 5px;
    }

    .list-group {
        margin-left: -.6rem;
    }
	
	.form-control {
    	margin-bottom: 1rem;
	}
	
	.mobile-margin-top {
		margin-top: 1rem;
	}
	
	.mobile-padding-top {
		padding-top: 3rem;
	}
	.navbar-brand {
    display: contents;
    white-space: normal;
}

}
.mb-0 {margin-bottom: 0 !important;}
.mt-0 {margin-top: 0 !important;}