.headline {
  margin-bottom: 3rem;
  transition: all 0.5s cubic-bezier(0.57,0.2,0.21,0.89);
  color: #1f2574;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  text-align: center;
}
.headline:hover {
  color: #ff8000;
}



@media (min-width: 81.25em) {
section.padded {
    padding: 6rem 2rem;
  }
}
@media (min-width: 48em) {
  section.padded {
    padding: 4rem 2rem;
  }
}
section.padded {
  padding: 2.5rem 1.5rem;
}
@media (min-width: 81.25em) {
  section.padded {
    padding: 6rem 2rem;
  }
}
@media (min-width: 48em) {
  section.padded {
    padding: 4rem 2rem;
  }
}
section.padded {
  padding: 2.5rem 1.5rem;
  width: 100%;
}
@media (min-width: 48em) {
  .faq-people {
    display: flex;
    align-items: center;
  }
}
.faq-people {
  width: 100%;
  max-width: 81.25em;
  margin: 0 auto;
  position: relative;
}


@media (min-width: 48em) {
  .faq {
    width: 50%;
    padding: 0 2rem 0 0;
  }
}
.faq {
  text-align: left;
}
.faq-item-link {
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0.75rem;
	position: relative;
	transition: background 0.3s cubic-bezier(0.57, 0.2, 0.21, 0.89)
}

.faq-item-link:focus {
	background: #003d9d;
	box-shadow: 0 0 0 2px #ecca00
}

.faq-item-link:focus .faq-icon {
	color: #1f2574
}

.faq-item:hover .faq-item-link {
	background: #c7e1ef
}

.faq-item:hover .faq-icon {
	color: #1f2574
}

.faq-item:hover .faq-icon-circle {
	background: #fff;
	border-color: #1f2574;
	transform: scale(1.2)
}

.faq-item:hover .faq-icon-arrow {
	transform: translate(275%, -50%)
}

.faq-item:hover .faq-icon-arrow:last-of-type {
	transform: translate(-50%, -50%)
}