@import './bootstrap/all';
@import './awesomeplete';
@import './foodbanks';
@import './fonts';
@import './buttons';
@import './general';
@import './accordion';
@import './stepbystep';
@import './geocoder';
@import './contactus';
@import './water';

	
html{

	scroll-behavior:smooth;
	
}
.navbar-brand {
    background-size: 30%;
	padding-left: 40px;
}	
	
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #1172b3;
}	
	
.jumbotron, .jumbotron h1, .jumbotron .lead {
    color: #fff;
    background: #0066ab;
}
	
a.btn {
	background: #0066ab;
}
	
.bd-navbar .navbar-nav .nav-link {
    

    font-size: 1.2rem;
	padding-right: .7rem;
	color: #fff;
}
	
.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .bd-navbar .navbar-nav .nav-link:focus {
    color: #fff;
	text-decoration: underline !important;
	
}	
	
.bold {

	font-family: "Public Sans Bold", sans-serif;
}
	
a.list-group-item.list-group-item-action {
	border-radius: .25rem;
}

	
	
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	
.navbar-nav {
	display: block;
}
	
.navbar-nav.mobile {
	display: flex;
}
	
.bd-navbar .navbar-nav  {
	padding-top: .5rem;
}
	
}

h2 {
    padding-bottom: 10px;
    /* border-left: 3px #1172b3 solid; 
    border-bottom: 3px #1172b3 solid;
    width: fit-content;
    padding: .5rem .5rem .5rem 0rem;*/
}
	
	ol, ul, dl {
    line-height: 2rem;
}
	
	h2, h3, h4 {
		
		padding-top: .7rem;
	}
.alphabar {
    background-color: #0066ab;
    background: #0066ab;
}

@media only screen and (min-width: 992px){
 .aside{ 
       /*position: fixed;*/
 }
}

.inverse-hyperlink a, a:hover, a:visited {
    color: white;
}
        

