@import './bootstrap/all';
@import './fonts';
@import './awesomeplete';
@import './general';
@import './covid';
@import './cagov-font';
@import './stepbystep';

@import './video';

/* ^ this was some trilogy code which I grabbed and needs to be namespaced */
@import './trilogy/buttons';

/* cagov-navoverlay component */
@import './trilogy/namespaced/shell/hamburger';
@import './trilogy/namespaced/shell/expanded-menu';

/* ^ these should all move into namespaced versions so they can be used anywhere safely */
@import './accordion';
@import './buttons';
@import './header';
@import './project-kennedy';
/* ^ I think this can be slimmed down and removed as we rely more on the css directly */

@import './hero-stats';
@import './video-section';
@import './news';
@import './page-rating';
@import './footer';
@import './reopening';
@import './survey';
@import './dashboard';
@import './equitydash';
@import './charts';

/* Overrides for non-English languages. */
@import './multilingual';
@import './rtl';