cagov-menu-ribbon {
  .menu-ribbon--wrapper {
    background-color: white;
    display: none;

    @include tablet-wide {
      display: block;
    }
  }

  nav {
    margin: 0 auto;
    max-width: 81.25rem;
    position: relative;
    width: 100%;
    padding-left: -12px;
  }

  .menu-ribbon--primary {
    position: relative;
    height: 64px;
    padding: 12px;

    &:hover {
      .menu-ribbon--secondary {
        // @todo change to visually-hidden.
        display: block;
      }
    }
  }

  .menu-ribbon--secondary {
    background-color: white;
    // @todo change to visually-hidden.
    display: none;
    min-width: 308px;
    position: absolute;
    top: 60px;
    left: 0;
    vertical-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    z-index: 20;

    a {
      color: #1f2574;
      display: inline-block;
      padding: 12px;
      text-decoration: none;
      width: 100%;
    }
  }

  label {
    color: $darkblue;
    margin: 0;
    padding: 0;
  }

  .menu-ribbon--toggle {
    padding: 8px;
  }
}
