cagov-menu-ribbon {
  @mixin active-secondary-menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  @mixin active-svg {
    transform: rotate(180deg);
  }

  .menu-ribbon--wrapper {
    background-color: white;
    display: none;

    @include tablet-wide {
      display: block;
    }

    .interior-page & {
      background-color: transparent;
    }
  }

  // <nav>
  .menu-ribbon--nav {
    @include wrap;
    position: relative;
    width: 100%;
    padding-left: -12px;
  }

  .menu-ribbon--primary {
    position: relative;
    padding-right: 24px;

    &.js-open {
      .menu-ribbon--secondary {
        @include active-secondary-menu;
      }
      svg {
        @include active-svg;
      }
    }
  }

  // <button>
  .menu-ribbon--button {
    appearance: none;
    -webkit-appearance: value;
    -moz-appearance: value;
    appearance: value;
    background: none;
    border: 0;
    color: $darkblue;
    font-weight: 300;
    height: 64px;
    margin: 0;
    padding: 0 12px;

    &:focus {
      outline: 2px solid #ffcf44;
    }

    &:hover {
      text-decoration: underline;
    }

    .interior-page & {
      color: $white;
    }
  }

  // See also .header-language-arrow in _arrows.scss.
  svg {
    fill: $orange;
    width: 0.75rem;
    max-height: 1rem;
    margin-left: 0.25rem;
    transition: all 0.6s cubic-bezier(0.5, 1.65, 0.4, 0.8);
  }

  // <ul>
  .menu-ribbon--secondary {
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    display: none;
    left: 0;
    margin: 0;
    min-width: 308px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    transition: all 0.6s cubic-bezier(0.5, 1.65, 0.4, 0.8);
    visibility: hidden;
    z-index: 20;

    a {
      text-decoration: none; // Duplicated a declaration to override .interior-page.
    }
  }

  li {
    list-style: none;
  }

  a {
    color: #1f2574;
    display: inline-block;
    font-weight: 300;
    padding: 12px 16px;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }
}
