header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	box-shadow: 0px 0px 15px 0px rgba(0, 21, 97, 0.5);
}

main {
	display: block;
  padding-top: 164px
}



/*Footer Styles*/

.footer-ca-all-logo {
	padding:0 70px 0 70px;
  }
  
  
  .footer-logo {
	text-decoration:none !important;
	background:none !important;
	margin: 0 auto;
  
  }
  
  @media (min-width: 768px) and (max-width: 992px)  {
  .footer-ca-all-logo {
	padding:0 20px 0 20px;
  }
	 
   }
  
  
  @media (max-width: 767px) {
  .footer-ca-all-logo {
	padding:0 200px 0 200px;
  }
	.footer-logo {
	  display: block;
	  margin: 0 auto;
	}
	 
   }
   
  .logo-mark {
	width: 100%;
  }
  .logo-mark-white {
	fill: #fff;
	transition: fill 0.5s cubic-bezier(0.57,0.2,0.21,0.89);
  }
  .logo-mark-orange {
	fill: #ff8000;
	transition: fill 0.5s cubic-bezier(0.57,0.2,0.21,0.89);
  }
  
  .footer-logo:hover .logo-mark-white {
	fill: #ff8000;
  }
  .footer-logo:hover .logo-mark-orange {
	fill: #fff;
  }
  
  
  
  
  .footer-links {
	list-style:none !important;
	font-weight:700;
  }
  
  
  
  .btn-social {
   padding:13px 10px 8px 10px;
	border-radius:50px;
  }
  
  .btn-social span {
	font-size:1.5rem !important;
  }

	
/*Media Queries*/


@media (max-width: 768px) {

	main {
		padding-top: 237px
	}

	.hero-text {

		min-height: 20vh;
	}

	header {
		position: absolute;
	}

}

.dropdown-toggle::after {
	font-family: 'CaGov' !important;
	speak: none;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-size: larger;
	content: "\33";
	display: inline-block;
	margin-left: 0;
	vertical-align: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	-webkit-font-smoothing: antialiased;
}

