header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	box-shadow: 0px 0px 15px 0px rgba(0, 21, 97, 0.5);
}

main {
	display: block;
  padding-top: 164px
}

/* Header search and translate */

/* header Search form */
.header-search-field {
	background:transparent;
	width:250px;
	height:45px;
	padding-left:10px;
	padding-right:50px;
  cursor:pointer;
  border: none;  
  
  }
  
  .header-search-field:focus, .search-header-btn:focus {
	outline-color:#fff;
}
  
  .search-form {
	position:relative;
	transition-duration: .3s;
	  transition-property: all;
	  transition-timing-function: ease;
	  transition-delay: 0s;
	  padding-bottom:0;
  }
  

  
  
  .header-search-field::-ms-clear, .header-search-field::-ms-reveal, .header-search-field::-webkit-search-decoration { display: none; width : 0; height: 0; } 
  
  .header-search-field::-webkit-search-decoration,
  .header-search-field::-webkit-search-cancel-button,
  .header-search-field::-webkit-search-results-button,
  .header-search-field::-webkit-search-results-decoration { 
	display: none; 
  }
  
  .search-header-btn {
	position:absolute;
	right:5px;
	background-color:transparent;
	border:none;
   font-size:28px;
   top:4px;
   color: #fff;
  }
  
  .search-header-btn:hover {
	background:none !important;
	border:none !important;
	
  }

  .search-form {
	background:#003d9d;
	border-radius:50px;
	transition-duration: .3s;
	  transition-property: all;
	  transition-timing-function: ease;
	  transition-delay: 0s;
	  color:#fff
  }

  .search-form:hover {
	background:#fff;
  }

  .search-form .search-label {
	color:#fff;
	font-size:.9em;
	position:relative;
	top:5px;
	margin-left:14px;
  }
  
  .search-form:hover .search-label {
	color:#1D2574;
  }
  
  .search-form ::placeholder { 
	color:#92c5de;
	opacity: 1; 
	font-size:.9em;
  }
  
  .search-form :-ms-input-placeholder { 
	color:#92c5de;
  }
  
  .search-form ::-ms-input-placeholder {
	color:#92c5de;
  }

    .search-form:hover ::placeholder {
	color: #416aac;
  }
  .search-form:hover :-ms-input-placeholder  {
	color: #416aac;
  }
  .search-form:hover ::-ms-input-placeholder {
	color: #416aac;
  }
  
  .search-form:hover .search-header-btn {
	color: #003d9d;
  }
  
  .search-form:hover .header-search-field {
	color: #000;
  }
  .search-form .header-search-field {
	color: #fff;
  }
  .search-form .header-search-field:focus {
	color: #fff;
  }
  .search-form:hover .header-search-field:focus {
	color: #000;
  }


  /*translate*/
  .translate {
	position:relative;
	padding-right: 30px;
  }
  .translate::after {
	display:none !important;
  }  
  
  button#dropdown-menu-button {
	  transition-duration: .3s;
	  transition-property: all;
	  transition-timing-function: ease;
	  transition-delay: 0s;
	  padding-left:14px;
	  padding-right: 14px;
  }
  button#dropdown-menu-button:hover {
	background-color:transparent;
	border-color:transparent;
	color: #ecca00;
  }
  
  
  button#dropdown-menu-button[aria-expanded="false"] .rotate {
	  right: 2px;
	  top: 1px;
	  width: 20px;
	  height: 20px;
	  position: absolute;
	  
	  text-align: center;
	  transition: all .2s ease !important;
  }
  button#dropdown-menu-button[aria-expanded="true"] .rotate {
   transform: rotate(90deg) !important;
   right: -5px;
	  top: 6px;
	  width: 20px;
	  height: 20px;
	  position: absolute;
	  text-align: center;
  }
  
  
  @media (max-width: 767px) {
   .utility-nav li {
	  margin-bottom: 10px !important;
	}
  }

/*Footer Styles*/

.footer-ca-all-logo {
	padding:0 70px 0 70px;
  }
  
  
  .footer-logo {
	text-decoration:none !important;
	background:none !important;
	margin: 0 auto;
  
  }
  
  @media (min-width: 768px) and (max-width: 992px)  {
  .footer-ca-all-logo {
	padding:0 20px 0 20px;
  }
	 
   }
  
  
  @media (max-width: 767px) {
  .footer-ca-all-logo {
	padding:0 200px 0 200px;
  }
	.footer-logo {
	  display: block;
	  margin: 0 auto;
	}
	 
   }
   
  .logo-mark {
	width: 100%;
  }
  .logo-mark-white {
	fill: #fff;
	transition: fill 0.5s cubic-bezier(0.57,0.2,0.21,0.89);
  }
  .logo-mark-orange {
	fill: #ff8000;
	transition: fill 0.5s cubic-bezier(0.57,0.2,0.21,0.89);
  }
  
  .footer-logo:hover .logo-mark-white {
	fill: #ff8000;
  }
  .footer-logo:hover .logo-mark-orange {
	fill: #fff;
  }
  
  
  
  
  .footer-links {
	list-style:none !important;
	font-weight:700;
  }
  
  
  
  .btn-social {
   padding:13px 10px 8px 10px;
	border-radius:50px;
  }
  
  .btn-social span {
	font-size:1.5rem !important;
  }

	
/*Media Queries*/


@media (max-width: 768px) {

	main {
		padding-top: 237px
	}

	.hero-text {

		min-height: 20vh;
	}

	header {
		position: absolute;
	}

}

.dropdown-toggle::after {
	font-family: 'CaGov' !important;
	speak: none;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	font-size: larger;
	content: "\33";
	display: inline-block;
	margin-left: 0;
	vertical-align: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	-webkit-font-smoothing: antialiased;
}

