cagov-reopening {
  .reopening-fields {
    text-align: center;
    padding: 30px;
    background-color: #f3f5fc;
    margin: 20px 0;

    button[type="submit"] {
      display: block;
      margin: 20px auto;
    }
  }
}
