.safer-economy-page {
  .jumbotron + .container {
    padding-top: 0;
  }
  .jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .matrix-holder {
    cagov-accordion {
      .accordion-title h4 {
        font-weight: 300;
      }
    }
  }
}

cagov-reopening {
  .subtitle-color {
    color: #1f2574;
  }
  .reopening-activities {
    margin-top: 20px;
    label {
      font-weight: bold;
    }
    #awesomplete_list_2 {
      max-height: 283px;
      overflow: scroll;
    }
  }
  /* bootstrap override */
  .form-row > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }

  .reopening-form-group {
    padding-bottom: 1.5rem;

    @include small-phone {
      padding-bottom: 3rem;
    }
  }

  .reopening-fields {
    text-align: center;
    padding: 20px;
    background-color: #f3f5fc;
    margin: 0 0 1.2% 0;

    @include tablet {
      padding: 50px;
    }

    input {
      font-size: 1.2rem;
    }
    button[type="submit"] {
      display: block;
      margin: 10px auto;
      height: 50px;
      font-size: 1.15rem;
      padding: 0.5rem 1.3rem;
      background-color: #003d9d;
    }
  }
  .visually-hidden {
    visibility: hidden;
  }
  .awesomplete {
    ul {
      text-align: left;
      li:hover,
      li[aria-selected="true"] {
        mark {
          background: transparent;
        }
      }
    }
    mark {
      background: transparent;
      font-weight: bold;
      padding: 0;
    }
  }

  .reopening-field-error {
    position: absolute;
    bottom: 1rem;

    @include tablet {
      bottom: 0;
    }
  }

  .reopening-form-error {
    margin-top: -1rem;
  }

  .card-content {
    margin: 0;
    padding: 15px 0 30px 0;
    background: #fff;
  }
  .county-container {
    padding: 0 30px 0 30px;
  }
  .card-county,
  .card-activity {
    padding: 0 30px 30px 30px;
  }
  .card-county {
    margin: 5px 0 0 0;
  }
  .card-activity {
    text-align: left;
    background-color: #fff;
    padding: 30px 30px 0 30px;
  }
  .card-activity:not(:last-of-type) .card-activity-separator:after {
    margin: 30px 0 0 0;
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    border-bottom: solid 1px;
  }

  .card-activity:last-of-type .card-activity-separator:after {
    border-bottom: none;
    margin: 0; 
  }

  .pill {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 500;
    margin: 10px 0 20px 0;
    color: #000;
    text-transform: uppercase;
  }

  .county-color-1,
  .county-color-2,
  .county-color-3,
  .county-color-4 {
    padding: 20px 15px 25px 15px;
    margin-bottom: 20px;
  }

  .county-color-1 {
    background-color: #faf1d7;
    border-bottom: 8px solid #e6b735;
    .pill {
      background-color: #e6b735;
    }
  }
  .county-color-2 {
    background-color: #f7e4d9;
    border-bottom: 8px solid #d97641;
    .pill {
      background-color: #d97641;
    }
  }
  .county-color-3 {
    background-color: #f3d8dd;
    border-bottom: 8px solid #c43d53;
    .pill {
      background-color: #c43d53;
      color: #fff;
    }
  }
  .county-color-4 {
    background-color: #e6d5e1;
    border-bottom: 8px solid #802f67;
    .pill {
      background-color: #802f67;
      color: #fff;
    }
  }
  .mt-20 {
    margin-top: 20px;
  }
  .btn-primary {
    text-transform: uppercase;
  }
}
.card-title .card-title {
  display: none;
  @include tablet {
    display: block;
  }
}

.matrix-holder {
  margin-bottom: 30px;
}

.matrix-row {
  margin-top: 0px;
  // phone
  @media (max-width: 767.98px) {
    .card {
      margin-bottom: 0;
    }
    .card-body {
      padding: 0 0 0.75rem 0;
      //text-align: center;
      .btn-matrix {
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-size: 1.4rem;
      }
      .matrix-h5 {
        margin-bottom: 0;
        font-size: 1.2rem;
        font-weight: 300;
      }
      p.card-text {
        font-size: 1rem !important;
        margin-top: 0 !important;
      }
    }
  }
  // tablet and up
  @media (min-width: 768px) {
    .card-body {
      padding: 1.2rem 0.45rem;
      .matrix-h5 {
        font-size: 1.18rem !important;
        font-weight: 700;
        margin-bottom: 0.3rem;
        line-height: 1.2;
      }
    }
  }
  .card-header {
    display: none;
    // tablet and up
    @media (min-width: 768px) {
      display: block;
    }
  }
}

/* Gross hacky CSS for launch day. Refactor later. */
.safer-economy-page {
  main {
    & div.container-fluid:nth-of-type(1n) {
      & h1,
      p {
        text-align: center;
      }
      & .row {
        justify-content: center !important;
      }
    }
    & div.container:nth-of-type(2n) {
      & p {
        font-size: 1.25rem;
      }
      & .row {
        justify-content: center !important;
      }
    }
  }
  h2 {
    text-align: center;
  }
}

button.clear {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 50px;
  color: $darkblue;
  font-weight: 300;
  transition: all 0.3s ease;
  span.ca-gov-icon-close-line {
    transition: all 0.3s ease;
    position: relative;
  }
  &:hover {
    span.ca-gov-icon-close-line {
      transform: scale(1.2);
      display: inline-block;
    }
  }
}

// tablet and up
@media (min-width: 768px) {
  .bd-right-white {
    border-right: solid 2px #fff !important;
  }
}

// hiding empty cell text
.matrix-row:nth-child(3) .col-md-3:nth-child(4) {
  .card-body {
    display: none;
  }
  .d-md-none {
    display: none;
  }
}

.tableauPlaceholder {
  margin: 0 auto;
}

// table styles
figure.table-gridded table {
  font-size: 0.95rem !important;
  line-height: 1.4rem;
  td {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 40px;
    border-bottom: 1px solid #F2F5FC;
  }
}
