@import './arrows';
@import './headline';

.header-logo {
	margin: 0;
	width: 100%;
	order: 4
}

@media (max-width:64em) {
	.header-logo {
		background: #1e2673
	}
}

@media (min-width:48em) {
	.header-logo {
		background: transparent;
		order: 0;
		width: auto
	}
}

.header-logo-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center
}

.header-logo-mark {
	width: 6rem;
	display: block;
	background: #003d9d;
	padding: 0.5rem 0.75rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
	transition: width 0.4s cubic-bezier(0.57, 0.2, 0.21, 0.89), background 0.4s cubic-bezier(0.57, 0.2, 0.21, 0.89);
	overflow-y: hidden
}

@media (min-width:81.25em) {
	.header-logo-mark {
		width: 7rem;
		padding: 1rem 0.75rem
	}
}

.header-logo-text {
	text-align: left;
	padding-left: 0.75rem
}

.header-logo-text-url {
	color: #ff8000;
	font-size: larger;
	text-transform: uppercase;
	display: block;
	transition: color 0.4s cubic-bezier(0.57, 0.2, 0.21, 0.89)
}

.header-logo-text-title {
	color: #fff;
	white-space: nowrap;
	display: block;
	transition: color 0.4s cubic-bezier(0.57, 0.2, 0.21, 0.89)
}

@media (max-width:64em) {
	.header-logo-text-title {
		font-size: 1.2rem
	}
}

.header-logo:hover .header-logo-mark {
	background: #fff
}

.header-logo:hover .header-logo-text-url {
	color: #fff
}

.header-logo:hover .header-logo-text-title {
	color: #ff8000
}

.header-logo:hover .logo-mark-orange {
	fill: #1f2574
}

.header-logo:hover .logo-mark-white {
	fill: #ff8000
}

.header-logo:focus .header-logo-mark {
	background: #fff;
	box-shadow: 0 0 0 4px #ecca00, 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.3)
}

.header-logo:focus .header-logo-text-url {
	color: #fff
}

.header-logo:focus .header-logo-text-title {
	color: #ff8000
}

.header-logo:focus .logo-mark-orange {
	fill: #1f2574
}

.header-logo:focus .logo-mark-white {
	fill: #ff8000
}

.header-right {
	margin-left: 0
}

.header-search {
	background: #003d9d;
	border-radius: 2rem;
	transition: background 0.5s cubic-bezier(0.57, 0.2, 0.21, 0.89);
	padding: 0;
	margin: 0.5rem 0.5rem 0.5rem auto;
	width: 55%;
	order: 2
}

@media (min-width:48em) {
	.header-search {
		width: 13rem;
		padding: 0 0 0 0.25rem;
		margin: 0;
		order: 0;
		margin-left: auto
	}
}

@media (min-width:64em) {
	.header-search {
		width: 22rem;
		padding: 0.25rem 0.25rem 0.25rem 0.75rem
	}
}

@media (min-width:81.25em) {
	.header-search {
		width: 25rem;
		padding: 0.5rem 0.5rem 0.5rem 1rem
	}
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
	.fixed .header .logo-mark {
		max-height: 3.5rem
	}
}

.fixed .header-logo-mark {
	width: 5rem
}

@media (min-width:48em) {
	.fixed .header-logo-mark {
		width: 6rem
	}
}

.logo-mark {
	width: 100%
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
	.logo-mark {
		max-height: 5rem
	}
}

.logo-mark-orange {
	fill: #ff8000;
	transition: fill 0.5s cubic-bezier(0.57, 0.2, 0.21, 0.89)
}

.logo-mark-white {
	fill: #fff;
	transition: fill 0.5s cubic-bezier(0.57, 0.2, 0.21, 0.89)
}

.logo:hover .logo-orange {
	fill: #fff
}

.logo:hover .logo-white {
	fill: #ff8000
}


.hero {
	position: relative;
	color: #fff;
	width: 100%
}

@media (min-width:48em) {
	.hero {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: flex-end
	}
}

.hero-wrap {
	position: relative;

}

@media (min-width:48em) {
	.hero-wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-end;
		align-items: flex-start;
		padding: 1rem 1rem 0
	}
}

@media (min-width:81.25em) {
	.hero-wrap {
		padding: 0
	}
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
	.hero-wrap {
		margin: 0
	}
}

.hero-text {
	display: flex;
	text-align: left;
	padding: 1.5rem;
	min-height: 60vh;
	align-items: flex-end;
	align-self: flex-end
}

@media (min-width:48em) {
	.hero-text {
		display: flex;
		width: 50%;
		min-height: auto;
		align-self: flex-end
	}
}

@media (min-width:64em) {
	.hero-text {
		width: 60%;
		top: -7vh;
	}
}

.hero-text-align {
	width: 100%;
	height: 100%
}

@media (min-width:48em) {
	.hero-text-align {
		height: auto
	}
}

.hero-headline {
	margin-bottom: 0.5rem;
	text-align: left;
	color: #fff;
	font-weight: 900
}

.hero-headline:hover .hero-headline-background {
	background-color: #fff;
	color: #1f2574
}

.hero-headline-link:focus {
	outline: 3px solid #ecca00
}

.hero-headline-link:focus .hero-headline-background {
	color: #003d9d
}

.hero-headline-background {
	background: #92c5de;
	color: #1f2574;
	padding: 0 0.2em;
	line-height: 1.2;
	transition: background 0.6s cubic-bezier(0.57, 0.2, 0.21, 0.89);
	-moz-box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone
}

.hero-photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
	.hero-photo {
		height: auto!important
	}
}

.hero-photo-pic {
	width: 100%;
	height: 70vh;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover
}

@media (min-width:48em) {
	.hero-photo-pic {
		width: 100%;
		height: 100%
	}
}

.hero-photo-description {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal!important
}

.hero-photo-description:focus {
	background: #ff8000;
	color: #fff;
	clip: auto!important;
	display: inline-block;
	font-size: 1rem;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100000;
	line-height: normal;
	padding: 0.5rem;
	width: auto
}

.hero-photo-fade {
	width: 100%;
	height: 10rem;
	background: linear-gradient(to bottom, #1f2574 0%, rgba(31, 37, 116, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100
}

.hero-stats {
	background: #1f2574;
	padding: 2rem 1.5rem;
	box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.3);
	align-self: flex-end
}

@media (min-width:48em) {
	.hero-stats {
		background: #003d9d;
		padding: 2rem;
		margin: 3rem auto 2rem;
		width: 50%;
		transition-delay: 0.9s
	}
}

@media (min-width:64em) {
	.hero-stats {
		padding: 2.25rem;
		width: 40%;
		margin: 3.5rem auto 2rem
	}
}

@media (min-width:81.25em) {
	.hero-stats {
		padding: 3rem;
		margin: 4rem auto 2rem
	}
}

.hero-stats-headline {
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 2rem
}

@media (min-width:48em) {
	.hero-stats-headline {
		font-size: 1.4rem
	}
}

@media (min-width:64em) {
	.hero-stats-headline {
		font-size: 1.8rem
	}
}

@media (min-width:81.25em) {
	.hero-stats-headline {
		font-size: 2.4rem
	}
}

.hero-stats-subheadline {
	margin: 0.5rem auto 1rem;
	color: #fff;
	font-weight: 300;
	font-size: 0.85rem
}

@media (min-width:81.25em) {
	.hero-stats-subheadline {
		font-size: 1rem
	}
}

.hero-stats-tabs {
	list-style: none;
	margin: 2rem auto 1rem;
	padding: 0
}

.hero-stats-tabs-item {
	padding: 0;
	display: inline-block
}

.hero-stats-tabs-item.active .hero-stats-tabs-button {
	background: #92c5de;
	color: #1f2574;
	cursor: auto
}

.hero-stats-tabs-item.active .hero-stats-tabs-button:focus,
.hero-stats-tabs-item.active .hero-stats-tabs-button:focus-within {
	background: #fff;
	color: #1f2574;
	box-shadow: 0 0 0 2px #ecca00
}

.hero-stats-tabs-button {
	border: 0;
	background: transparent;
	border-radius: 1.25rem;
	padding: 0.5rem 0.75rem;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	transition: color 0.3s cubic-bezier(0.57, 0.2, 0.21, 0.89), background 0.3s cubic-bezier(0.57, 0.2, 0.21, 0.89), box-shadow 0.3s cubic-bezier(0.57, 0.2, 0.21, 0.89)
}

@media (min-width:48em) {
	.hero-stats-tabs-button {
		font-size: 85%
	}
}

@media (min-width:81.25em) {
	.hero-stats-tabs-button {
		font-size: 1rem
	}
}

.hero-stats-tabs-button:hover {
	background: #1f2574
}

.hero-stats-tabs-button:active {
	background: #ff8000
}

.hero-stats-tabs-button:focus,
.hero-stats-tabs-button:focus-within {
	background: #fff;
	color: #1f2574;
	box-shadow: 0 0 0 2px #ecca00
}

.hero-stats-slider {
	width: 100%;
	overflow: hidden;
	position: relative
}

.hero-stats-slider .slick-slide {
	width: 100%
}

.hero-stats-row {
	background-color: #1f2574;
	padding: 1.5rem 0.1rem;
	border-bottom: 1px solid #003d9d;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: left
}

@media (min-width:48em) {
	.hero-stats-row {
		align-items: center;
		background-color: #003d9d;
		border-bottom: 1px solid #1f2574
	}
}

@media (min-width:64em) {
	.hero-stats-row {
		flex-wrap: nowrap
	}
}

.hero-stats-row-label {
	width: 100%;
	margin-bottom: 0.5rem
}

@media (min-width:48em) {
	.hero-stats-row-label {
		margin-top: 0
	}
}

@media (min-width:64em) {
	.hero-stats-row-label {
		width: 25%
	}
}

.hero-stats-row-label-text {
	background: #003d9d;
	padding: 0.5rem 0.75rem;
	font-size: 0.9rem;
	border-radius: 1rem;
	color: #f2f5fc;
	display: inline-block;
	white-space: nowrap
}

@media (min-width:48em) {
	.hero-stats-row-label-text {
		background: #1f2574
	}
}

.hero-stats-row-figure {
	flex: 1 0 auto;
	width: 55%;
	font-size: 2rem
}

@media (min-width:48em) {
	.hero-stats-row-figure {
		padding: 0 0.75rem;
		font-size: 1.9rem
	}
}

@media (min-width:64em) {
	.hero-stats-row-figure {
		width: 40%
	}
}

@media (min-width:81.25em) {
	.hero-stats-row-figure {
		padding: 0 1rem;
		font-size: 2.1rem
	}
}

.hero-stats-row-details {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
	width: 45%
}

@media (min-width:48em) {
	.hero-stats-row-details {
		font-size: 1.05rem
	}
}

@media (min-width:64em) {
	.hero-stats-row-details {
		width: 30%;
		font-size: 1.05rem
	}
}

@media (min-width:81.25em) {
	.hero-stats-row-details {
		font-size: 1.15rem
	}
}

.hero-stats-footer {
	margin-top: 1.5rem
}

.hero-stats-footer-link {
	text-transform: uppercase;
	color: #f2f5fc;
	border-radius: 1.25rem;
	padding: 0.5rem 0.75rem;
	transition: background 0.3s cubic-bezier(0.57, 0.2, 0.21, 0.89);
	font-size: 0.85rem
}

@media (min-width:48em) {
	.hero-stats-footer-link {
		font-size: 85%;
		white-space: nowrap
	}
}

@media (min-width:64em) {
	.hero-stats-footer-link {
		padding: 0.5rem 1rem;
		font-size: 1rem
	}
}

.hero-stats-footer-link:hover {
	background: #003d9d
}

@media (min-width:48em) {
	.hero-stats-footer-link:hover {
		background: #1f2574
	}
}

.hero-stats-footer-link:focus {
	background: #fff;
	color: #1f2574;
	box-shadow: 0 0 0 2px #ecca00
}

.hero-alert {
	background: #fff;
	border-bottom: 0.5rem solid #ff8000;
	width: 100%;
	text-align: left;
	box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.3);
	color: #000
}

@media (min-width:48em) {
	.hero-alert {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		position: relative;
		top: 5rem
	}
}

.hero-alert-align {
	padding: 2rem;
	text-align: center
}

@media (min-width:48em) {
	.hero-alert-align {
		text-align: left;
		display: flex;
		align-items: center;
		width: 50%;
		padding: 1.5rem
	}
}

@media (min-width:64em) {
	.hero-alert-align {
		width: 60%;
		padding: 2rem
	}
}

@media (min-width:81.25em) {
	.hero-alert-align {
		padding: 2.5rem
	}
}

.hero-alert-icon {
	width: 4rem;
	height: 4rem;
	fill: #1f2574;
	display: block;
	margin: 0 auto 1rem auto;
	position: relative
}

@media (min-width:48em) {
	.hero-alert-icon {
		width: 3rem;
		height: 3rem;
		margin: 0 1rem 0 0;
		flex: 1 0 auto;
		top: 0.5rem;
		align-self: flex-start
	}
}

.hero-alert-headline {
	color: #1f2574;
	line-height: 1.2;
	margin-bottom: 0.25rem
}

@media (min-width:81.25em) {
	.hero-alert-headline {
		margin-bottom: 0.5rem
	}
}

.hero-alert-blurb {
	font-size: 1.2rem;
	line-height: 1.4
}

.hero-alert-blurb a {
	color: #003d9d;
	transition: all 0.3s cubic-bezier(0.5, 1.65, 0.4, 0.8);
	position: relative;
	box-shadow: inset 0 -0.1rem 0 0 #1f2574
}

.hero-alert-blurb a:hover {
	color: #fff;
	box-shadow: inset 0 -1rem 0 0 #1f2574
}

.hero-alert-blurb a:focus-within {
	background: #fff;
	box-shadow: inset 0 0 0 0 #ff8000;
	text-decoration: none
}

.hero-alert-blurb p {
	margin-bottom: 0
}

.hero-alert-social {
	background: #fff;
	text-align: center;
	padding: 2rem
}

@media (min-width:48em) {
	.hero-alert-social {
		width: 50%;
		padding: 1.5rem;
		display: flex;
		align-items: center
	}
}

@media (min-width:64em) {
	.hero-alert-social {
		padding: 2rem;
		width: 40%
	}
}

@media (min-width:81.25em) {
	.hero-alert-social {
		padding: 3rem 2rem
	}
}

.hero-alert-social-align {
	width: 100%
}

.hero-alert-social-headline {
	color: #1f2574;
	margin-bottom: 0;
}

.hero-alert-social .social-link {
	background: #1f2574
}

.hero-alert-social .social-link:hover {
	background: #003d9d
}

.hero-alert-social .social-link:hover .social-icon {
	fill: #fff
}


.social {
	display: inline-block;
	vertical-align: middle
}

.social-link {
	background: #ff8000;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: inline-block;
	padding: 0.5125rem;
	margin: 0 0.25rem;
	transition: fill 0.5s cubic-bezier(0.5, 1.65, 0.4, 0.8), transform 0.5s cubic-bezier(0.5, 1.65, 0.4, 0.8)
}

.social-link:hover {
	background: #92c5de;
	transform: scale(1.1)
}

.social-link:hover .social-icon {
	fill: #1f2574
}

.social-link:focus,
.social-link:focus-within {
	background: #fff!important;
	box-shadow: 0 0 0 2px #ecca00
}

.social-link:focus-within .social-icon,
.social-link:focus .social-icon {
	fill: #1f2574!important
}

.social-icon {
	width: 100%;
	height: 100%;
	fill: #fff;
	transition: fill 0.5s cubic-bezier(0.5, 1.65, 0.4, 0.8)
}


.button {
	display: inline-flex;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	margin: 1rem 0 0 0;
	color: #003d9d;
	padding: 0.15rem
}

@media (min-width:48em) {
	.button {
		margin: 1.25rem 0 0 0
	}
}

@media (min-width:81.25em) {
	.button {
		margin: 1.75rem 0 0 0
	}
}

.button-label {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	display: inline-flex;
	align-items: center;
	margin-right: 1rem;
	transition: all 0.2s ease-in-out;
	color: #1f2574
}

.button-arrow-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.button-arrow,
.button-primary-circle {
	position: absolute;
	transition: 1.2s cubic-bezier(0.15, 0.92, 0.14, 0.95);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.button-primary-circle {
	width: 100%;
	height: 100%;
	border: 2px solid;
	border-radius: 100%;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.button-icon {
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center
}

@media (min-width:48em) {
	.button-icon {
		width: 50px;
		height: 50px;
		min-width: 50px;
		min-height: 50px
	}
}

@media (min-width:81.25em) {
	.button-icon {
		width: 3.125vw;
		height: 3.125vw;
		min-width: 3.125vw;
		min-height: 3.125vw
	}
}

@media (min-width:112.5em) {
	.button-icon {
		width: 60px;
		height: 60px;
		min-width: 60px;
		min-height: 60px
	}
}

.button-arrow {
	left: 50%;
	top: 50%;
	width: 16px;
	min-width: 16px;
	height: 1rem;
	transform: translate(-50%, -50%)
}

@media (min-width:112.5em) {
	.button-arrow {
		width: 1.0416vw;
		min-width: 1.0416vw
	}
}

.button-arrow:last-of-type {
	transform: translate(-275%, -50%)
}

.button-inline-svg {
	position: relative;
	display: block;
	width: 100%;
	height: 1rem
}

.button-inline-svg-art {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	stroke: #003d9d
}

.button:hover .button-label {
	color: #003d9d
}

.button:hover .button-primary-circle {
	border-color: #1f2574;
	transform: scale(1.15)
}

.button:hover .button-arrow {
	transform: translate(275%, -50%)
}

.button:hover .button-arrow:last-of-type {
	transform: translate(-50%, -50%)
}

.button:hover .button-arrow:last-of-type-art {
	stroke: #ff8000
}

.button:focus .button-label {
	color: #003d9d
}

.button:focus .button-primary-circle {
	background: #ff8000;
	border-color: #1f2574;
	transform: scale(1.15)
}

.button:focus .button-arrow {
	transform: translate(275%, -50%)
}

.button:focus .button-arrow:last-of-type {
	transform: translate(-50%, -50%)
}

.button:focus .button-arrow:last-of-type-art {
	stroke: #ecca00
}

.button.orange-button {
	color: #92c5de
}

.button.orange-button .button-label {
	color: #92c5de!important
}

.button.orange-button .button-primary-circle {
	border-color: #92c5de
}

.button.orange-button .button-inline-svg {
	color: #92c5de
}

.button.orange-button:hover .button-label {
	color: #fff!important
}

.button.orange-button:hover .button-primary-circle {
	border-color: #fff
}

.button.orange-button:hover .button-inline-svg {
	color: #fff
}

.button.orange-button:focus .button-label {
	color: #ff8000!important
}

.button.orange-button:focus .button-primary-circle {
	background-color: #fff;
	border-color: #ecca00
}

.button.orange-button:focus .button-inline-svg {
	color: #ff8000
}


.button-label,
.footer-nav-link {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem
}

@media (min-width:48em) {
	.button-label,
	.footer-nav-link {
		font-size: 1.1rem
	}
}

@media (min-width:81.25em) {
	.button-label,
	.footer-nav-link {
		font-size: 1.15rem
	}
}

@media (min-width:100em) {
	.button-label,
	.footer-nav-link {
		font-size: 1.2rem
	}
}

@media (min-width:112.5em) {
	.button-label,
	.footer-nav-link {
		font-size: 1.25rem
	}
}


.hero-alert {
	background: #fff;
	border-bottom: 0.5rem solid #ff8000;
	width: 100%;
	text-align: left;
	box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.3);
	color: #000
}

@media (min-width:48em) {
	.hero-alert {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		position: relative;
		top: 5rem
	}
}

.hero-alert-align {
	padding: 2rem;
	text-align: center
}

@media (min-width:48em) {
	.hero-alert-align {
		text-align: left;
		display: flex;
		align-items: center;
		width: 50%;
		padding: 1.5rem
	}
}

@media (min-width:64em) {
	.hero-alert-align {
		width: 60%;
		padding: 2rem
	}
}

@media (min-width:81.25em) {
	.hero-alert-align {
		padding: 2.5rem
	}
}

.hero-alert-icon {
	width: 4rem;
	height: 4rem;
	fill: #1f2574;
	display: block;
	margin: 0 auto 1rem auto;
	position: relative;
	font-size: 3.5rem;
}

@media (min-width:48em) {
	.hero-alert-icon {
		width: 3rem;
		height: 3rem;
		margin: 0 2rem 0 0;
		flex: 1 0 auto;
		top: 0.5rem;
		align-self: flex-start
	}
}

.hero-alert-headline {
	font-size: 1.5rem;
	color: #1f2574;
	line-height: 1.2;
	margin-bottom: 0.25rem
}

@media (min-width:81.25em) {
	.hero-alert-headline {
		margin-bottom: 0.5rem
	}
}

.hero-alert-blurb {
	line-height: 1.4
}

.hero-alert-blurb a {
	color: #003d9d;
	transition: all 0.3s cubic-bezier(0.5, 1.65, 0.4, 0.8);
	position: relative;
	box-shadow: inset 0 -0.1rem 0 0 #1f2574
}

.hero-alert-blurb a:hover {
	color: #fff;
	box-shadow: inset 0 -1rem 0 0 #1f2574
}

.hero-alert-blurb a:focus-within {
	background: #fff;
	box-shadow: inset 0 0 0 0 #ff8000;
	text-decoration: none
}

.hero-alert-blurb p {
	margin-bottom: 0
}

.hero-alert-social {
	background: #fff;
	text-align: center;
	padding: 2rem
}

@media (min-width:48em) {
	.hero-alert-social {
		width: 50%;
		padding: 1.5rem;
		display: flex;
		align-items: center
	}
}

@media (min-width:64em) {
	.hero-alert-social {
		padding: 2rem;
		width: 40%
	}
}

@media (min-width:81.25em) {
	.hero-alert-social {
		padding: 3rem 2rem
	}
}

.hero-alert-social-align {
	width: 100%
}

.hero-alert-social-headline {
	font-size: 1.2rem;
	color: #1f2574;
}

.hero-alert-social .social-link {
	background: #1f2574
}

.hero-alert-social .social-link:hover {
	background: #003d9d
}

.hero-alert-social .social-link:hover .social-icon {
	fill: #fff
}
