cwds-survey, cwds-vaccinesurvey {
  position: relative;
  display: block;
  z-index: 998;
  .survey {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0 0 1rem 0;
    border-bottom: 0.5rem solid #ff8000;
    &-content {
      text-align: center;
      &-prompt {
        font-size: 1.25rem;
        margin: 1.5rem 0 .5rem 0;
        font-weight: 300;
      }
      &-go {
        color: $darkblue;
        background-color: $orange;
        &:hover {
          color: $darkblue !important;
          background-color: $yellow;
        }
        button, button:hover {   
          background-color: inherit;
          color: inherit;
        }
      }
      &-go, &-dismiss {
        margin: .5rem .25rem;
        transition: background 0.3s $slow-curve;
      }
      &-go button, &-dismiss {
        font-size: 100%;
        font-family: inherit;
        border: 0;
        padding: 0;
      }
    }
  }
}