@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

cwds-survey {
  /* transition: transform 0.3s ease, height 0.3s ease;
  animation: 0.3s ease 0s 1 slideDown; 
  &.putaway {  
    transform: translateY(-100%);
  }*/
  position: relative;
  display: block;
  z-index: 998;
  .survey {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0 0 1rem 0;
    border-bottom: 0.5rem solid #ff8000;
    /* max-width: 48rem; */
    &-content {
      text-align: center;
      &-prompt {
        font-size: 1.25rem;
        margin: .5rem 0 .5rem 0;
        font-weight: 700;
      }
    }
  }
}