---
title: 加州的冠状病毒 (COVID-19) 情况
meta: COVID-19 是一种新的疾病，可能会影响人的肺部和气道，导因就是冠状病毒。
author: State of California alpha.ca.gov team
tags: ["lang-zh-Hans"]
addtositemap: true
permalink: /zh-hans/index.html
varLatestNews: "有关COVID-19的最新消息"
varViewMoreNews: "查看更多新闻"
varStatsHeader: "跟踪COVID-19"
varTotalCases: "案件总数"
varTotalDeaths: "死者总数"
varTestsReported: "报告的测试"
varPercentIncrease: "%"
varCountyMap: 县地图
varStateSummary: 状态摘要
varDataAndTools: COVID-19数据和工具
varUpdateText: "[UpdatedDate]更新的数字 从[DataDate]开始提供信息"
varHeroTitle: 您的行动可拯救生命
varHeroP1: 查看县地图，看看有什么开放
varHeroP2: 佩戴口罩、清洗双手、与他人保持距离。
varHeroAlertSocial: 查看州长的更新
varVideoTitle: 影片资源
varVideoWearAMask: 请佩戴口罩
varVideoP1: 即使没有症状，您也可能使他人接触到新型冠状病毒请戴上口罩以减缓传播。
varVideoWatchTheVideo: 观看影像
varPeopleWantToKnowTitle: 民众想要了解的信息
varVideoID: 1zDX9PXkotA
---

{% extends '../../_includes/main.njk' %}