cagov-chart-d3-bar {
  // Override width
  h2 {
    margin-top: 3rem;
  }
  .chart-title {
    max-width: 633px;
    margin: 50px auto 20px;
    border-bottom: solid 1px;
  }
  .svg-holder {
    max-width: 633px;
  }
  .bar-chart-label.label {
    font-size: 1rem;
  }
  .bar-label tspan {
    font-weight: 100;
    font-size: 0.85rem;
  }
  .bar-label tspan.bold {
    font-weight: bold;
  }
  .tick text {
    font-size: 0.85rem;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .chart-title {
      margin: 50px 20px 20px 20px;
    }
    .tick text {
      font-size: 0.55rem !important;
      font-weight: 500;
    }
    .xaxis-label {
      font-size: 0.75rem !important;
    }
    .label.bar-chart-label {
      font-size: 0.75rem !important;
    }
}

  @media (max-width: 520px) {
    
      .tick text {
        font-size: 0.5rem !important;
        font-weight: 500;
      }
      .bar-label tspan {
        font-size: 0.6rem !important;
      }
      .xaxis-label {
        font-size: 0.75rem !important;
        font-weight: 600;
      }
      .label.bar-chart-label {
        font-size: 0.75rem !important;
      }
    
  }
}
