cagov-chart-vaccination-groups-race-ethnicity {  
  .svg-holder svg {
    height: 662px;
    width: 613px;
  }
}
cagov-chart-vaccination-groups-age {  
  .svg-holder svg {
    height: 362px;
    width: 613px;
  }
}
cagov-chart-vaccination-groups-gender {  
  .svg-holder svg {
    height: 302px;
    width: 613px;
  }
}

svg .tick text {
  text-anchor: start;
}
