name: Eleventy Build Master
on:
  push:
    branches:
      - master
jobs:
  build_deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - uses: n1hility/cancel-previous-runs@v2
        with: 
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: cagov/actions-eleventy@3.1
        with:
          build_task: build
          build_eleventy_args: --formats=html,njk --input ./pages --output ./docs
      - name: Save Commit Context
        uses: finnp/create-file-action@master
        env:
            FILE_NAME: "commit-info.json"
            FILE_DATA: ${{ toJson(github.event.commits) }}
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./docs
          publish_branch: deploy_production
          commit_message: ${{ github.event.head_commit.message }}