name: Eleventy PR Validation
on:
  pull_request:
    branches: [ master, hellofastcharts, preproduction, dependabotprs ]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Build 11ty
        run: |
          npm install
          npm run build
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm test
        run: |
          npm test
        env:
          CI: true        
