name: Eleventy Build Master
on:
  push:
    branches:
      - master

jobs:
  build_deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Build
        uses: cagov/actions-eleventy@v1.4.1
        with:
          args: --formats=html,njk --input ./pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v1.1.0
        env:
          PUBLISH_DIR: ./docs 
          PUBLISH_BRANCH: deploy_production
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
