name: Preproduction deploy - AWS
on:
  push:
    branches:
      - preproduction

# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allows you to call this workflow from another workflow -- see equity_deploy_staging.yml
  workflow_call:

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: preproduction
          submodules: true
      - uses: n1hility/cancel-previous-runs@v2
        with: 
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build 11ty
        run: |
          npm install
          npm run build
      - name: Save Commit Context
        uses: finnp/create-file-action@master
        env:
            FILE_NAME: "./docs/commit-info.json"
            FILE_DATA: ${{ toJson(github.event.commits) }}

      # Push built site files to S3 production bucket    
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1

      # Push built site files to S3 production bucket   
      - name: Deploy to S3
        run: aws s3 sync --follow-symlinks --delete ./docs s3://preproduction.covid19.ca.gov

      #
      # Invalidate Cloudfront production distribution (everything under data)
      # doc on invalidation paths: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Invalidation.html#invalidation-specifying-objects-paths
      - name: invalidate Cloudfront
        run: aws cloudfront create-invalidation --distribution-id E1MPH2GJ794W3D --paths "/*"
        