name: Eleventy PR Validation
on:
  pull_request:
    branches: [ task/CCG-829-e2e-test ]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Build
        uses: cagov/actions-eleventy@2.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm test
        run: |
          npm test
        env:
          CI: true